[2020-01-10 13:13] robstoll opened #300 "show only java's qualified name if kotlin type differ from java type"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]
the output:
[code]
We would like to change it to:
[code]
or in other words remove `List`

Following the things you need to do:

*lib*
- [x] adopt `DetailedObjectFormatter.format(kClass)` for jvm
- [x] run `./gr build`, most likely specs fail and need to be adapted
- [x] README.md should also c

[2020-01-10 15:05] robstoll commented on #298
implemented with 0a98a08

[2020-01-10 15:05] #298 closed

[2020-01-10 15:40] robstoll commented on #285
implemented with 8476fa1a

[2020-01-10 15:40] #285 closed

[2020-01-10 18:40] Hubisco commented on #300
Hi, I'll try to  work on this :)

[2020-01-11 12:34] robstoll commented on #127
implemented with 3bee602

[2020-01-11 12:34] #127 closed

[2020-01-11 12:59] johnGachihi commented on #230
I'll take over

[2020-01-11 13:33] robstoll commented on #230
the branch #267-map-entry-new-infix-api is quite outdated, maybe it is easier to just have a look at it but start off with a new branch

[2020-01-11 13:46] johnGachihi commented on #230
Ok

[2020-01-11 17:56] robstoll commented on #81
@bsemexan I have sent you an invitation for slack to bsemexan@gmail.com as you did not ask your questions. let me know in case it did not work

[2020-01-11 18:35] robstoll commented on #300
implemented with 45419b08 and 2552f691

[2020-01-11 18:35] #300 closed

[2020-01-11 19:00] robstoll opened #303 "AtriumError contains itself as cause cluttering the output"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): all

## Non-Code related feature
The behaviour is actually a Kotlin bug (https://youtrack.jetbrains.com/issue/KT-35882) which we should workaround.

[2020-01-11 19:24] robstoll commented on #303
implemented with d87ac08a

[2020-01-11 19:24] #303 closed

[2020-01-12 09:08] robstoll commented on #295
another motivating example:
[code]
aligning would help here as well (and change the representation of thrown Excepion:

[code]

[2020-01-12 09:57] jGleitz commented on #295
If we actually do this, can we please also align the information in parentheses? I feel that this would make it easier for me to scan the output.

[2020-01-12 10:19] robstoll commented on #295
Sure, I already did it for toThrow, changed also for the example

[2020-01-12 10:23] jGleitz commented on #295
I’d expect the `(readme …` parentheses also to be indented like the others are.

I think the rationale is that I usually do not need the information given there, I only use it when I need it to understand the reporting better or find bugs.

[2020-01-13 05:48] robstoll opened #305 "Move hasNext() check out of Iterable.all"
*Platform* (jvm, js, android):all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Similar to #299 but for Iterable.none and iterable.all. Following an example:
[code]
Moreover, it should re-use the hasNext check instead of an own descriptive assertion

[2020-01-13 05:59] robstoll opened #306 "reword `number of occurrences`"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Change the wording in reporting for Iterable contains.inAnyOrder from `number of occurrences` to `number of such entries` and for CharSequence.contains to `number of matches`

TODO
- [ ] change NUMBER_OF_OCCURRENCES in DescriptionIterableAssertion of en_GB accordingly
- [ ] change NUMBER_OF_OCCUR

[2020-01-13 09:29] robstoll opened #307 "change assertion verb in reporting to `expected that subject`"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Based on discussion in https://github.com/robstoll/atrium-roadmap/issues/55#issuecomment-573459025

We realised that the value of the subject can be confused with the expected value due to `expect:` and the fact that other assertion libraries use `expected` and report the expected value first.
Th

[2020-01-13 09:32] robstoll opened #308 "change toBe in reporting to `equals`"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]
results in
[code]

we would like to change it to:
[code]

same same but different for notToBe with `does not equal` in reporting

*translations*
- [ ] change DescriptionBasic accordingly for en_GB

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take

[2020-01-13 09:38] robstoll opened #309 "report root assertions with ✘ and ✔"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Based on the discussion in https://github.com/robstoll/atrium-roadmap/issues/55

To emphasise that we only report failed assertions per default we want to change the root bullet points accordingly to ✘ and ✔ (where only ✘ are shown per default).

Following the things you need to do:

*lib*
- [ ]

[2020-01-13 09:50] jGleitz commented on #307
Can we use “expected”? To me, it sounds more correct, because the expectation is a thing of the past (we already know the result).

[2020-01-13 09:57] robstoll commented on #307
well, then we would have to change all assertions to past tense as well to be correct right and that feels clumsy to me.

[2020-01-13 09:59] robstoll opened #310 "don't show number of occurrences for contains.inAnyOrder.atLeast(1)"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Based on discussion in https://github.com/robstoll/atrium-roadmap/issues/56
We would like to see
[code]
<hr/>

Instead of:
[code]

This change shall not affect cases like `atLeast(2)` or `exactly(1)`

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this

[2020-01-13 16:18] Hubisco commented on #308
I'll work on this :)

[2020-01-14 11:44] robstoll commented on #308
I realised that `is equal to` is not ideal as there are types which implement an `isEqual` function (LocalDate etc.) and in such cases it would be misleading not clear which behaviour no was asserted against - Object.equals or LocalDate.isEqual. Therefore I decided that we use `equals` instead which resembles more the code.

[2020-01-14 15:09] robstoll commented on #290
implemented with 48c4e91

[2020-01-14 15:09] #290 closed

[2020-01-14 19:55] robstoll commented on #308
implemented with 0bf1327

[2020-01-14 19:55] #308 closed

[2020-01-14 19:56] robstoll commented on #230
implemented with a1617fb

[2020-01-14 19:56] #230 closed

[2020-01-14 20:06] robstoll opened #313 "chronoLocalDateAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce ChronoLocalDateAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- copy the file `chronoLocalDateAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  - adjust the signatures of the assertion functi

[2020-01-14 20:07] robstoll opened #314 "chronoLocalDateTimeAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce ChronoLocalDateTimeAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- copy the file `chronoLocalDateTimeAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  - adjust the signatures of the assertio

[2020-01-14 20:10] robstoll opened #315 "chronoZonedDateTimeAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce ChronoZonedDateTimeAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- copy the file `chronoZonedDateTimeAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  - adjust the signatures of the assertio

[2020-01-14 20:14] robstoll opened #316 "fileAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce FileAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- copy the file `fileAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  - adjust the signatures of the assertion functions expecting an asser

[2020-01-14 20:16] robstoll opened #317 "localDateAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce LocalDateAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- copy the file `localDateAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  - adjust the signatures of the assertion functions (only `f

[2020-01-14 20:16] robstoll opened #318 "localDateTimeAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce LocalDateTimeAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- copy the file `localDateTimeAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  - adjust the signatures of the assertion functions

[2020-01-14 20:17] robstoll opened #319 "zonedDateTimeAssertions for thew new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce ZonedDateTimeAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- copy the file `zonedDateTimeAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  - adjust the signatures of the assertion functions

[2020-01-15 01:28] slalu commented on #113
I'll work on this.

In the description, you mention "ExtractedFeatureOption" but I don't find this class. I assumed it was ExtractedFeaturePostStep when I looked at the examples provided. Am I right or I am missing something?

[2020-01-15 05:34] robstoll commented on #113
That's correct. The class was renamed since I created this issue

[2020-01-15 21:20] robstoll commented on #63
I guess it would make sense if we provide only this signature for Expect

[2020-01-20 08:33] Jak-Sidious commented on #306
I'll work on this

[2020-01-20 14:20] Jak-Sidious commented on #307
I'll work on this

[2020-01-20 16:02] robstoll commented on #306
implemented with 7df4d4c

[2020-01-20 16:03] #306 closed

[2020-01-20 22:46] robstoll commented on #63
having `contains inAnyOrder` is nice but what about `Expect<Charsequence>.to contain`. We would still need a filler there.
I was thinking about using `o` as filler as we are using it inside lambdas already. But it is not that nice even though one quickly skips it in the IDE while reading if appropriate syntax highlighting is active (as `contains` is e.g. in yellow and `o` in white) but I am not so

[2020-01-21 13:00] robstoll commented on #307
implemented with 1b7465e

[2020-01-21 13:00] #307 closed

[2020-01-21 15:44] johnGachihi commented on #229
Hey @robstoll, I am unable to continue contributing for I am quite busy. I will be back when the work load reduces.

[2020-01-22 07:48] robstoll opened #328 "reduce code duplication in feature assertion specs"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): all

## Code related feature
we currently have near identical code in feature assertions specs. Once for the assertion function which narrows the subject (e.g. isSuccessFeature in ResultFeatureAssertionSpec) and once for the function which takes an assertionCreator-lambda and does not narrow (e.g. isSuccess)

The main differe

[2020-01-22 07:52] robstoll opened #329 "rename ...FeatureExpectationSpec to ...ExpectationsSpec and fuse if existing"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): all

## Code related feature
Wait until #328 is carried out.

I think the distinction between ...ExpectationsSpec and ...FeatureExpectationSpec is more confusing than helpful. Therefore rename ...FeatureExpectationSpec to ...ExpectationsSpec where there isn't an existing ...ExpectationsSpec yet or fuse it into an existing ...

[2020-01-25 10:35] robstoll opened #330 "change report for notToEqualNull"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]
For this we currently see in reporting
[code]

And we would like to see the following instead
[code]

This means notToEqualNull has to do more than just delegating to `toBeAnInstanceOf` hence:
- don't delegate simply to isA in `DefaultAnyAssertions.notToBeNullBut`
- copy implementation of isA

[2020-01-25 11:11] robstoll commented on #63
I'll go with `contains o`

[2020-01-29 06:54] Jak-Sidious commented on #180
I'll work on this

[2020-01-29 06:59] robstoll commented on #180
@Jak-Sidious I just updated the description

[2020-01-29 11:10] jGleitz opened #333 "Remove Mentions of implementation Details from API"
## Code related feature
[code]

I feel that documentation like the above irritates users more than it helps.

**Describe the solution you'd like**
Remove such hints altogether. I see no large value in explaining that something is a shortcut for something else.

**Describe alternatives you've considered**
Keep the description of the shortcut but remove the parts about implementation details. Someth

[2020-01-29 14:09] robstoll commented on #333
let's go for the proposed solution and remove such comments.

[2020-01-31 20:07] robstoll commented on #113
implemented with 8cd76f3

[2020-01-31 20:07] #113 closed

[2020-01-31 22:11] robstoll opened #337 "filter jasmine out of error-stacks"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Error Reporting related feature
Currently we filter only stackframes of mocha, we could enhance it with stackframes of jasmine
Following the things you need to do:

*lib*
- [ ] core/robstoll-lib/atrium-core-robstoll-lib-js/src/main/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/RemoveRunnerAtriumErrorAdjuster.kt =>

[2020-02-01 21:03] robstoll commented on #292
moving the size check out of the contains assertion is covered in #299

[2020-02-01 22:16] robstoll commented on #26
Closing this, the implementation is done for the new API fluent-en_GB, the rest will be done with the next version

[2020-02-01 22:16] #26 closed

[2020-02-03 08:45] jGleitz opened #338 "Cannot be used with Gradle 6 & JRE 8"
I am mainly opening this to show that the maintainers of this project are aware of the problem.

The underlying problem is https://github.com/robstoll/kbox/issues/26, which I am working on.

## How to reproduce the problem
Use atrium 0.9 on a JRE version 8 with gradle 6.

## Describe the bug
The build will fail with an error message like this:

[code]

See, for example, https://github.com/jGleitz/

[2020-02-03 11:37] jGleitz commented on #295
Would it make sense to right-align the description texts? Like this:

[code]

instead of:

[code]

pro: description and value are close together
con: bullet point and description are far apart

[2020-02-03 11:47] jGleitz opened #339 "Avoid Duplicated Messages"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

[code]

Running the above test in IntelliJ will lead to this output:

[code]

This often irritates me when scanning larger error reports because it is easy to miss the point where the errors are repeated

**Describe the solution you'd like**
When using atrium with common tools, the message is only printed once.

I don’t

[2020-02-03 13:06] jGleitz opened #340 "Include infix API in the gradle build"
https://github.com/robstoll/atrium/blob/master/settings.gradle#L65-L66:

[code]

I propose that we include the infix api in the gradle build, but deactivate its publications. This way, it will be included in CI and all of that.

[2020-02-03 13:36] robstoll commented on #340
Will be done with the preparation of the next dev-cycle

[2020-02-03 13:52] jGleitz commented on #340
Is there anything keeping us from doing it right now? I would like to add missing Infix API functions. But I think the PRs should be compiled & tested.

[2020-02-03 14:20] robstoll commented on #340
Apparently I forgot to push. I will have time this evening.

[2020-02-03 14:45] jGleitz opened #342 "Lowercase Infix Keywords"
I’d find it more intuitive if the keywords for the infix API were all in lowercase, e.g.

[code]

instead of

[code]

What do you think?

I prefer the former mainly because `empty` is an adjective here and not a substantive.

[2020-02-03 15:12] robstoll commented on #342
Fine for me for Empty. However, wrapper-classes such as Index, Entry etc. Should be in upper IMO

[2020-02-03 16:30] robstoll commented on #339
Something which bothers me as well. I guess its the test-runner which is responsible for it. Have you tried out to use another assertion library? e.g. the built-in assertEquals of junit. Is the behaviour the same?

[2020-02-03 16:42] robstoll commented on #340
pushed it now, thus closing this issue

[2020-02-03 16:42] #340 closed

[2020-02-03 16:44] robstoll commented on #295
I prefer left-align when it comes to intended bullet-points, thus I would suggest we stick to left.

[2020-02-03 22:31] robstoll commented on #342
Also, we have to make sure that we think about it when we deprecate cc-infix, i.e. that we point to `empty` instead of `Empty`

[2020-02-04 18:46] jGleitz commented on #338
@robstoll will you release atrium 0.9.1 to fix this?

[2020-02-04 18:47] jGleitz commented on #338
(by the way: this is a good example of why “master should always be deployable”, a.k.a. the branching strategy I proposed in https://github.com/robstoll/atrium-roadmap/issues/61)

[2020-02-04 18:50] robstoll commented on #338
japp, I thought that we merge #331 first as it should work now no? but apparently it still fails so maybe the fixes you did are not good enough?

[2020-02-04 18:51] robstoll commented on #338
Ah no, my fault, I have not release niok correctly. I'll release 1.3.4 in a minute

[2020-02-04 19:00] jGleitz commented on #338
Yeah, we can merge #331 first.

[2020-02-04 19:41] #338 closed

[2020-02-04 20:28] robstoll opened #349 "configure dependabot to update samples"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Non-Code related feature
**Is your feature request related to a problem? Please describe.**
Yes, the dependencies of the samples projects get out of date if we don't update them.

**Describe the solution you'd like**
We already use dependabot and it supports monorepos, thus we can configure it accordingly.

**Describe al

[2020-02-04 21:02] jGleitz opened #350 "Switch from Dependabot to Renovate"
I have not made an in-depth analysis, but it seems that dependabot fails at updating some of the dependencies in this project. From my experience [renovate](https://github.com/renovatebot/renovate) can handle these cases without any issue. It also does not require a special dependency configuration. And it can update the gradle wrapper out of the box.

Since switching should be easy, I suggest we

[2020-02-04 21:14] #316 closed

[2020-02-04 21:16] robstoll commented on #349
blocked until we decide what to do with https://github.com/robstoll/atrium-roadmap/issues/69

[2020-02-04 23:32] slalu commented on #216
I will work on this!

[2020-02-05 05:22] robstoll commented on #216
@slalu I updated the description, I am going to add a bit more description for the infix API later on.

[2020-02-05 14:35] sabankay1120 commented on #337
Send me more information and I will work on this

[2020-02-05 14:35] robstoll commented on #337
@sabankay1120 what information do you need in addition?

[2020-02-05 15:53] robstoll commented on #342
I thought about naming also wrapper-classes all in lower case. The benefit would be:
- less likely to have a name clash with other classes; e.g. `expect(path) resolve path("subfolder") asserIt { o to exist}`
- reads more like a function call

[2020-02-05 16:01] robstoll commented on #236
@yiss unassigned you so that others can take over

[2020-02-05 16:29] saadouafaa commented on #314
http://www.google.com/

[2020-02-05 23:15] #224 closed

[2020-02-05 23:21] robstoll commented on #155
@JithendraD you could start working on this one if you like

[2020-02-06 05:32] gandyramdhani57 commented on #314
I'll work on this

[2020-02-06 05:41] HAMMER767 opened #356 "[Feature]"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

## Non-Code related feature
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Desc

[2020-02-06 06:56] #223 closed

[2020-02-06 06:58] robstoll commented on #356
Thanks for using the feature issue template. I hope it was fun.

[2020-02-06 06:58] #356 closed

[2020-02-06 08:34] robstoll opened #357 "exclude smokeTests for extensions from being published"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Non-Code related feature
**Is your feature request related to a problem? Please describe.**
Publishing takes to long, thus don't publish artifacts people are not going to consume

**Describe the solution you'd like**
Exclude smoke-tests for extension from being published

**Describe alternatives you've considered**
none,

[2020-02-06 09:01] 44kassus44 opened #358 "Mot de passe"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

Following the things you need to do:

*lib*
- [ ] implement _foo in xyAssertions by using the `ExpectImpl.feature.extractor...`

*domain*
- [ ] extend XyAssertions with a function `foo` (see YzAssertions as a guideline)
- [ ] modify XyAssertionsBuilder, delegate to xyAssertions (see YzAsserti

[2020-02-06 09:02] #358 closed

[2020-02-06 10:10] avaya001 opened #359 "Accessing problem http://localhost:9292"
Hello,

I'm new here so i m not sure where i'm posting this question, This site is too complicated for me, I can't see anyway pardon me for that , I'm trying to running to Arachni on windows ! The setups runs and extracts ! But i can't open the web application, The local host is trying to connect but can't load any page ! Help to solve my problem.

[2020-02-06 10:19] robstoll commented on #359
not here at least

[2020-02-06 10:19] #359 closed

[2020-02-06 11:18] matejdro commented on #153
It looks like this was removed by https://github.com/robstoll/atrium/commit/55c3ce0a07e3df9232f7bca5f10ae1f3390d75a7?

[2020-02-06 11:37] robstoll opened #362 "return RootExpect for assertion verbs"
*Affected Version*: 0.9.1
*API* (fluent-en_GB, cc or cc-infix): all
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): all

## How to reproduce the problem
Consider the following code snippet
[code]
withOptions is not available since the assertion verbs return Expect and not RootExpect

thanks to @matejdro for the report

[2020-02-06 11:37] robstoll commented on #153
Good catch. That's correct, we realised that default arguments causes trouble.
We change to the following for now but it's experimental (you need to enable it via compiler flag):
[code]

But... I just saw that this was only activated for internal assertion verbs => #362

[2020-02-06 11:49] matejdro commented on #153
Isn't that syntax a bit too verbose? Maybe `withDescription` would be better?

[2020-02-06 11:58] robstoll commented on #153
Thanks for your input, it's experimental so yes, we can definitely discuss about it.
First a word to the naming in atrium:
[code]
`to be` is the description, `2   (kotlin.Int<123>)` is the representation.
It is up to the user if he wants to use `withOptions("xy numbers")` or `withOptions(textRepresentation="xy numbers")` but maybe `withOptions("xy numbers")` is actually a bad idea and something el

[2020-02-06 11:59] robstoll commented on #153
I have opened an issue in atrium-roadmap, let us continue the discussion there

[2020-02-06 13:05] matejdro opened #363 "expect..toThrow does not support suspend functions"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Following code that uses [coroutines's suspend functions](https://kotlinlang.org/docs/reference/coroutines/coroutines-guide.html) does not compile:

[code]

Problem stems from the fact that only `suspend` functions can call other `suspend` functions and `expect` is not a suspend function.

Other

[2020-02-06 13:09] jGleitz commented on #363
Couldn’t you rewrite your example to

[code]

and it would compile?

I think that it would only be a disadvantage if you have a test runner that supports coroutines. Because in that case, you have to add `runBlocking` and if atrium supported coroutines, you wouldn’t.

Are there any test runners that support coroutines?

[2020-02-06 13:13] matejdro commented on #363
Yes, that could work, but it creates pretty ugly nested test code. I guess I could create `expectBloking` extension for myself.

[2020-02-06 13:16] robstoll commented on #363
and share it with use afterwards :slightly_smiling_face:
how about we introduce:
[code]
?

[2020-02-06 13:17] jGleitz commented on #363
@robstoll If we adopt this use case, I would prefer if we could make it so that you don’t need to use any differently named functions when using coroutines.

[2020-02-06 13:18] robstoll commented on #363
I would prefer that as well but... I can imagine that the compiler won't be able to infer it correctly. Have to check though

[2020-02-06 13:31] matejdro commented on #363
I came up with this:

[code]

simple extension but reduces the boilerplate.

[2020-02-06 14:00] bsemexan commented on #81
this can prob be closed

[2020-02-06 14:23] #81 closed

[2020-02-06 22:40] robstoll opened #365 "change withOptions(textRepresentation=..) to withRepresentation"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

For more information see, https://github.com/robstoll/atrium-roadmap/issues/72

[2020-02-06 22:42] #317 closed

[2020-02-06 22:55] #318 closed

[2020-02-07 07:43] #362 closed

[2020-02-07 07:43] #365 closed

[2020-02-10 16:34] tfesenko commented on #319
I'll work on this

[2020-02-10 21:51] #319 closed

[2020-02-10 22:19] tfesenko commented on #315
I'll work on this 😄

[2020-02-10 22:41] #313 closed

[2020-02-10 22:42] robstoll commented on #314
@gandyramdhani57 have a look at https://github.com/robstoll/atrium/pull/369 in case you are stuck

[2020-02-10 22:54] robstoll commented on #82
closing this for now, I don't think we get a good cost/benefit here. One can use `feature("filter(...)") { it.filter(...) }` already

[2020-02-10 22:54] #82 closed

[2020-02-13 15:51] tfesenko commented on #305
I'll work on this!

[2020-02-13 15:53] robstoll commented on #305
@tfesenko note that this one is not a good first issue, I would recommend you first implement
https://github.com/robstoll/atrium/issues/31 to get a bit more into Atrium and come back to this one afterwards

[2020-02-13 16:07] #315 closed

[2020-02-13 16:36] tfesenko commented on #31
I'll work on this before starting #305

@robstoll wrote:

#31 to get a bit more into Atrium and come back to this one afterwards

A good idea

[2020-02-13 20:36] jGleitz opened #374 "No proper way to call `withRepresentation` on feature with assertionCreator"
*Affected Version*:
*API* (fluent-en_GB, cc or cc-infix): `fluent-en_GB`
*Platform* (jvm, js, android): `jvm`
*Extension* (none, kotlin 1.3, jdk8): none

## How to reproduce the problem
Consider the following (utterly stupid) code snippet:
[code]

## Describe the bug
How do I call `withRepresentation` for the feature?

## Expected behaviour
There is a good way to do this.

I think the nicest way w

[2020-02-13 21:26] robstoll commented on #374
I have not added it to the overload expecting an assertionCreator-lambda on purpose for now. I want to figure out first how/if it goes along with an immutable Expect. One can use the following though which is more or less what you expected:
[code]
(side note, you can use `f` inside of `feature` also for properties)

[2020-02-13 21:27] #374 closed

[2020-02-13 22:17] robstoll commented on #363
The following would be possible:
[code]
But the usage is not so nice, as you need a suspend lambda after `expect` or what do you think @matejdro ?
[code]

[2020-02-14 06:59] matejdro commented on #363
Is there an use case this suspend method covers that expectBlocking doesn't? Otherwise I prefer expectBlocking since it's just one function call.

Also, what is the difference between just calling `runBlocking {}˙ instead of `suspend {}´?

[2020-02-14 07:40] robstoll commented on #363
`runBlocking` basically runs where the `suspend { ... }` only defines a lambda. In your expectBlocking `runBlocking` does not run immediately as you define a lambda as well (you wrapped `runBlocking` with `{ ... }`).

What you could do with `suspend { ... }` what you cannot with expectBlocking is to make feature assertions which are themselves suspend functions. For instance:
[code]

Assuming we w

[2020-02-14 22:35] jGleitz commented on #363
In Kotlin, you can have overloads that only differ in the parameter being `suspend`, i.e. the following compiles:

[code]

I propose we just add `suspend` versions for all relevant functions. From my point of view, this would be the best API, because the user does not have to think about whether a function uses coroutines or not. I think that the semantics are clear and that the implied `runBlocki

[2020-02-15 06:47] matejdro commented on #363
If this is true, I think the same name overload solution is the best.

[2020-02-15 11:10] robstoll commented on #363
It's a nice idea but does not work out as Kotlin cannot be able to figure out which overload it should take if you write:
[code]
It will always be ambiguous unless you prefix it with `suspend`, i.e. `myExpect(suspend { ... })`

We actually don't have an overload `fun <R> expect(block: () -> R>): Expect<() -> R>` but the problem remains since we have `fun <T> expect(subject: T): RootExpect<T>`
And

[2020-02-15 19:05] jGleitz commented on #363
Okay, multiple things to unwrap here:

Yes, that makes sense, because you can pass a normal lambda to a function taking a `suspend` lambda. I did not know this, even though it makes a lot of sense.

I do not think so. If we add an `expect` like that:

[code]

everything works fine, as far as I can see:

[code]

see [`test.kt` on my branch](https://github.com/jGleitz/atrium/blob/toThrow-for-suspend

[2020-02-15 20:11] robstoll commented on #363
You're basically right, that's the way it should be but unfortunately it's not how the the current type inference system behaves. However, it seems it is fixed with the new type inference system (I guess you have not noticed the problem since you have activated the new type inference in IntelliJ, right?). Therefore we would need to wait until Kotlin 1.4 is out.

Personally I would not use Coroutin

[2020-02-15 21:20] robstoll commented on #363
must have been a glitch, it works now :tada:

[2020-02-16 09:57] jGleitz commented on #363
Great! So we got ourselves a solution?

---

Function like [`launch`](https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-core/kotlinx.coroutines/launch.html) and [`async`](https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-core/kotlinx.coroutines/async.html) need a `CoroutineScope`. So I thought it make sense to provide it through the receiver, so clients can use it.

You c

[2020-02-16 12:00] robstoll commented on #363
I think a basic idea at least. But the final implementation and test will show it, especially regarding other platforms than JVM. I don't know yet how to run a suspend fun on JS.

Can you add examples to test.kt please, I am not really familiar with kotlin coroutines yet.

that won't work as we need kotlinx.coroutines during runtime. We need an `implementation` dependency to it at least. Yet, if w

[2020-02-16 12:21] robstoll commented on #363
I have pushed a new commit to the branch, seems `implementation` would work, did not get problems in intellij. Thus we should start with `implementation` and move to `api` in case we see it is annoying

[2020-02-16 12:24] robstoll commented on #363
One way to go for JS: https://github.com/Kotlin/kotlinx.coroutines/issues/885

[2020-02-16 12:38] jGleitz commented on #363
I also only have basic knowledge. I can recommend Roman Elizarov’s [“Structured Concurrency”](https://medium.com/@elizarov/structured-concurrency-722d765aa952) on the topic of `CoroutineScope`, it helped me understand the ideas behind it.

I added a simple (and dump) example of something that relys on the receiver being `CoroutineScope`.

---

That’s great. To me, it seems like we can offer a good

[2020-02-16 13:03] robstoll commented on #363
I think that makes a good point, I don't see why one would want to do async operations within `expect`. If we want to support it, then one should be able to do something like:
[code]
But... I am really not sure if Atrium should help out here. One could also write:
[code]
Even for more complicated things like:
[code]
But maybe I wander from the subject.

One point we need to discuss is how we want

[2020-02-16 13:08] robstoll commented on #363
I think the build just gave us the answer:

so we need another module as long as we support kotlin 1.2

[2020-02-16 21:23] robstoll commented on #339
Pretty sure it is the test runner, just came across AssertJ + Spek and it shows the same behaviour

[2020-02-18 17:40] robstoll commented on #216
implemented with 9cb8c5de

[2020-02-18 17:40] #216 closed

[2020-02-18 18:16] robstoll opened #375 "Path.hasSameTextualContentAs"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]
per default UTF-8 should be used when reading both files.
However, one shall be able to overwrite the default, something like:
[code]

*Bonus* add also `hasSameBinaryContentAs`

[2020-02-18 18:22] jGleitz commented on #375
should we rather call this `hasSameStringContent` for better clarity?

[2020-02-18 18:25] robstoll commented on #375
AssertJ has hasSameTextualContentAs (they actually deprecated hasSameContentAs in favour of it) but IMO it is kind of the default case that one would want to compare textual content and thus would prefer a shorter version. But I am also not against using hasSameTextualContentAs if you think this is really necessary

[2020-02-18 18:28] jGleitz commented on #375
What should be considered the default depends on what those assertions _do_. I expected `hasSameStringContent` to fail if the content cannot be parsed as a string, even if the two contents are identical. In that case, I think we should point it out in the name of the function.

Alternatively, we could also just implement `hasSameContentAs`, which does binary comparison, and _tries_ to parse the co

[2020-02-18 18:44] robstoll commented on #375
You lost me there, I never encountered a problem reading a binary file even if the resulting text is gibberish. I also think that doing only binary comparison would not work if the source and target file is stored in a different encoding.

[2020-02-18 18:58] jGleitz commented on #375
Not all sequences of bits are valid code points in all encodings. For example, in UTF-8, code points always start with `00` or `11`, if I remember correctly.

Oh, wow, okay, you also want to support comparison between different encodings? I missed that (but now I see it clearly from your proposal)

I only suggested using a heuristic in reporting, not in the actual assertion logic. But maybe that i

[2020-02-18 19:00] robstoll commented on #375
So, let's go with `hasSameTextualContentAs` then

[2020-02-19 12:21] jGleitz commented on #363
Okay, so we go with the proposal but drop the `CoroutineScope` until a proper use case for it pops up?

[2020-02-20 07:13] robstoll commented on #339
`assertEquals` from kotlin.test does not have this problem. Either the junit.ComparisonException (or a similar name) is treated specially or it has implemented a successful hack.

[2020-02-20 10:17] jGleitz commented on #339
In that case, I think we should investigate how they are doing it. Maybe it is also related to Opentest4j? (https://github.com/robstoll/atrium-roadmap/issues/39) I have not yet made any progress there.

[2020-02-20 10:32] jlundhol commented on #229
I'm in a small group that will work on this

[2020-02-28 20:01] robstoll commented on #229
implemented with 1c5bbb2

[2020-02-28 20:01] #229 closed

[2020-02-28 20:39] robstoll commented on #314
@gandyramdhani57 do you need help?

[2020-02-29 07:05] robstoll commented on #342
I thought more about it, my last view on the topic: pseudo-keywords as empty shall be lower case, wrapper classes aka parameter objects upper case with a more descriptive identifier than just the keyword, functions as factory methods with the keyword as identifier.
For instance: `feature of(A::foo, 1)` where `of` is a function factoring a `Feature` where `Feature` is the parameter object.

[2020-03-04 07:00] 0dogg0 opened #386 "F"
*Affected Version*:
*API* (fluent-en_GB, cc or cc-infix):
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## How to reproduce the problem
Consider the following code snippet
[code]

## Describe the bug
A clear and concise description of what the bug is.

## Expected behaviour
A clear and concise description of what you expected to happen.

[2020-03-04 07:02] robstoll commented on #386
Nice, you have used the template successfully :laughing:
Do you actually want to report a bug? If so, please open another issue and replace the descripiton

[2020-03-04 07:02] #386 closed

[2020-03-04 07:40] robstoll opened #387 "include failure handling of throwable in DefaultFailureHandler"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
We currently provide the possibility to define an own failure handler in case of a failing feature extraction. In most cases the default behaviour is good enough. We currently only use a special one in case of down-casting a Throwable.

IMO even this case should be incorporated into the DefaultFa

[2020-03-04 12:28] robstoll opened #388 "optionalAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce OptionalAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- [ ] copy the file `optionalAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  -  [ ] adjust the signatures of the assertion functions s

[2020-03-05 17:13] robstoll opened #389 "resultAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

We want to introduce ResultAssertions for the new infix API `api-infix-en_GB`.

Following the things you need to do:

- [ ] copy the file `ResultAssertions.kt` from atrium-api-fluent-en_GB-jdk8-jvm to atrium-api-infix-en_GB-jdk8-jvm
  - [ ] adjust the signatures of the assertion functions so tha

[2020-03-06 07:14] robstoll commented on #31
implemented with 4c72123e

[2020-03-06 07:14] #31 closed

[2020-03-06 07:40] robstoll commented on #136
we had to split it up into DeprecationSpek1TestEngine and DeprecationSpek2TestEngine (49fe394).
Once we have migrated all spek1 to spek2 we can get rid of DeprecationSpek1TestEngine. In this sense this issue is resolved

[2020-03-06 07:40] #136 closed

[2020-03-10 18:37] assaflei commented on #116
Hi @robstoll I would like to work on this issue, how do you suggest I should get started?

[2020-03-10 19:55] robstoll commented on #116
Hi @assaflei

How about you start with the following (all very similar):
- bundles/fluent-en_GB/atrium-fluent-en_GB-jvm/src/test/kotlin/custom/SmokeSpec.kt
- bundles/fluent-en_GB/extensions/atrium-fluent-en_GB-smoke-test-kotlin_1_3/src/test/kotlin/custom/SmokeSpec.kt
- bundles/fluent-en_GB/extensions/atrium-fluent-en_GB-smoke-test-jdk8/src/test/kotlin/custom/SmokeSpec.kt

Those should be very easy

[2020-03-10 20:24] mike66666666666 opened #390 "Fixed"
*Affected Version*:
*API* (fluent-en_GB, cc or cc-infix):
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## How to reproduce the problem
Consider the following code snippet
[code]

## Describe the bug
A clear and concise description of what the bug is.

## Expected behaviour
A clear and concise description of what you expected to happen.

[2020-03-10 20:26] #390 closed

[2020-03-13 14:27] #357 closed

[2020-03-15 21:45] robstoll commented on #333
@jGleitz unassigning you so that others could take over. Re-assign youself in case you work on it.

[2020-03-21 09:25] robstoll opened #400 "verify if KT-23178 (isInstace in JS) is really fixed"
*Platform* (jvm, js, android): js
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
We have currently a workaround implemented for

https://youtrack.jetbrains.com/issue/KT-23178

The workaround made sure that casting in JS works as expected. JetBrains claims to have fixed this issue. We would like to be sure that this is really the case.
We should have implemented corresponding r

[2020-03-23 17:09] robstoll opened #409 "Limit representation to 10'000 characters"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Currently we don't define a limit for the representation. In case of e.g. file content this can fill the output drastically and depending on the CI cause the job to crash, i e. invoking a fail fast even though we don't want. Thus define a maximum in DetailedObjectFormatter of 10'000. I think this

[2020-03-27 20:28] isfedorov commented on #388
I'll work on this

[2020-03-29 17:37] name213 commented on #389
Hey @robstoll quick question. Do I need to migrate: https://github.com/robstoll/atrium/blob/master/apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/kotlin_1_3/resultAssertions.kt
?

[2020-03-31 14:42] #389 closed

[2020-03-31 21:05] robstoll commented on #116
All necessary specs have been migrated, closing this. Follow up for moving things will follow

[2020-03-31 21:05] #116 closed

[2020-03-31 21:16] robstoll opened #416 "move non-jvm specific specs to common"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
This is a follow up issue for #116

One additional step in cleaning up specs is to move the non-jvm specific specs to the common module.

Following the things which need to be done:

move from specs-jvm to specs-common (1. PR)
- [ ] everything in ch.tutteli.atrium.specs.reporting and ch.tutteli.atriu

[2020-03-31 22:16] name213 commented on #235
Hello, If its up for grabs I would like to analyse and do this

[2020-04-01 06:34] robstoll commented on #235
It is, go ahead 🙂👍

[2020-04-01 11:14] assaflei commented on #416
Hi, I would like to take this

[2020-04-01 14:34] #388 closed

[2020-04-01 14:36] isfedorov commented on #226
@robstoll I'll work on this

[2020-04-01 14:54] robstoll commented on #226
@isfedorov note that there is a difference between api-fluent and api-cc-infix. cc-infix still provides asIterable where fluent provides asList. Please add `asList` to the new infix api. Moreover, make also the functions which do not expect an assertionCreator `infix` by using the filler object `o` (as for `notToBeNull o` in anyAssertions.kt)

[2020-04-01 21:01] dalewking opened #419 "Container values method does not support comparing against an existing collection"
## Non-Code related feature
Consider a case where you have an array of values and you want to verify that a collection contains those values. The problem is that all of the methods like contains or values follow a parameter pattern like:

    expected: E,
    vararg otherExpected: E

There is no easy way to pass the array to that function. Ideally I would want to use the spread operator to pass th

[2020-04-01 21:06] dalewking commented on #419
Discovered the elementsOf method that lets you pass an Iterable, so works by converting the array to a list

[2020-04-01 21:11] robstoll commented on #419
exactly, please close the issue if you happy enough with `elementsOf`. Have a look at #131 in case you would like to have a shortcut and vote for it with a :+1:

[2020-04-01 21:14] dalewking commented on #419
In my case I need inAnyOrder, so #131 would not work for me. In general, I am finding that I would like to see more support for arrays, not just lists

[2020-04-01 21:53] robstoll commented on #419
feel free to create a `containsElementsOf` issue (or even better a PR).

The problem with better support for array is that it would require a lot of duplication. There are 9 different Array types and everywhere we support Iterable we would need to add 9 additional duplicates. That's a lot of maintenance for little gain IMO. Are you aware of `asIterable`?
Nevertheless, I am willing to help you in c

[2020-04-02 18:47] robstoll commented on #419
@dalewking I am going to close this issue but opened a corresponding issue at atrium-roadmap https://github.com/robstoll/atrium-roadmap/issues/75, please leave your thoughts/input there.

[2020-04-02 18:47] #419 closed

[2020-04-02 19:03] isfedorov commented on #233
I'll work on this

[2020-04-03 05:05] robstoll commented on #233
@isfedorov nice that you tackle that many issues :slightly_smiling_face: :+1:
I have sent you an invitation to be part of the contributors. This way you can assign tasks yourself.

[2020-04-03 19:05] #226 closed

[2020-04-03 19:35] robstoll opened #422 "add elementsOf to contains.ignoreCase"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

Following the things you need to do:

*fluent-api*
- [ ] add elementsOf to charSequenceContainsCreators for `CharSequenceContains.Builder<T, IgnoringCaseSearchBehaviour>` (copy the existing elementsOf and adjust)
- [ ] search for `TODO #422`  in specs and fix
- [ ] add test-case to CharSequen

[2020-04-03 20:57] #233 closed

[2020-04-03 22:03] robstoll commented on #63
ffa95c1

[2020-04-03 22:03] #63 closed

[2020-04-03 23:20] robstoll commented on #305
@tfesenko do you still plan to work on this one? Do you need any help?

[2020-04-04 12:58] #137 closed

[2020-04-04 13:03] robstoll opened #425 "shortcut Iterable.containsElementsOf"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

Please react with :+1:  in case you would like to see this shortcut implemented. The more upvotes the more likely I will implement it myself. You are of course welcome to implement it yourself and create a PR. Write `I'll work on it` as comment so that we can assign the task to you.

[2020-04-04 13:32] #342 closed

[2020-04-04 20:15] tfesenko commented on #305
@robstoll , unfortunately, I won't have the time to work on it right now.

[2020-04-06 05:31] #314 closed

[2020-04-07 16:09] Miftahunajat commented on #422
Hi mr @robstoll  I would like to work on this

[2020-04-08 06:56] Miftahunajat commented on #422
Thank you.
Should I make two different pull request for _fluent-api_ & _inflix-api_ ?

[2020-04-08 07:19] robstoll commented on #422
as you wish, both are fine with me

[2020-04-08 09:41] #236 closed

[2020-04-08 09:51] robstoll opened #430 "deprecate api-cc-infix add replacements for api-infix"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): all

## Code related feature
The new infix API (api-infix-...) which is based on `Expect` shall replace the current infix api (api-cc-infix-...) which is still based on `Assert`.

Too smooth the migration we want to deprecate all functions in cc-infix and add `ReplaceWith` so that users can use those to switch to the new API

[2020-04-09 09:58] #422 closed

[2020-04-09 21:28] assaflei commented on #416
Hi, moving the classes in the domain folder fails during build due to missing spek definitions (Unresolved reference: spekframework), probably related to gradle definition
Can you advice on how to connect the project properly?

[2020-04-09 21:58] robstoll commented on #180
@Jak-Sidious un-assigning you so that others can take over

[2020-04-10 02:38] Miftahunajat commented on #430
I would like to work on this

[2020-04-10 07:34] Miftahunajat commented on #430
When I merge the
`@file:Suppress("JAVA_MODULE_DOES_NOT_READ_UNNAMED_MODULE" /* TODO remove once https://youtrack.jetbrains.com/issue/KT-35343 is fixed */)`
with the
`@file:Suppress("DEPRECATION" /* will be removed with 1.0.0 */)`
The deprecation didn't show up.
But when I removed this line `@file:Suppress("DEPRECATION" /* will be removed with 1.0.0 */)` and replace it with `@file:Suppress("JAVA_MO

[2020-04-10 08:36] robstoll commented on #430
`@file:Suppress("DEPRECATION" /* will be removed with 1.0.0 */)` suppresses all deprecation warnings within a file. Which means, to try out your annotation you need to remove this temporarily.

[2020-04-13 10:08] #217 closed

[2020-04-13 18:52] robstoll commented on #416
all specs moved which we wanted to move. thanks @assaflei for all the work :+1:

[2020-04-13 18:52] #416 closed

[2020-04-13 20:48] assaflei commented on #245
I'll would like to take this

[2020-04-14 07:03] tkech17 commented on #425
i'll work on it

[2020-04-14 07:24] robstoll commented on #425
Since it is your first contributions, I recommend that you have a look at [Your first code contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution).

And a few pointers what needs to be done:
*fluent api*
- [ ] add the shortcut to fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/iterableAssertio

[2020-04-14 08:30] robstoll commented on #425
And please rebase on master in case you already forked, I made a cleanup specific for this task.

[2020-04-14 10:01] tkech17 commented on #425
I have question about adding ShortcutSpec.
why do i need to add ShortcutSpec to IterableContainsInOrderOnlyElementsOfAssertionSpec,
as the method test inAnyOrder contains.
or maybe i did not understand what "add a ShortcutSpec to IterableContainsInOrderOnlyElementsOfAssertionSpec"

[2020-04-14 10:04] robstoll commented on #425
Thanks for the question, the example in the description was wrong. This issue want to replace `expect(listOf(1, 2)).contains.inOrder.only.elementsOf(anotherList)`

[2020-04-14 10:05] robstoll commented on #425
Ah.. no sorry, my fault, wrong issue, the example was correct. In this case you need to place the the ShortcutSpec into IterableContainsInAnyOrderAtLeast1ElementsOfAssertionsSpec

[2020-04-14 14:29] #425 closed

[2020-04-14 16:36] tkech17 commented on #375
where has to be added this method?

[2020-04-14 16:40] robstoll commented on #375
atrium/apis/fluent-en_GB/extensions/jdk8/atrium-api-fluent-en_GB-jdk8-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/jdk8/pathAssertions.kt

[2020-04-14 16:56] tkech17 commented on #375
so i have to write method with 3 arguments, where last two are optionals with value UTF-8. is that right?

[2020-04-14 17:15] tkech17 commented on #131
i saw this topic, and i tought is was not active anymore(from comments).
if it's still active assign me

[2020-04-14 17:33] tkech17 commented on #375
and one simple hasSameBinaryContentAs method

[2020-04-14 18:49] robstoll commented on #375
You got it right, let me know in case you need pointers.

[2020-04-14 19:28] tkech17 commented on #375
should i write @Since [version] in doc? or not?

[2020-04-14 19:29] robstoll commented on #375
Yes please, we started to add the tag since v. 0.9.0 to everything which is new and public API

[2020-04-14 19:58] tkech17 commented on #375
should i add this method for infix part, too?

[2020-04-14 20:01] robstoll commented on #375
I have not yet thought about how the API should look like, we cannot have default arguments in the infix API. Therefore I would say no unless you have an idea at hand.

[2020-04-14 20:24] tkech17 commented on #375
maybe automatically determining encoding, but don't think that there is any library that can guess the encoding 100% correctly.
the reason i was asking was that (ch.tutteli.atrium.specs.integration.PathAssertionsSpec)
is parent of both fluent and inflix PathAssertionsSpec classes.
and if i add (ch.tutteli.atrium.specs.integration.PathAssertionsSpec) these two method(from this issue), that inflix p

[2020-04-14 20:31] robstoll commented on #375
Workaround it similar to this one apis/cc-infix-en_GB/atrium-api-cc-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/cc/infix/en_GB/CharSequenceAssertionsSpec.kt -> getContainsDefaultTranslationOfPair

use a text something like: `"not supported in this API - hasSameTextualContentAs" to ...`

[2020-04-15 16:19] robstoll commented on #375
alternatively you can implement the following API for infix:
[code]
where withEncoding creates a PathWithEncoding similar to PathWithCreator

[2020-04-15 17:15] jGleitz commented on #375
Could we do something like

[code]

That would feel more intuitive to me and I think it should be possible with infix?

[2020-04-15 18:04] robstoll commented on #375
how would the version look like where one omits the encodings?
[code]
would not work any more. IMO not providing encodings is the default case and should be simple, simpler than the above is probably not possible.
Also, I think it should fit into the existing infix API. For instance, resolve is:
[code]
in this sense I would continue with helper functions dealing with use cases where there are more

[2020-04-15 18:49] jGleitz commented on #375
I cannot speak to consistency of the API since I don’t know the API well. I generally don’t see the point of an infix API if we don’t try to make it “as infix-ish as possible”.

To how I would realise this: I didn’t think my proposal through, I just liked it. I did not think of the problem that the `hasSameTextualContentAs` matcher doesn’t “know” that another method call will follow to specify the

[2020-04-15 20:47] #328 closed

[2020-04-15 21:46] robstoll commented on #339
I don't know if something has changed since I last checked back in February but I see now the same duplicated error message also for kotlin.test:
[code]
The only difference is that the error message and the stacktrace it is a bit further below.

[2020-04-16 06:19] jGleitz commented on #339
:disappointed:. Maybe we should add the hack then and see how it fares in practice?

[2020-04-16 16:49] robstoll commented on #339
I'll make some tests first. Alternatively we could add some newlines at the end of the message to give some space between message and message + stacktrace

[2020-04-17 18:45] dalewking opened #450 "Support generating native library"
*Platform*: iOS

## Non-Code related feature
Unfortunately, I have to abandon Atrium because of the lack of support for Kotlin native for iOS. Kotlin multiplatform does not just mean Java and Javascript

[2020-04-18 14:05] #339 closed

[2020-04-19 13:30] #131 closed

[2020-04-19 13:49] robstoll commented on #235
@ivanmiklec let me know in case you need help

[2020-04-19 13:59] robstoll opened #451 "build Atrium against jdk13 and jdk14"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
We want to check if Atrium builds against jdk13 and jdk14
We already tried and saw that some tests fail as there is an issue with mockk.

Following the things you need to do:
- [ ] add jdk13 and jdk14 to the github action windows build as in this commit (you can copy and paste) https://github.com/rob

[2020-04-19 14:10] robstoll commented on #451
Mock likely mockk does not support jdk13 and jdk14 yet. I opened a bug: https://github.com/mockk/mockk/issues/428

[2020-04-19 14:29] oleksiyp commented on #451
I did a few commits today to MockK develop branch and test on JDK 13/14. Seems everything works. The current issue is with dokka. Not sure how am going to release it

[2020-04-19 14:35] robstoll commented on #451
Thanks for the heads up, is there already an issue for dokka? I couldn't find any in a hurry, I would upvote it.

[2020-04-19 14:38] oleksiyp commented on #451
This is quite a long-running issue. https://github.com/Kotlin/dokka/issues/294

[2020-04-20 06:36] #235 closed

[2020-04-20 07:13] #451 closed

[2020-04-21 19:26] robstoll opened #459 "first class support for Array and Sequence in api-fluent"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Currently one has to convert an Array or a Sequence to List or Iterable in order to be able to use the corresponding assertion functions such as `contains`. For instance
[code]
We would like to be able to provide the same functionality (well almost the same, more details below) we provide for List to

[2020-04-21 19:41] robstoll opened #460 "add Iterator.hasNext/hasNotNext"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

Following the things you need to do:

*lib*
- [ ] implement _hasNext/_hasNotNext in iteratorAssertions (a new file - see iterableAssertions as a guideline)

*domain*
- [ ] create IteratorAssertions with a function `hasNext` (see IterableAssertions as a guideline)
- [ ] create IteratorAsse

[2020-04-21 19:51] robstoll opened #461 "add Sequence.asList()"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

Following the things you need to do:

*api-fluent*
- [ ] provide a fun `asList` which returns `Expect<List<T>>` (see asIterable as a guideline)
- [ ] provide a fun `asList` which expects an `assertionCreator`-lambda and returns `Expect<T>` (see asIterable as a guideline)
- [ ] add `@since

[2020-04-21 19:51] robstoll opened #462 "add Iterable.asList"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

Following the things you need to do:

*api-fluent*
- [ ] provide a fun `asList` which returns `Expect<List<T>>` (see asIterable as a guideline)
- [ ] provide a fun `asList` which expects an `assertionCreator`-lambda and returns `Expect<T>` (see asIterable as a guideline)
- [ ] add `@since

[2020-04-21 19:56] robstoll opened #463 "reduce duplication in Specs also in extensions"
Follow up to #328, I forgot to do the same for the extensions and for the platform specific specs

[2020-04-22 17:06] jordi-farre commented on #409
I'll work on this

[2020-04-22 19:02] robstoll opened #465 "deprecate Asset/AssertionPlant and co. as well as AssertImpl"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): all

## Code related feature
Since we are going to deprecate cc-infix soon we can also deprecate Assert, AssertionPlant and co.

[2020-04-22 21:02] robstoll opened #466 "fail if a TranslatableWithArgs has not exact arguments"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
We currently do not check if the number of given arguments corresponds to the number of expected placeholders in the translatable. It would be nice if we throw an IllegalArgumentException if they do not match. This way it is more likely that we detect wrong translations.

[2020-04-22 22:16] tkech17 commented on #466
does it mean checking arguments in TranslatableWithArgs ?
in init block ?

[2020-04-23 06:01] robstoll commented on #466
I would do it like that yes, would you like to work on this? (note your last build here https://github.com/robstoll/atrium/pull/458 would have failed if we had this check)

[2020-04-23 06:04] #375 closed

[2020-04-23 07:04] tkech17 commented on #466
why would it fail?
yes i want work on it

[2020-04-23 07:15] tkech17 commented on #466
also, i have question about constuctior of TranslatableWithArgs.
why do we need
constructor(translatable: Translatable, arg1: Any, arg2: Any)
        : this(translatable, createList(arg1, arg2)) ?
when there already is
 constructor(translatable: Translatable, arg1: Any, arg2: Any, vararg otherArgs: Any)
        : this(translatable, createList(arg1, arg2, otherArgs))

-----------------

second,
DAT

[2020-04-23 07:36] robstoll commented on #466
performance reasons, most of the time we don't have more than 2 arguments and therefore we don't need to allocate an array

Oh right, that's from times where Atrium was JVM only, `%<` allows to point pack to the previous argument, so in this case the second argument points back to the first argument. That's actually valid in JVM but both `%t` as well as `%<t` is currently not supported in JS and I

[2020-04-23 10:55] robstoll commented on #466
I overlooked your question, sorry. `note your last build [...] would have failed` the last build is quite relative. I meant the build where you forgot to fix the translation for de_CH. This one would have failed as the Translatable did not have any placeholds but we delivered two arguments

[2020-04-23 12:49] #466 closed

[2020-04-23 20:59] joshuacrites opened #469 "jc"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

## Non-Code related feature
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Desc

[2020-04-23 21:00] jGleitz commented on #469
This does not look like a serious attempt to create an issue. If it was, please open another issue and provide more details!

[2020-04-23 21:00] #469 closed

[2020-04-24 14:14] robstoll opened #470 "create maven sample project"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
We currently provide an example-pom.xml and a settings.xml for maven.
It would be nicer if we actually have a full-working sample for maven.

Following the things you need to do:
- [x] setup a maven project in /samples/maven and include some tests -- up to you what runner you are using.
- [ ] bui

[2020-04-25 19:59] #245 closed

[2020-04-25 20:47] assaflei commented on #167
I'll try taking this

[2020-04-25 21:50] robstoll opened #473 "update js samples to use the new org.jetbrains.kotlin.js gradle plugin"
*Platform* (jvm, js, android): js
*Extension* (none, kotlin 1.3, jdk8): none

## Non-Code related feature
The current samples for mocha and jasmine had been based on kotlin-examples which used the old kotlin plugin. By now, there is a new kotlin plugin (kotlin-examples is not updated though) but we could try to use the new Plugin instead.

The new plugin claims to have a few advantages

So that so

[2020-04-25 22:44] developerfred commented on #473
I'll work on this

[2020-04-25 22:49] robstoll commented on #473
@developerfred nice :slightly_smiling_face:
I just pushed some cleanups https://github.com/robstoll/atrium/pull/474, please fork again or rebase on master once it is merged

[2020-04-25 23:50] developerfred commented on #473
thanks @robstoll.

[2020-04-26 19:52] robstoll opened #476 "introduce typealias CharSequenceOrNumberOrChar for Any"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Currently we allow that one can pass Any to `Expect<CharSequence>.contains` because allow
CharSequence, Number and Char to be passed where a runtime check applies. If Kotlin had union types, then we could define it like this. But since Kotlin does not, we resorted to Any in order to keep the API

[2020-04-26 20:08] robstoll opened #477 "deprecate defaultTranslationOf(IgnoringCase)"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
We want to remove this functionality in 1.0.0 and thus should deprecate it beforehand

Following the things you need to do:

*lib*
- [ ] add `TODO remove with 1.0.0` to  _containsDefaultTranslationOf and _containsDefaultTranslationOfIgnoringCase

*domain*
- [ ] deprecate CharSequenceContainsAsser

[2020-04-26 20:26] robstoll opened #479 "Allow that Sequence and Array can be passed to elementsOf"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
We have several places where elementsOf is in use. Following the current places in the fluent-api (at the time of writting):
[code]

Those functions require currently that an Iterable is passed. We would like to allow that one can also pass other types where we can iterate over such as Sequence or on

[2020-04-26 20:39] #476 closed

[2020-04-28 12:28] robstoll opened #480 "accept date as string in ISO 8601 format for ChronoLocalDate"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do:

*atrium-logic*:
- [ ] duplicate each method in ChronoLocalDateAssertions and:
  - [ ] accept a String instead of a ChronoLocalDate and parse it to LocalDateTime and pass it to the existing overload, accept only `yyyy-mm-dd` and not the alternative yyy

[2020-04-28 12:28] robstoll opened #481 "accept date and time as string in ISO 8601 format for ChronoLocalDateTime"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do:

*atrium-logic*:
- [ ] duplicate each method in chronoLocalDateTimeAssertions.kt and:
  - [ ] accept a String instead of a ChronoLocalDateTime and parse it to LocalDateTime and pass it to the existing overload where the following formats shall be suppo

[2020-04-28 18:36] robstoll opened #482 "accept date and time as string in ISO 8601 format for ChronoZonedDateTime"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do:

*atrium-logic*:
- [ ] duplicate each method in ChronoZonedDateTimeAssertions and:
  - [ ] accept a String instead of a ChronoZonedDateTime and parse it to ZonedDateTime and pass it to the existing overload where the following formats shall be supporte

[2020-04-28 19:06] robstoll opened #483 "adjust reporting for isLess/GreaterThanOrEqual"
*Platform* (jvm, js, android):
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]
results in reporting
[code]

Instead we would like to see

[code]

Same goes for isLessThanOrEqual

Following the things you need to do:

*translation*
- [x] introduce IS_LESS_THAN_OR_EQUAL and IS_GREATER_THAN_OR_EQUAL in DescriptionComparableAssertion for en_GB and adjust accordingly
   - [x]

[2020-04-28 19:11] robstoll opened #484 "introduce Comparable.isEqualComparingTo"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]

And in reporting we want to see:
[code]

Following the things you need to do:

*lib*
- [x] implement _isEqualComparingTo in comparableAssertions.kt (see other functions)
  - [x] add DescriptionComparableAssertion.IS_EQUAL("is equal comparing to") for en_GB
  - [x] add DescriptionComparabl

[2020-04-28 20:21] robstoll commented on #470
@binkley I saw that you are using Atrium in a maven context (https://github.com/binkley/spikes/blob/master/scratch/pom.xml). Would you mind creating a sample project so that others have an easier start when using Atrium as well?

[2020-04-29 16:52] binkley commented on #470
@robstoll I'd love to!  <3

What model should I follow?  Any specific kinds of tests, etc.?

[2020-04-29 19:16] robstoll commented on #470
nice :+1: the idea is to have a minimalistic setup of a maven project using Atrium and some test-runner (e.g. junit + jupiter) including a SampleTest. So that someone wanting to start out a new project and would like to use Atrium can basically copy the sample project.
You can come up with a SampleTest or copy an existing one (e.g. samples/jvm/junit5/src/test/kotlin/org/atriumlib/samples/junit5/Sa

[2020-04-29 20:48] robstoll opened #485 "error message shown twice when running from JVM"
*Affected Version*: 0.11.0
*API* (fluent-en_GB, cc or cc-infix): fluent
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## How to reproduce the problem
Run a failing Spek written in a jvm module (the bug does not occur if a common test is run for JVM)

## Describe the bug
The resulting report looks something like:
[code]

## Expected behaviour
The error message is on

[2020-04-29 21:34] #485 closed

[2020-04-30 11:41] binkley commented on #470
The sample looks good.  The only change I'd like to make: I've run into the Kotlin convention of providing "text" test method names, ie:

[code]
rather than:
[code]

[2020-04-30 11:44] robstoll commented on #470
good idea, I forgot about that for JUnit. Good with me, you can also change it in the other samples if you like.

[2020-05-01 11:18] binkley commented on #470
PR updated to separate Gradle and Maven builds.

[2020-05-02 19:31] #463 closed

[2020-05-02 23:19] Russiancold commented on #483
Hi! I'd like to work on this.

[2020-05-05 09:42] robstoll commented on #52
@ultraon could you do me a favour please? I ran d8 against the latest version of Atrium's jvm module (
https://bintray.com/robstoll/tutteli-jars/download_file?file_path=ch%2Ftutteli%2Fatrium%2Fatrium-api-fluent-en_GB%2F0.11.1%2Fatrium-api-fluent-en_GB-0.11.1.jar) and do not get the error as we got in this issue. Maybe d8 can handle module-info.java by now but I would like to be sure that it still

[2020-05-06 19:17] robstoll commented on #409
@jordi-farre Let me know in case you need help.

[2020-05-08 19:37] robstoll opened #493 "merge jdk8 extension into jvm module"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
We introduced the jdk8 extension in v0.9.0 because we thought it would cause problems for android devs since it contains classes which are not available in all Android SDK API levels (e.g. java.nio.file.Files was only introduced in API level 26). Since we could show in #167 that this should not b

[2020-05-08 21:38] robstoll opened #495 "cache gradle and dependencies in github actions"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): all

## Non-Code related feature
We currently have no cache in place for github actions. I guess we could reduce the build time quite a bit if we integrate it.

Things TODO:
- :no_entry_sign: cache gradle and dependencies: https://github.com/actions/cache/blob/master/examples.md#java---gradle => due to a Kotlin bug (see https

[2020-05-08 21:58] ultraon commented on #52
Thank you for making it better. I've checked, and can confirm that it works!

[2020-05-09 06:04] #167 closed

[2020-05-12 17:03] assaflei commented on #493
I'll take this

[2020-05-12 17:12] robstoll commented on #493
🙂👍
(you should be able to assign yourself)

[2020-05-15 02:34] jaibhavaya commented on #484
I'll work on this

[2020-05-15 15:53] #493 closed

[2020-05-15 15:57] robstoll commented on #473
@developerfred un-assigning so that pthers can take over. Let me know in case you still work on it.

[2020-05-15 18:28] robstoll commented on #430
@Miftahunajat thanks for all your work, I un-assign you so that others see that they could work on it. Please assign you again in case you have time again to work on it.

[2020-05-16 14:11] #470 closed

[2020-05-16 22:08] assaflei commented on #495
I'll take this

[2020-05-17 16:55] jaibhavaya commented on #484
PR is in, this is my first contribution to anything open source, so I'm not totally sure if I have to do anything to link it to this issue.

[2020-05-17 17:23] robstoll commented on #484
No need to link it, I am going to review your PR tomorrow. I hope your first contribution was fun so far.

[2020-05-17 17:36] jaibhavaya commented on #484
It was great.  Thanks so much for outlining this, it made it super approachable and was a blast to do.

[2020-05-20 21:19] #430 closed

[2020-05-21 13:06] AliGolmirzaei opened #505 "wrong line number in stacktrace in case of inlined function"
*Affected Version*: 0.11.1
*API* (fluent-en_GB, cc or cc-infix): fluent-en_GB
*Platform* (jvm, js, android): android
*Extension* (none, kotlin 1.3): none (idk how to check this but iam using kotlin 1.3.70)

## How to reproduce the problem
1- Get sample from
https://github.com/robstoll/atrium/blob/master/samples/multiplatform/src/commonTest/kotlin/org/atriumlib/samples/mpp/SampleTest.kt
2- comment

[2020-05-21 14:31] robstoll commented on #505
Thanks for the report, I'll look into it later on. What I can say already is that Atrium is not generating the stack trace. We only create the AtriumError and the JVM is populating the stack trace. So I guess the error here is in Kotlin itself or rather in the way the SampleTest in common gets generated in JVM. I'll check and give you feedback.

[2020-05-21 18:54] robstoll opened #506 "remove android jars"
*Platform* (jvm, js, android): android
*Extension* (none, kotlin 1.3): all

## Code related feature

We established a dexer check and could show that we can now use jdk8 types in the android jar without problems. The module-info.class bug in the dexer seems to be fixed (see #52) by now and therefore there is no reason any more to have the jar.

Following the things you need to do:
- [x] adjust bui

[2020-05-22 11:28] AliGolmirzaei commented on #505
thank you

[2020-05-25 18:59] robstoll commented on #505
It was like I thought, the problem is Kotlin if you want or rather inlining. The stacktrace points to the generate JVM class SampleTest where the line is actually correct:
[code]
Intellij works around it (I guess by reading the generated meta file) and offers the possibility to jump to call side:
![stacktrace-intellij](https://user-images.githubusercontent.com/5557885/82837500-87ab7f80-9ec9-11ea-8

[2020-05-25 19:06] robstoll commented on #483
@Russiancold un-assigning you so that others could take over.

[2020-05-25 19:29] robstoll opened #507 "add Path.hasSameTextualContentAs to infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3): none

## Code related feature
Follow up of #375, we want the corresponding functionality in api-infix as well
[code]
*api-infix*
- [ ] copy the functions from apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/pathAssertions.kt to apis/infix-en_GB/atrium-api-infix-en_GB-jvm/src/main/kot

[2020-05-25 20:24] #495 closed

[2020-05-25 22:06] #506 closed

[2020-05-26 09:32] robstoll commented on #276
closing this as v0.12.0 with the new infix API is going to be released soon

[2020-05-26 09:32] #276 closed

[2020-05-26 09:32] robstoll commented on #409
@jordi-farre un-assigning you so that others can take over

[2020-05-27 18:50] thomasrockhu opened #511 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-05-27 18:52] robstoll commented on #511
@thomasrockhu is the upload mechanism still the same? If not, are there any migration guides?

[2020-05-27 18:56] thomasrockhu commented on #511
@robstoll the upload mechanism will be the same! This is meant to be least invasive as possible.

[2020-05-27 19:05] robstoll commented on #511
@thomasrockhu the rights you want for installing the app is kind of OK but registering on codecov.io is not.

[2020-05-27 20:06] thomasrockhu commented on #511
@robstoll, I'd like to understand a little more about the complaint here with registering on `codecov.io`. Why does it feel so wrong?

[2020-05-27 20:08] robstoll commented on #511
So far it was not necessary to share this information with codecov.io
![image](https://user-images.githubusercontent.com/5557885/83067203-8499c600-a066-11ea-9349-a8b4918d45d7.png)

E.g. why do you need `collaboration invites` and the said `deploy keys`

[2020-05-27 20:41] thomasrockhu commented on #511
@robstoll, unfortunately, those are not separate permissions that we are individually requesting. The GitHub app permissions are not that granular, but this is the full extent of the permissions we require

![image](https://user-images.githubusercontent.com/4213028/83069784-79c83c80-a038-11ea-85d6-38cef00f5b5d.png)

I'm still digging in to see how `deploy keys` maps, but `collaboration invites` is

[2020-05-27 20:45] robstoll commented on #511
Maybe the text of GitHub is poor as well, it sounds like you would have access to write collaboration invites

[2020-05-27 20:48] robstoll commented on #511
That looks like the permissions for the App, not for the log in to codecov.io

[2020-05-27 20:51] thomasrockhu commented on #511
Thanks for working with me here @robstoll, the big takeaway here is that we clearly need to do a better job describing why we request the permissions that we do.

Those are the permissions for the app, let me check for `codecov.io` for you

[2020-05-27 20:55] thomasrockhu commented on #511
@robstoll these are the permissions I'm seeing from `codecov.io`

![image](https://user-images.githubusercontent.com/4213028/83071257-d0367a80-a03a-11ea-97c5-0860b3966434.png)

[2020-05-28 06:01] robstoll commented on #511
I have revoked access to codecov.io so that you can see what permissions are requested on a fresh account:
![image](https://user-images.githubusercontent.com/5557885/83104589-5abdbf00-a0b9-11ea-9192-44b0e1d49cda.png)

so there is a mismatch between yours and mine. Let me know once it is fixed and I re-consider to open this issue and move to the app

[2020-05-28 15:50] thomasrockhu commented on #511
One thing to note here @robstoll, is that you don't need to oauth into `codecov.io` in order to move to the app.

[2020-05-28 17:36] mspear commented on #460
I'll work on this

[2020-05-29 05:49] #155 closed

[2020-05-29 19:03] #460 closed

[2020-05-30 12:03] robstoll commented on #511
@thomasrockhu those look like the old permissions codecov.io wanted from me as well. Have you tried to revoke access and gain again access to codecov.io?

[2020-05-30 12:03] robstoll commented on #511
I have installed the app, closing the issue.

[2020-05-30 12:03] #511 closed

[2020-05-30 12:29] robstoll opened #515 "Path assertions use wrong description"
*Affected Version*: 0.9.0 and newer
*API* (fluent-en_GB, infix-en_GB): all
*Platform* (jvm, js): jvm
*Extension* (none, kotlin 1.3): none

## How to reproduce the problem
Following an example (most of PathAssertions incorporate from this bug)
[code]

bug introduced in #308 but the underlying problem was that we moved TO_BE to DescriptionBasic. I am going to move it back to DescriptionAnyAssertion

[2020-05-30 15:13] #515 closed

[2020-05-31 17:33] robstoll commented on #511
@thomasrockhu since I have installed the app, the code-coverage dropped. It seems like the coverage from travis is no longer uploaded correctly. The log in the CI seems normal:
https://travis-ci.com/github/robstoll/atrium/jobs/341746356#L1960

Any hint?

[2020-06-01 13:26] thomasrockhu commented on #511
Hi @robstoll, sorry about the wait here. We had an issue this weekend due to an intermediate cert in our cert chain expiring. This seems to be a more wide-sweeping internet issue shown [here](https://news.ycombinator.com/item?id=23360624). We have since patched this our side, and you shouldn't be receiving that error anymore.

[2020-06-01 19:09] robstoll commented on #511
@thomasrockhu no worries, that was only a glitch no problem at all.
However, I have no idea if it is due to the app installation or not but I cannot longer look at individual files on codecov :cry:

Try e.g. a file here
https://codecov.io/gh/robstoll/atrium/tree/master/core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core

I always get a 500 server error

[2020-06-01 19:20] thomasrockhu commented on #511
@robstoll I'll dig into this, but right now I'm able to access files both logged in and logged out. e.g. https://codecov.io/gh/robstoll/atrium/src/master/core/api/atrium-core-api-common/src/main/kotlin/ch/tutteli/atrium/core/Either.kt

[2020-06-01 19:26] robstoll commented on #511
@thomasrockhu hm... so again a glitch, I am able to access it on the latest commit as well.
I have at least one other issue currently, the `ignore` in the codecov.yaml does not work any more. But let's wait, maybe a glitch as well. We'll see...

[2020-06-01 19:33] thomasrockhu commented on #511
@robstoll strange, the `yaml` is actually found, but it is shown as invalid. I'm not seeing in any documentation the `against: parent` parameter [here](https://github.com/robstoll/atrium/blob/master/.github/codecov.yml#L43)

If you remove it, the yaml appears to be valid.

[2020-06-01 19:41] robstoll commented on #511
OK, going to try it, nothing new I have added though and it was valid with `against: parent` when it was in the root of the project:
https://codecov.io/gh/robstoll/atrium/commit/31ff629f5e728a3b198e19e20d42c77b391042b7/build

[2020-06-01 19:45] thomasrockhu commented on #511
@robstoll, looking at our logs, we did mark this as invalid, but we have made changes on our side to be more strict about invalid `yaml`s. I'm guessing that's why it doesn't show up in the UI now, but I am surprised if there was a change in behavior. Let me know if you see that.

[2020-06-01 19:47] robstoll commented on #511
Must be a change in behaviour, if you look at https://codecov.io/gh/robstoll/atrium/commit/1994aad85e7d4ab9da3cfea6a59313bda6c1b722/build which was uploaded ~45min ago, it finds the yaml and does not complain.
But in any case, I am totally fine with removing it - had added this a long time ago because it was necessary back then.

[2020-06-01 20:10] robstoll commented on #511
@thomasrockhu does not seem like it helped to remove `against: parent` for the UI but at least the ignore pattern works again (not sure if it related to removing `against: parent` though). So despite the fact that https://codecov.io/gh/robstoll/atrium/commit/f48c695189b89e5cc9bbe111a72081caf79e27a2/build shows `no yaml found` it seems to work :man_shrugging: weird stuff is going on over there :lau

[2020-06-02 15:01] thomasrockhu commented on #511
Thanks for checking up on that, I forwarded it over to the product team to see why that might be. But just confirming that everything else seems to be working properly for you?

[2020-06-02 18:29] thomasrockhu commented on #511
Just wanted to update you that we indeed found a strange issue here, and the product team has added it to the roadmap. Thanks for the help here @robstoll!

[2020-06-02 18:37] robstoll commented on #511
glad I could be of help.
There are two issue open for me:
1. translations does not show up https://codecov.io/gh/robstoll/atrium/tree/master/ - it is something which does not work for a while (so has nothing to do with the app) and since the impact for me is not significant I ignored it but it would be nice if it shown. The uploaded reports.xml contains corresponding data. For instance, /apis/flue

[2020-06-02 18:38] robstoll commented on #511
@thomasrockhu glad I could be of help.
There are two issue open for me:
1. translations does not show up https://codecov.io/gh/robstoll/atrium/tree/master/ - it is something which does not work for a while (so has nothing to do with the app) and since the impact for me is not significant I ignored it but it would be nice if it shown. The uploaded reports.xml contains corresponding data. For instan

[2020-06-03 16:27] thomasrockhu commented on #511
1. Sorry, I think you'll need to spell this out one for me a little bit more. I'm not particularly familiar with translations, but what would a solution look like?
2. Just to clarify, and apologies if we've gone over this. I want to be sure I get the right answer for you here, which permissions do we ask of you on `codecov.io` that are above and beyond the app permissions? What would the right sol

[2020-06-03 18:11] robstoll commented on #511
1. It's just a regular directory: https://github.com/robstoll/atrium/tree/master/translations
As you can see above `ch/tutteli/atrium/translations/DescriptionFloatingPointAssertion` is one class resulting from this path. However, this class does not show up in codecov (even though report contains it as you can see in the above xml). If I generate a html report with jacoco in addition to the report

[2020-06-07 19:52] robstoll commented on #280
We need one more Expect to cover the case of subject transformation which is not due to a feature (e.g. `asEntries`). Add DelegatingExpect for this

[2020-06-09 07:41] robstoll commented on #280
implemented with 4fd3a52

[2020-06-09 07:41] #280 closed

[2020-06-09 21:23] Gugatke commented on #477
I'll work on this

[2020-06-16 15:01] robstoll commented on #477
@Gugatke let me know in case you need help

[2020-06-16 15:02] robstoll commented on #507
@assaflei do you fancy implementing this one?

[2020-06-30 10:37] robstoll commented on #477
@Gugatke un-assinging you so that others can take over

[2020-07-01 11:27] ivanmiklec commented on #299
I'll work on this

[2020-07-01 12:09] robstoll commented on #299
@ivanmiklec Let me know in case you need more information

[2020-07-02 05:48] #234 closed

[2020-07-04 18:16] rkiselev commented on #482
I'll work on this

[2020-07-04 18:32] rkiselev commented on #481
I'll work on this

[2020-07-06 19:37] z13z commented on #507
I'll work on this

[2020-07-07 17:22] z13z commented on #507
Hello
I have a question regarding splitting "hasSameTextualContentAs" function:
first one with only path parameter is unused, because in PathAssertionsSpec.kt there is only one parameter for given function.

[2020-07-07 19:00] robstoll commented on #507
I am not sure what you mean by that but you are right that we have only
[code]
Which expects 3 arguments. I.e we have not checked that the default arguments are UTF-8. Let's add this. Would you mind doing this? Otherwise I can add it for you and you can rebase afterwards.
Add `hasSameTextualContentAsDefaultArgs: Fun1<Path, Path>,` to misc/specs/atrium-specs-jvm/src/main/kotlin/ch/tutteli/atrium/sp

[2020-07-07 19:17] z13z commented on #507
No prob. I'll add `hasSameTextualContentAsDefaultArgs` by myself. thanks for offering your help ^^

[2020-07-07 21:44] z13z commented on #483
I'll work on this

[2020-07-08 20:44] robstoll commented on #507
@z13z I just realised we don't have `hasSameBinaryContentAs` in infix either. How about you create a second PR (or include it in your first as you wish)?

[2020-07-09 22:50] z13z commented on #477
I'll work on this

[2020-07-11 19:40] #484 closed

[2020-07-11 19:44] robstoll commented on #459
I am currently refactoring IterableAssertions to IterableLikeAssertions, which means they can be used by Sequence or Array types on the logic level. Then there is only one step left to provide an API for Array etc. as well.

[2020-07-12 10:30] Gugatke commented on #461
i'll work on it

[2020-07-12 10:32] Gugatke commented on #462
i'll work on it

[2020-07-12 11:59] Gugatke commented on #329
i'll work on it

[2020-07-12 13:26] Gugatke commented on #409
Could you help me by making hint for me. where should i make changes if i take this issue?

[2020-07-12 15:01] Gugatke commented on #462
which class should i change?

[2020-07-12 15:36] robstoll commented on #409
In DetailedObjectFormatter where toString will be called (explicitly or implicitly).

[2020-07-12 15:36] robstoll commented on #409
@Gugatke In DetailedObjectFormatter where toString will be called (explicitly or implicitly).

[2020-07-12 15:41] robstoll commented on #462
@Gugatke I am not sure what you mean, all necessary changes are described in the issue description. Can you please state your question more precisely

[2020-07-12 17:37] z13z commented on #180
I'll work on this

[2020-07-12 17:38] z13z commented on #337
I'll work on this

[2020-07-13 10:56] robstoll commented on #337
@z13z great that you are that motivated :slightly_smiling_face: Please don't work on more issues in parallel, let's try to get the once you are assigned to into master first.

[2020-07-13 14:26] #483 closed

[2020-07-13 20:47] z13z commented on #337
I can't find mocha in README.md (inside notToThrow). Was it deleted?

[2020-07-13 21:19] robstoll commented on #337
you find `mocha` around line 496
`Stack frames of Atrium and of test runners (Spek, Kotlintest and JUnit for JVM, mocha for JS) are excluded per default`

[2020-07-14 07:13] susmithasrimani commented on #310
I'll work on this

[2020-07-14 07:43] robstoll commented on #310
@susmithasrimani this isn't an easy one to start with, I suggest you do a good first issue first.

[2020-07-14 21:32] z13z commented on #337
Errors in AdjustStackTest doesn't contain string "jasmine", even after changing regex in RemoveRunnerAtriumErrorAdjuster.kt to `(\s|\S)*`. how can I produce exception with correct stack trace in given test class to add new test cases

[2020-07-15 06:13] robstoll commented on #337
Oh well, seems like I have not thought that through when I wrote the description. You cannot in AdjustStackTraceSpec as we are using mocha as runner and not jasmine. However, you can add  your test case to /samples/js/jasmine.

[2020-07-18 08:36] anesabml commented on #479
Hi, can I work on this?

[2020-07-18 10:04] robstoll commented on #479
Sure 👍

[2020-07-19 13:39] z13z commented on #180
Hello. I won't be able to finish this issue. please unasign me

[2020-07-27 08:06] robstoll commented on #461
@Gugatke un-assign you so that others can take over

[2020-07-27 08:08] #477 closed

[2020-07-28 10:45] anesabml commented on #180
@robstoll can I work on this?

[2020-07-29 15:17] #479 closed

[2020-08-16 15:47] ivanmiklec commented on #299
was busy but I'm going to solve this during the upcoming week

[2020-08-16 20:15] robstoll commented on #299
@ivanmiklec No worries, I don't expect it to be part of 0.13.0 so no rush.

[2020-08-19 20:23] robstoll commented on #507
implemented with https://github.com/robstoll/atrium/pull/557

[2020-08-19 20:23] #507 closed

[2020-08-19 20:43] robstoll commented on #481
implemented with https://github.com/robstoll/atrium/pull/556

[2020-08-19 20:43] #481 closed

[2020-08-26 19:24] #180 closed

[2020-08-28 19:37] robstoll commented on #459
Since 0.13.0, you can now pass Sequence and Array types to places where we expected `Iterable` so far. For instance to `containsElementsOf(...)`

[2020-08-28 19:40] robstoll commented on #349
since renovate does not support sub-projects (yet), we should setup/configure dependabot instead (samples are outdated now, so if the configuration is done correctly, then dependabot should propose to upgrade them to Atrium v0.13.0)

[2020-08-30 08:48] Valefant commented on #462
I'll work on this, if it's ok.

[2020-08-30 10:06] robstoll commented on #462
Sure, go ahead 👍

[2020-08-31 11:52] #462 closed

[2020-08-31 11:54] robstoll opened #562 "implement Charsequence.contains in atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): all

## Code related feature
part of moving to the new ServiceLoader-free architecture. Most assertion functions are already implemented in atrium-logic, CharSequence.contains is missing.

[2020-08-31 11:56] robstoll opened #563 "transform CollectionAssertions in to CollectionLike"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
In order that we can re-use assertion functions like `size` not only for Collection but also for Array, we should transform CollectionAssertions in atrium-logic to CollectionLikeAssertions where we expect a function `(T) -> Collection<*>` so that we can re-use it on the API level

[2020-09-01 04:56] robstoll opened #564 "implement Iterable.contains in atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): all

## Code related feature
part of moving to the new ServiceLoader-free architecture. Most assertion functions are already implemented in atrium-logic, Iterable.contains is missing.

[2020-09-01 17:04] Valefant commented on #461
I did a similar issue and would work also on this one, if it's ok

[2020-09-01 17:36] Valefant commented on #409
You can assign me for this one 👍

[2020-09-01 18:00] Valefant commented on #400
I would like to take this one

[2020-09-01 18:04] #461 closed

[2020-09-01 20:08] #562 closed

[2020-09-01 20:13] #409 closed

[2020-09-01 20:36] robstoll opened #568 "introduce experimental scala-api"
*Platform* (all, jvm, js, android): scala
*Extension* (none, kotlin 1.3): none

## Code related feature
some code is already committed but we have not yet created an artifact so far. The following things need to be done in addition

- [ ] rename atrium-scala to atrium-scala2 as we are most likely going to use atrium-scala for Scala 3
- [ ] create a bundle module
- [ ] setup publishing for atrium-s

[2020-09-02 18:07] Valefant commented on #480
I'll work on this one

[2020-09-02 18:34] Valefant commented on #480
The functions in _domain-robstoll-lib_ are deprecated.
In that case I would extend atrium-logic-jvm further, to accept also a String.
Is that ok?

[2020-09-02 19:20] #400 closed

[2020-09-02 19:26] robstoll commented on #480
Correct, I have updated the description.

[2020-09-03 18:57] robstoll commented on #299
@ivanmiklec I am going to refactor IterableContains, I suggest you wait with your implementation until #564 is closed. If you have already started: don't worry, the change will mainly be moving code from domain-robstoll to logic

[2020-09-04 18:32] ivanmiklec commented on #299
Sure, going to wait a bit then

[2020-09-07 15:51] Valefant commented on #482
You can assign me this one :-)

[2020-09-07 16:44] robstoll commented on #482
Sure 🙂👍
I have sent you a collaborator invitation. Once accepted you can assign task yourself

[2020-09-07 19:37] Valefant commented on #482
I didn't get the mail, because I haven't updated my Profile Email in a long time. If you don't mind, can you send the invitation again? Thank you 🙂

[2020-09-08 18:51] robstoll commented on #482
I have re-sent it yesterday, did you get it?

[2020-09-08 19:06] Valefant commented on #482
I got it. Thank you @robstoll 🙂

[2020-09-09 10:05] #480 closed

[2020-09-10 20:20] robstoll opened #573 "move utils from domain-builders to atrium-logic"
## Code related feature
We want to deprecate domain-builders hence copy the functionality from domain-builders' util package to atrium-logic.
And some other things should be copied and moved:
- move stuff from utils to atrium-logic
- move type aliases IterableLike and CharSequenceOrNumberOrChar from domain-api to atrium-logic
- adjust README, I think nullable helpers are also in domain-builders (i

[2020-09-11 20:21] #564 closed

[2020-09-11 20:23] robstoll commented on #299
@ivanmiklec refactoring is merged, you need to modify the files in /logic/atrium-logic-common/src/main/kotlin/ch/tutteli/atrium/logic/creating/iterable/contains/creators/impl

[2020-09-12 20:11] robstoll opened #576 "move SubjectChangerBuilder to atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
move the interface SubjectChangerBuilder and the impl to atrium-logic

[2020-09-12 20:13] robstoll opened #577 "move FeatureExtractorBuilder from domain-builders to atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
move the interface FeatureExtractorBuilder and the impls to atrium-logic.
Reconsider if we really need this builder.

[2020-09-12 20:18] robstoll opened #578 "move MetaFeatureOption to API and logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
MetaFeatureOption could potentially be different per API and thus I guess it makes sense if this is part of the API.
Maybe you a generative approach to copy it to infix from fluent if it is the same right now?

I guess the same applies to MetaFeatureBuilder

[2020-09-12 20:26] robstoll opened #579 "move ReporterOption and ExpectBuilder from domain-builders to atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
- rename ...Option to ...Step in this refactoring
- reconsider how ExpectBuilder is using Options:
  - do we really need a separate layer between core and atrium-logic?
  - does it fit into the new getImpl?

[2020-09-19 12:59] #573 closed

[2020-09-19 20:46] #563 closed

[2020-09-20 19:51] robstoll opened #586 "refactor core, don't use ServiceLoader, use getImpl instead"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
- deprecate core-robstoll and core-robstoll-lib
- move impl of core-robstoll-lib to either atrium-core or atrium-logic

[2020-09-22 18:44] robstoll opened #587 "move collectAssertions from domain-builders to atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Also move those helper functions to atrium-logic and deprecate in domain-builders

[2020-09-22 20:44] robstoll opened #588 "move AssertionCollector to atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
move from domain-builders to atrium-logic and deprecate in builders

[2020-09-24 20:07] #576 closed

[2020-09-24 20:08] robstoll commented on #482
@Valefant do you need help with this one? No stress, I just want to offer my help

[2020-09-24 21:38] pablohildo commented on #473
I'll work on this.

[2020-09-29 12:50] khliwa commented on #482
@robstoll I could takeover if @Valefant doesn't want to continue it. Or I'll gladly take some other entry-level issue if you have something available.

[2020-09-29 17:32] robstoll commented on #482
@khilwa feel free to start, in the worst case you both do the same and you can compare the two solutions

[2020-09-29 19:59] robstoll opened #590 "add Path.contains as shortcut for Path.isDirectory + Path.resolve + Path.exists"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

Following the things you need to do:

*api-fluent*
- [ ] provide a fun `contains` which expects `path: String, vararg otherPaths: String` and returns `Expect<T>` (see resolve with expect an assertionCreator in pathAssertions.kt as a guideline)
- [ ] add `@since 0.14.0` (adapt to current [m

[2020-09-30 15:05] SylvainGirod commented on #590
Hello, can I work on this ?

[2020-09-30 15:33] robstoll commented on #590
Sure

[2020-09-30 19:33] jGleitz opened #591 "Add Path.isExecutable"
*Platform* (all, jvm, js, android): jvm
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]
In #112, we decided to leave out `#isExecutable` because we had no use case for it. I am now writing a test where I want to check that a file is executable.

[2020-10-01 10:24] #591 closed

[2020-10-01 18:25] robstoll opened #594 "do no longer create a MethodCallFormatter with coreFactory use configured factory from AssertionContainer"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Currently there are places which use `coreFactory.newMethodCallFormatter()...` This is wrong, it should use the MethodCallFormatter specified for the current Expect, i.e. we should use ~~getImpl~~ `components.build<...>()` instead

[2020-10-02 19:59] robstoll opened #595 "move Group and groupsToList from domain-builders to atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
constitutes a binary bc break.

[2020-10-02 20:00] robstoll opened #596 "move VarArgHelper from domain-builders to atrium-logic"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
not yet sure if it is worth to move it to atrium-logic. Might be we just deprecate it and that's that.

[2020-10-03 13:57] #577 closed

[2020-10-04 10:05] tarczynskitomek commented on #329
Hi! I'll be happy to help if the issue is still available. Just to reiterate what needs to be done:
Find all `.*FeatureAssertionSpec` and rename to `.*AssertionSpec`. If one exists, merge/fuse two specs into one.

[2020-10-04 18:37] robstoll commented on #329
Exactly, no need to do everything in one PR. I suggest you rewrite one spec and create a PR

[2020-10-04 18:58] tarczynskitomek commented on #329
Sounds like a plan! I'll start with fusing the example `MapFeatureAssertionsSpec`, and we'll see how it goes.

There're some minor differences I've noticed in the spec config between `MapFeatureAssertionsSpec` and `MapAssertionsSpec`, like different values in nullableMap property, and the latter class using `Map<out String, Int>` while the former an invariant version `Map<String, Int>`, so this is

[2020-10-06 16:16] ezesalas7 commented on #590
Hello, I'll work on this...

[2020-10-06 16:21] SylvainGirod commented on #590
I think you can if @robstoll is ok. I couldn't manage to take the time to work on this.

[2020-10-06 18:02] robstoll commented on #590
@ezesalas7 go ahead and let me know if you need help.
@SylvainGirod come back once you have time again, your help is always appreciated.

[2020-10-06 18:05] ezesalas7 commented on #590
Thanks @robstoll, I am setting up the project now. First time contributing to open source, pretty exited! Hope I can get It done :)

[2020-10-07 14:07] frikit commented on #172
I'll work on it

[2020-10-08 06:41] robstoll commented on #172
@frikit as this is your first contribution, I advise:
- See [Your first code contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution) for guidelines.
- Do not hesitate to ask questions here or to contact us via [Atrium's slack channel](https://kotlinlang.slack.com/team/U3DE1TXKP) if you need help
  ([Invite yourself](https://slack.kotlinlan

[2020-10-08 20:03] jgrgt commented on #590
I'll work on this

[2020-10-08 20:23] robstoll commented on #590
@jgrgt there is already someone working on this. Please take another issue unless @ezesalas7 does not have time

[2020-10-08 20:24] robstoll commented on #590
@jgrgt sorry, I have not seen that @ezesalas7 unassigned himself. So go ahead :+1:

[2020-10-10 06:26] uzilan commented on #349
I'd like to try to help with this one

[2020-10-10 08:08] uzilan commented on #349
Tried setting it up in my fork and as you said @robstoll - it created PRs for updating Atrium to v0.13.0, as can be seen here: https://github.com/uzilan/atrium/pulls

[2020-10-11 06:45] uzilan opened #624 "Use @sample block tags in KDoc to embed samples inside the API"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

## Non-Code related feature
**Is your feature request related to a problem? Please describe.**
Looking at the Atrium documentation, it is not always simple to understand how to use certain assertions, especially if they are complex. An example might make life easier.

**Describe the soluti

[2020-10-11 08:04] robstoll commented on #624
@uzilan I had this on my roadmap but didn't find the time to look deeper into it. Note that the samples in README are generated via ReadmeSpec but they have a different goal I would say as they serve to demonstrate the error message as well. A sample per function in KDoc would be great.

Last time I had a look, the samples for `@sample` needed to be in src/main. Something I don't like that all. If

[2020-10-11 10:06] Valefant commented on #482
@robstoll Sry for replying so late. I would start working on it now.
@khliwa What's your status? :-)

[2020-10-11 19:52] uzilan commented on #624
@robstoll the samples in the kotlin std lib can be found under [kotlin/libraries/stdlib/samples/test/samples/](https://github.com/JetBrains/kotlin/tree/master/libraries/stdlib/samples/test/samples) so I guess it's sorted. I'd like to help adding the `@sample`s in Atrium but am having a tough time figuring out how to refer to the functions in the samples projects from the API. I guess a reference h

[2020-10-11 20:05] robstoll commented on #624
Sounds good and nice that you want to improve Atrium here :+1:

The samples folder is not the right place, those are sample projects which one can copy as a start.
We want to have samples per API. As a start I would try to add a sample to the fluent API, thus put the samples to apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples. I suggest yo

[2020-10-11 20:06] uzilan commented on #624
Ok cool, I'll give it a try.

[2020-10-12 17:18] jGleitz opened #626 "Overload Issues for Features"
*Affected Version*: 0.13.0
*API* (fluent-en_GB, infix-en_GB): fluent-en_GB
*Platform* (jvm, js): jvm
*Extension* (none, kotlin 1.3): jvm

## How to reproduce the problem
Consider the following code snippets:

#### 1
[code]
does not compile:

[code]

#### 2
[code]
does not compile:
[code]

#### 3
[code]

does not compile:

[code]

## Describe the bug
There is no straightforward way no test `Path.is

[2020-10-12 18:59] jGleitz opened #627 "Add Expect.because to Document Assertions"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

I sometimes find myself in situation where I write assertions that are not obvious. By that, I mean that it is either not clear why the assertion should be required to hold, or what the assertion is supposed to test, for example because it tests in some indirect manner. I usually leave a c

[2020-10-12 19:02] jGleitz commented on #627
The design was inspired by [Gradle’s possibility to add reasons for dependencies](https://docs.gradle.org/current/userguide/declaring_dependencies.html#sec:documenting-dependencies).

[2020-10-12 19:18] robstoll commented on #626
@jGleitz for disambiguation we have `p`  and `f0`, `f1`  etc. I cannot try it out myself. Could you quickly check if this would solve your issue?

[2020-10-12 19:23] jGleitz commented on #626
`p` does not work, as reported in the initial report.

I didn’t know about `f0`. Using `f0` works.

Still, I think it might make sense to remove `f(KProperty0)`.

[2020-10-12 19:25] robstoll commented on #627
Thanks for the report. I am totally in favour of adding something like that. In fact, adding notes/remarks is on the roadmap https://github.com/robstoll/atrium-roadmap/issues/15
We also have adding failure hints on the roadmap (https://github.com/robstoll/atrium-roadmap/issues/9). I am not sure which one is the one you would want to use.
let's discuss ideas there and come back once we are settled.

[2020-10-12 19:25] #627 closed

[2020-10-12 19:30] jGleitz commented on #627
Oh, I see. Sorry for the duplication, I forgot to check the roadmap!

[2020-10-12 19:36] robstoll commented on #626
it's correct that `p` does not work because it's not really a Kotlin property. That's very unfortunate but we cannot change this one. It was also the reason why we merged returnValueOf and property. People working a lot with java getters always run into the problem that they wanted to use property where they had to use returnValueOf instead. Having one ` f` which covers both solved this issue. But

[2020-10-12 19:38] robstoll commented on #627
no problem

[2020-10-12 19:38] jGleitz opened #628 "Report Evaluation Result After notToThrow()"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

leads to the output:

[code]

which does not show me the result of evaluating the subject.

**Describe the solution you'd like**
The subject after `notToThrow()` should be reported. Something like:

[code]

**Describe alternatives you've considered**
none

[2020-10-12 19:41] robstoll commented on #628
Good input and I agree. I would just use `invoked`  instead of `evaluated`.

[2020-10-12 19:51] jGleitz commented on #626
As a quick test, the following compiles with Kotlin 1.4:

[code]

I am guessing that something like this will not land too soon. Might it still make sense to remove `f(KProperty0)` for the meantime? I think pushing users to use `p` is better than having to use `f0`. Mostly because guidance to use `p` is clearer based on the type, while currently it is hard to understand why `f` won’t work for java

[2020-10-12 19:54] robstoll commented on #626
note that `f` works for java getters. It does not work where java getters are overloaded which is not the normal case I would say. Btw. do we have isAbsolute as shortcut for Path (would at least solve the issue for this particular function)

[2020-10-12 20:06] robstoll commented on #626
Btw. your sample is to simple, add the following to `Foo`  and you will see that you run into ambiguity problems as well:
[code]

[2020-10-12 20:45] jGleitz commented on #626
That is not the problem here. There is no other overload of `Path.isAbsolute`. However, the problem only exists for _boolean getters_.

Consider:

[code]

### Normal getters

[code]

does not compile (as expected):
[code]

however,

[code]

compiles.

### Boolean getters

[code]

does not compile, but for a different reason:

[code]

unlike with normal getters, the virtual Kotlin property does not

[2020-10-13 07:39] robstoll commented on #626
Interesting to know that `is...` is treated wrong. Seems like a kotlin bug to me. I'll create a bug report and an issue for isAbsolute for Path (or do you want to create a PR yourself?)

[2020-10-13 07:43] jGleitz commented on #626
I’d like to do the PR, but let’s create a ticket. I am quite busy and can’t make promises when (or if) I will get to it.

[2020-10-13 07:45] robstoll commented on #626
Good, it's hacktoberfest. There is a high chance someone else has time

[2020-10-13 07:52] robstoll opened #629 "add Path.isAbsolute"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

Following the things you need to do:

*logic*
- [ ] extend PathAssertions with a function `isAbsolute` (see other is... functions in PathAssertions as a guideline)
- [ ] implement isAbsolute in DefaultPathAssertions.kt

*api-fluent*
- [ ] add isAbsolute to pathAssertions.kt
- [ ] add `@sin

[2020-10-13 07:54] robstoll commented on #473
@pablohildo unassigning you so that others could take over

[2020-10-13 08:19] jGleitz commented on #629
I’d vote for also adding `Path.isRelative()`. First, I can imagine use cases for it (although I currently have none), second, and more importantly, I think this follows from the [principle of last astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment): If there is `isAbsolute`, I expect there to be `isRelative`.

[2020-10-13 11:18] robstoll opened #630 "add Path.isRelative"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

Following the things you need to do:

*logic*
- [ ] extend PathAssertions with a function `isRelative` (see other is... functions in PathAssertions as a guideline)
- [ ] implement isRelative in DefaultPathAssertions.kt

*api-fluent*
- [ ] add isRelative to pathAssertions.kt
- [ ] add `@sin

[2020-10-13 11:19] robstoll commented on #629
I agree, I created another issue #630

[2020-10-14 05:16] robstoll opened #631 "Atrium stops working for JS with Kotlin 1.4"
*Affected Version*: almost all, as soon as Kotlin 1.4 is used by the consuming project
*API* (fluent-en_GB, infix-en_GB): both
*Platform* (jvm, js): js
*Extension* (none, kotlin 1.3): none

## How to reproduce the problem
See https://github.com/robstoll/atrium/pull/620

And https://youtrack.jetbrains.com/issue/KT-42610
## Describe the bug
CoroutineBasedLocale... is using coroutines from the experi

[2020-10-15 08:28] jakubriegel commented on #630
I'll work on this **#hactoberfest**

[2020-10-15 09:26] mtadmk commented on #629
I'll work on this

[2020-10-15 09:31] jGleitz commented on #629
@mtadmk note that @jakubriegel is working on #630. You will be touching the same parts of the code, which means that

 a) you are very likely to have merge conflicts
 b) doing both at once might be simpler

I am not discouraging you from taking this ticket! I just wanted to point it out to spare you the frustration of having to fix conflicts. Maybe you can contact @jakubriegel and agree on how you

[2020-10-15 09:37] jakubriegel commented on #629
@jGleitz good point. It will be literally the same code. I planned to take that one to - sorry for not stating this here.
@mtadmk maybe you will wait for my pr and that create branch from my changes?

[2020-10-15 12:01] jakubriegel commented on #629
@mtadmk my pr https://github.com/robstoll/atrium/pull/632

[2020-10-15 12:15] Valefant commented on #482
This issue can be closed as the pull request was accepted

[2020-10-15 12:15] #482 closed

[2020-10-16 13:26] #172 closed

[2020-10-16 16:28] #630 closed

[2020-10-16 21:16] sharibj commented on #628
I'm a new contributor.
I'll work on this.
Feel free to direct me to some more issues a beginner can take.

[2020-10-16 21:29] robstoll commented on #628
Great! This one isn't a good first issue though, but you can give it a try. I don't know it by heart but the change is most likely in DefaultFun0Assertions. We probably use changeSubject but should use extractFeature in order to get the reporting we want

[2020-10-16 21:36] sharibj commented on #628
Thanks for the tips.
This is my very first attempt and I've just started going through the code so I'm sure the tips will help.
Do let me know if you know a 'good first issue' which is not taken yet.

[2020-10-17 18:57] chadmarchand commented on #473
I'll work on this

[2020-10-17 21:48] robstoll opened #636 "improve performance of containsNoDuplicates"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We currently use the following algorithm to filter all elements of a list which have duplicates:
[code]
Which means in the worst case we iterate the whole list for every element in the list. I assume there are better ways to do this. Research and improve the algorithm.

TODO:
- adjust the algorith

[2020-10-17 22:29] jGleitz commented on #636
Iterating over the collectiong while building a HashSet of the elements and adding any element that already is in the HashSet to the result collection has an expected runtime complexity of O(n) as opposed to the current O(n²) (assuming a O(1) implementation of `hashCode`/`equals`).

[2020-10-17 22:44] robstoll commented on #636
@jGleitz I did on purpose not give any further hints because it's hacktoberfest and a good issue for newbies. If you don't mind, delete your comment. You can still give the hint in case the one tackling the problem needs help 😉

[2020-10-17 22:46] jGleitz commented on #636
sorry, I didn’t get that :facepalm:. I was only trying to be helpful!

[2020-10-17 22:47] robstoll commented on #636
Always appreciated 👍

[2020-10-18 17:02] mohammaddvi commented on #636
Hi, I want to work on this issue and have a question and an idea.

[2020-10-18 17:21] robstoll commented on #636
Go ahead, what's your question?

[2020-10-18 17:23] mohammaddvi commented on #636
I`ve done actually but I want to be sure about my implementation. This method just wants to know there is duplicate or not, yes?

[2020-10-18 19:26] robstoll commented on #636
Please push what you already have, (e.g. as draft PR) it's always easier to talk about code when one sees it.

[2020-10-18 19:30] robstoll opened #637 "update gradle wrapper to latest version"
## Code related feature
update gradle wrapper in:
- root
- all the samples (those are independent projects)

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over.
  This way we get the chance to revise the description in case things have changed in the meantime, we might give you additional hints and we can assign the task to you, so that othe

[2020-10-18 20:39] #349 closed

[2020-10-18 20:48] fejd commented on #637
I'll work on this

[2020-10-19 05:11] robstoll commented on #629
@mtadmk still interested in doing this?

[2020-10-19 15:07] robstoll commented on #590
@jgrgt unassigning so that others can take over. Let us know in case you still work on it

[2020-10-19 18:09] jgrgt commented on #590
@robstoll Sorry about the lack of updates, I got stuck. Naming the function `contains` caused naming conflicts I could not resolve. I have something working with `containss` as a name for now. And still the build fails at the moment, with:

[code]

[2020-10-19 18:16] robstoll commented on #590
No problem, re-assigned you. Please push everything you have, always easier to review.
About the particular issue. You try to access api-fluent from api-infix. Check your imports. In api-infix you should not have `import ch.tutteli.atrium.api.fluent`

[2020-10-19 18:25] jgrgt commented on #590
@robstoll I pushed my code to a branch on my clone. Here's a diff https://github.com/robstoll/atrium/compare/master...jgrgt:path-contains?expand=1 Not sure if I'm allowed to create a 'WIP' pull request for this or not.

[2020-10-19 18:30] robstoll commented on #329
@tarczynskitomek unassigning you so that others know they could work on this. Let us know in case you are still working of it and I will re-assign you again.

[2020-10-19 18:31] robstoll commented on #590
You can always create a WIP pull request, no problem. Please do so, easier to keep track of changes for me.

[2020-10-19 18:38] tarczynskitomek commented on #329
Hi @robstoll sorry for the delay, I'll be able to get back to this at the end of the week - plenty of other tasks right now :-(

[2020-10-19 18:44] robstoll commented on #329
No worries, I'll let you un-assigned in case someone else want's to contribute in the meantime. I'll re-assign you as soon as you have time again.

[2020-10-19 20:16] robstoll opened #641 "update to new dokka plugin"
## Non-Code related feature
Atrium is currently using dokka 0.9.8 via the tutteli-dokka plugin.
We would like to update to dokka 1.4.10

Following the things we need to do (see https://github.com/robstoll/atrium/pull/683 most likely you can build on this):
- [ ] remove `classpath "ch.tutteli:tutteli-gradle-dokka:$tutteli_plugins_version"`  from build.gradle
- [ ] configure the new dokka plugin ins

[2020-10-20 13:30] robstoll opened #643 "add samples for anyAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for anyAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] complement AnyAssertionSamples with the remaining functions from anyAssertions.kt
- [ ] add the sample to the corresponding function in anyAssertions via the `@sample`

[2020-10-20 13:31] robstoll commented on #624
@uzilan I had a look by myself in the meantime. I am going to create dedicated issues per file. Therefore I am closing this issue. Would be nice if you could contribute some of the samples.

[2020-10-20 13:31] #624 closed

[2020-10-20 13:40] uzilan commented on #624
@robstoll sure, I also started a bit but got stuck because I couldn't get Dokka to include the samples. Maybe you have an idea how to solve it?

[2020-10-20 13:46] robstoll opened #644 "add samples for arrayAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for arrayAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create ArrayAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function p

[2020-10-20 13:47] robstoll commented on #624
@uzilan you can have a look at my PR to see how I did it: https://github.com/robstoll/atrium/pull/642

[2020-10-20 13:48] robstoll opened #645 "add samples for charSequenceAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for charSequenceAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create CharSequenceAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add

[2020-10-20 13:49] robstoll opened #646 "add samples for collectionAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for collectionAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create CollectionAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one

[2020-10-20 13:49] robstoll opened #647 "add samples for comparableAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for comparableAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create ComparableAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one

[2020-10-20 13:51] robstoll opened #648 "add samples for featureAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for featureAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create FeatureExtractorSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one functi

[2020-10-20 13:52] robstoll opened #649 "add samples for floatingPointAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for floatingPointAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create FloatingPointAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] ad

[2020-10-20 13:53] robstoll opened #650 "add samples for fun0Assertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for fun0Assertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create Fun0AssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per

[2020-10-20 13:54] robstoll opened #651 "add samples for iterableExpectations of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for iterableAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create IterableExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one fu

[2020-10-20 15:52] praful0203 commented on #637
I will work on this

[2020-10-20 16:06] robstoll commented on #637
@praful0203 there is already fejd working on this one. There are other good first issues

[2020-10-20 18:38] robstoll opened #652 "add samples for iteratorAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for iteratorAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create IteratorAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one func

[2020-10-20 18:39] robstoll opened #653 "add samples for listAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for listAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create ListAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per

[2020-10-20 18:40] robstoll opened #654 "add samples for mapAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for mapAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create MapAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per f

[2020-10-20 18:40] robstoll opened #655 "add samples for mapEntryAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for mapEntryAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create MapEntryAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one func

[2020-10-20 18:41] robstoll opened #656 "add samples for pairAssertions of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for pairAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create PairAssertionSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per

[2020-10-20 18:41] robstoll opened #657 "add samples for sequenceExpectations of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for sequenceAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create SequenceExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one fu

[2020-10-20 18:42] robstoll opened #658 "add samples for throwableExpectations of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for throwableExpectations.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create ThrowableExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add on

[2020-10-20 19:46] robstoll opened #660 "add Expect.because to document the reason for an assertion"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
See robstoll/atrium-roadmap#15 for the full background.

We want to be able to state the reason for an assertion (could also be additional context to explain the assertion etc.).

[code]

And it should look like the following in reporting:
[code]

Following the things you need to do:

*core*
- [x]

[2020-10-22 07:18] jakubriegel commented on #629
@robstoll if @mtadmk is not up for this issue, I can take it 👌

[2020-10-22 07:19] robstoll commented on #629
@jakubriegel please go ahead :+1:

[2020-10-22 13:06] #629 closed

[2020-10-22 19:16] Valefant commented on #660
@robstoll I'll take this one, if it's ok

[2020-10-22 19:27] robstoll commented on #628
@sharibj I created a bunch of good first issues which are fairly easy in case you would like to switch

[2020-10-22 20:33] #637 closed

[2020-10-24 05:11] BimuratMukhtar commented on #643
I'll work on this

[2020-10-24 05:12] BimuratMukhtar commented on #649
I'll work on this

[2020-10-24 05:16] BimuratMukhtar commented on #653
I'll work on this

[2020-10-24 05:18] BimuratMukhtar commented on #656
I'll work on this

[2020-10-24 13:38] jdornieden commented on #643
I'll work on this

[2020-10-24 14:25] robstoll commented on #643
@jdornieden have a look at pairAssertions to take further inspiration, especially when it comes to functions having two overloads where one expects an assertionCreator-lambda

[2020-10-24 16:49] #656 closed

[2020-10-24 16:50] #649 closed

[2020-10-24 23:12] Gosunet commented on #652
Hello,

I'll work on this !

[2020-10-24 23:48] Gosunet commented on #647
I'll work on this !

[2020-10-25 15:57] jdornieden commented on #644
I'll work on this

[2020-10-25 17:38] chadmarchand commented on #631
I'll work on this

[2020-10-25 19:14] #652 closed

[2020-10-25 19:15] #653 closed

[2020-10-25 19:18] #647 closed

[2020-10-26 07:32] robstoll opened #671 "rename withFailureHint to withHelpOnFailure"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Currently one can create hints in case of an assertion failure by using `withFailureHint`. In https://github.com/robstoll/atrium-roadmap/issues/9 we came to the conclusion that `withHelpOnFailure` would better state the intend.

Following the things you need to do:

*logic*
- [ ] find everything c

[2020-10-26 11:53] #643 closed

[2020-10-26 20:18] Gosunet commented on #646
I'll work on this ;)

[2020-10-26 20:28] jdornieden commented on #645
I'll work on this

[2020-10-26 20:45] #644 closed

[2020-10-27 14:32] robstoll opened #674 "add samples for anyAssertions of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy AnyAssertionSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that the sam

[2020-10-27 14:32] robstoll opened #675 "add samples for arrayAssertions of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy ArrayAssertionsSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that the

[2020-10-27 14:33] robstoll opened #676 "add samples for comparableAssertions of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy ComparableAssertionsSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that

[2020-10-27 14:33] robstoll opened #677 "add samples for iteratorAssertions of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy IteratorAssertionsSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that t

[2020-10-27 14:34] robstoll opened #678 "add samples for listAssertions of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy ListAssertionsSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that the s

[2020-10-27 14:35] robstoll opened #679 "add samples for pairAssertions of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy PairAssertionsSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that the s

[2020-10-27 14:39] #590 closed

[2020-10-27 14:41] #646 closed

[2020-10-27 15:18] robstoll opened #680 "add samples for collectionAssertions of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy CollectionAssertionsSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that

[2020-10-27 19:02] jgrgt commented on #641
I'll work on this

[2020-10-27 21:18] chadmarchand commented on #631
@robstoll Is there a trick to running the spec tests? I'm trying to run LocaleOrderDeciderSpec, have tried a couple different methods to no avail (gradle tasks and the Spek plugin for IntelliJ). The Spek plugin gives me this error when I try to run with Run -> Speks in package ch.tutteli... (Or Run -> tests in package ch.tuttelli...)

`/media/hdd/projects/atrium/core/api/atrium-core-api-jvm/src/mo

[2020-10-27 21:34] robstoll commented on #631
I am using
IntelliJ IDEA 2020.2.3 (Community Edition)
Build #IC-202.7660.26, built on October 6, 2020
Runtime version: 11.0.8+10-b944.34 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.

With the Spek Framework plugin 2.0.13-IJ2020.2

And I can just click on the play gutter in core/robstoll-lib/atrium-core-robstoll-lib-common/src/test/kotlin/ch/tutteli/atrium/core/robstoll/lib/reporting/tran

[2020-10-27 23:51] ivanmiklec commented on #299
Hey, just to check am I on a good path for this one and to pick up a few clues, found size check Assertion is being added in   `InAnyOrderOnlyAssertionCreator` and `InOrderOnlyBaseAssertionCreator`. For now I removed it from there, don't know if  that is Ok.

[2020-10-28 06:08] #645 closed

[2020-10-28 06:29] robstoll commented on #299
Writing from my mobile (without code at hand). I think the size checks should still be done in there but the resulting assertion at the end of the methods needs to re-arranged. First the size check and then contains.
Now... I remember that I have factored out some code into an abstract class. Might be that you need to make the adjustment there. Let me know if this already helps. Otherwise, I am go

[2020-10-28 13:40] jGleitz commented on #590
I know I am late to the party, but I have an objection against this method being called `contains`. `Path` implements `Iterable<Path>`, which means that there is `Expect<Path>.contains(p: Path)`. This leads to an odd situation:

[code]

I think it is bad to `Expect<Path>.contains(p: Path)` and `Expect<Path>.contains(s: String)` with completely different semantics. Intuitively, I would expect `Expe

[2020-10-28 13:51] robstoll commented on #590
@jGleitz good you spotted this. I forgot that Path implements Iterable

[2020-10-28 14:15] jGleitz commented on #590
I am glad to raise a PR. Is `hasDirectoryEntry` good?

[2020-10-28 15:18] robstoll commented on #590
@jGleitz I think name is OK and better than `hasEntry` as this would not imply that the path is a directoy

[2020-10-28 15:59] jGleitz commented on #590
How is this assertion supposed to behave for symbolic link entries? _I_ would expect that the assertion resolves a symbolic link if the subject is a symbolic link, but does not follow symbolic links for the directory entries. However, the current implementation also resolves symbolic links for the file system entries.

For example, this assertion:

[code]

would fail with the current implementatio

[2020-10-28 16:45] robstoll commented on #590
nice catch, I agree, I would intuitively also expect it to hold if the link is there regardless where it points to.
So... since the implementation will be more complicated than just a combination of two functions, I suggest you move it to logic in your PR.

[2020-10-28 20:29] robstoll opened #686 "add samples for charSequenceAssertions of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy CharSequenceAssertionsSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check th

[2020-10-29 23:34] chadmarchand commented on #631
Thanks, using the gutter icon seems to have done the trick.

[2020-10-30 12:55] robstoll commented on #631
https://github.com/robstoll/atrium/pull/620 was successful with the fix :+1:

[2020-10-30 12:55] #631 closed

[2020-11-01 12:07] robstoll commented on #628
@sharibj unassigning you so that others can take over

[2020-11-01 19:14] ivanmiklec commented on #299
Yeah thanks for elaborating, finally understood idea, found there is size assertions being added in `kotlin/ch/tutteli/atrium/logic/creating/iterable/contains/creators/impl/InAnyOrderOnlyAssertionCreator.kt`, still not kinda sure where to go with it

[2020-11-02 21:46] robstoll commented on #299
Line 57 ff. we create a feature assertion for size and add it to `assertions` => don't do this any more, instead we want to add the feature assertion on the same level as the summary assertion. I.e. `assertionBuilder.invisibleGroup`

[2020-11-09 21:33] robstoll commented on #628
@jGleitz I would be interested on your opinion. I am going to change feature exceptions in general with this change so that they catch exceptions in case feature extraction fails and shows them, like we already did for notToThrow. notToThrow will then just be an alias for `invoke()`. What would you expect: seeing the sub-assertions you defined for the feature first and then the properties of the u

[2020-11-09 21:37] robstoll commented on #628
Many times it really helps to just ask someone (even if virtual). I prefer the first solution. Convince me otherwise ?

[2020-11-10 08:55] jGleitz commented on #628
Challenge accepted! I prefer the second solution for two reasons:

 1. When looking at failed tests, I want to know what went wrong as quickly as possible. I am in a very selective mode of perception and anything that leads me to the error is helpful. So seeing the exception’s message and stacktrace as soon as possible is great.
 1. The first solution jumps topics, which makes it harder to underst

[2020-11-10 10:08] jGleitz commented on #628
I am always glad to be your sparring partners for design discussions. Even if it is just rubber duck design debugging :)

[2020-11-10 11:52] robstoll commented on #628
I see your point, I had the same thoughts kind of but just the opposite: I want too see as quickly as possible which assertion failed. So in case my test has multiple `notToThrow` assertions then seeing the context first is more helpful than the stacktrace. On the other hand, if we see the stacktrace first, we also know immediately where to look (and if we run a test in intellij we can even jump)

[2020-11-10 18:12] jGleitz opened #689 "Iterable.none expects at least one element"
*Affected Version*: 0.13.0
*API* (fluent-en_GB, infix-en_GB): fluent-en_GB
*Platform* (jvm, js): jvm
*Extension* (none, kotlin 1.3): none

## How to reproduce the problem
Consider the following code snippet
[code]

## Describe the bug
The assertion leads to the following output:
[code]

## Expected behaviour
The assertion should hold. To me, “none” pretty clearly means “for all: not”, and as we al

[2020-11-10 19:21] robstoll commented on #689
It's not a bug, it's a feature :wink:

You are right from a theoretical stand point but in practice, in most cases I have seen so far, it is a crucial difference if an Iterable has no next element or if it has an arbitrary number of elements and they all need to fulfil certain criteria. I have seen enough bugs which were there because one forgot the empty case (especially with `all`). Atrium helps

[2020-11-11 10:59] jGleitz commented on #689
My use case is this: I have a collection of task dependencies and want to make sure that while dependencies were added to some tasks, they were not added to others. Because the tasks also have other dependencies, I don’t want to do an exact match on the set of dependencies. This would break needlessly whenever the dependencies change for some unrelated reason.

Because of that, I use `none` becaus

[2020-11-11 14:17] robstoll commented on #689
Thanks for sharing your use case. I am still not convinced to change the behaviour of none and all: people will not read the docs and just use `all` neglecting the empty case. Hence, I prefer if a more experienced dev stumbles over `none` and `all` as you did and would need to use `isEmptyOrNone` than the opposite. Reading `isEmptyOrNone` is as easy to read in one pass as `none` and states the imp

[2020-11-11 14:50] jGleitz commented on #689
Unfortunately, no. My main issue is *not* that I have to use a longer/more complicated assertion. My issue is that the code does not behave like any reasonable reader would expect it to behave.

I completely get your point that people will not necessarily read the docs. I don’t even want to dispute that if we changed `none` and `all`, some developers might possibly create more bugs in their code t

[2020-11-11 14:53] jGleitz commented on #689
Footnote: It might seem silly to argue about those two assertions. And I agree: For me, this discussion is less about these specific assertions and more about the general trade-offs and principles atrium is built on. And I am, of course, aware that you will always be the final judge of those decisions. I just try to make my case the best I can.

[2020-11-11 15:25] robstoll commented on #689
and that's more than welcome. Also, I am more than happy if you find fellow dev supporting your view it's not like we can change things in Atrium (I added the label `needs votes`. But for now... I would agree with you if we talked about an API used to write business code. But we talk about an API to write tests. It's not a problem if the assertion asserts more than you expected. I don't think that

[2020-11-12 20:09] #473 closed

[2020-11-12 21:01] robstoll opened #691 "show more than first line when using mocha test runner"
*Platform* (all, jvm, js): js
*Extension* (none, kotlin 1.3): none

## Code related feature
It seems like mocha or maybe also the gradle plugin of Jetbrains is configured per default in a way that we see only the first line of an error in the terminal. We see the full message in the resulting gradle test report html though.

It would be nice, if we would see the whole message and not just the firs

[2020-11-12 21:48] #628 closed

[2020-12-09 21:26] robstoll opened #709 "deprecate ChronoZonedDateTime.toBeLessThan etc."
*Platform* (all, jvm, js): jvm
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

We should deprecated the Comparable assertion functions in the context of ZonedDateTime and point to toBeBefore, toBeAfter etc.

See https://github.com/robstoll/atrium-roadmap/issues/50 for further details

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take

[2020-12-11 19:29] robstoll opened #711 "Turn MapAssertions into MapLikeAssertions"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We turned IterableAssertions into IterableLikeAssertions, allowing them to be used for types which can be converted to Iterable.
Similarly it makes sense to do the same with MapAssertions, turn them into MapLikeAssertions.
This way we can for instance provide the assertion functions to Scala's Map types wi

[2020-12-11 21:20] robstoll opened #715 "less verbose reporting for IterableLike.contains.inOrder.only"
taken from the readme
[code]
IMO could be shortened to (and I am going to rename entry to element):
[code]

The `an entry which` makes sense in the context of inAnyOrder(.only) but could be left out for inOrder.only. Following an example of inAnyOrder:
[code]

Objections?

[2020-12-15 14:31] robstoll opened #717 "reword entry in reporting of Iterable.contains to element"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
entry is a bit misleading as it sound like we deal with a Map. The proper term is element (we are going to provide corresponding functions as well in the move to `to + infinitive`

[2020-12-16 21:23] #717 closed

[2020-12-16 21:44] robstoll opened #720 "don't show the feature value in an explanatory assertion group"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
if a feature assertion is used in an explanatory assertion group then we should not show the coresponding representation of the feature, because it could be wrong, should not have a relevance as the subject is not available. For instance, we show sometimes that -1 matches where found. Thus:
- adjust TextFe

[2020-12-16 22:47] #720 closed

[2020-12-17 15:42] robstoll opened #722 "less verbose containsNot reporting and more hints"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Instead of
[code]
We would like to see (similar to `all`)
[code]
Also the
[code]
Should be moved out of `does not contain` (and hence only be shown if failing) in the spirit of #305
Also, we should not re-invent the wheel and use the existing `hasNext` implementation instead of an own `has at least one ele

[2020-12-18 22:04] #715 closed

[2020-12-20 21:32] robstoll opened #724 "show only failing sub assertions in a summary assertion group"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Consider the following reporting
[code]
Atrium could be more helpful in spotting the error for `element: 1` by only showing the failing assertions:
[code]
Also, I think it would be enough if the successful assertions only show that an element was successful but not the assertions behind it. So after all im

[2020-12-21 08:34] robstoll commented on #173
I'll also add a shortcut for `contains o inAny order but only entriesOf mapLike` named `containsOnlyEntriesOf`

[2020-12-21 10:56] #68 closed

[2020-12-21 10:56] #173 closed

[2020-12-21 17:25] lilimapradhan9 commented on #678
I'll work on this

[2020-12-22 21:14] robstoll opened #733 "add Map.size"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

[2020-12-23 10:01] #711 closed

[2020-12-23 10:01] #733 closed

[2020-12-23 10:05] robstoll opened #735 "revise `because` samples and details block in README"
See https://github.com/robstoll/atrium/pull/729, we want to improve:
- the samples in api-fluent and api-infix
- simplify/improve the details block about `because` in the README

[2020-12-23 10:39] robstoll opened #736 "don't show the down-cast in toBeNullIfNullGivenElse"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
From the README
[code]
report:
[code]
This `◾ is instance of type: String (kotlin.String) -- Class: java.lang.String` does not provide enough value, I suggest we remove it (we already removed it for Iterable.contains.inOrder.only and for Map.contains.inAnyOrder.only

[2020-12-23 13:10] robstoll opened #738 "use the info bullet point for unexpected Exceptions"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature

For instance, instead of
[code]

It would be nicer if we see:
[code]

[2020-12-23 13:11] #660 closed

[2020-12-23 13:25] robstoll opened #739 "use info bullet point for notice in BigDecimal.isEqualIncludingScale"
*Platform* (all, jvm, js): jvm
*Extension* (none, kotlin 1.3): none

## Code related feature
instead of
[code]
I would like to see
[code]

[2020-12-23 13:30] #736 closed

[2020-12-23 13:41] jGleitz commented on #738
I think we should discuss whether this is a good use of the new bullet point, taking also into account what we discussed in https://github.com/robstoll/atrium-roadmap/issues/91.

My understanding is that this bullet point is for providing auxiliary information that aides debugging. The properties of a thrown exception are not that, from my point of view.

I think that it is important that Atrium i

[2020-12-23 13:45] robstoll commented on #738
I basically agree, quickly thought about introducing the magnifier bullet point but came to the conclusion that I don't want to introduce it in 0.15.0. Because then I would want to change the Path assertions as well and I prefer to release 0.15.0 after I have merged the last two issues I have pre-seen for 0.15.0. In this sense it is still an improvement IMO and will be further improved with the ma

[2020-12-23 13:47] jGleitz commented on #738
From my point of view, printing the unexpected exception does not fall under any of the use cases we discussed in https://github.com/robstoll/atrium-roadmap/issues/91 at all.

Instead, printing the unexpected exception is for me the same use case as printing the unexpected value in an `equals` expectation. So I don’t see the need for a special bullet point at all.

For me, this is different from t

[2020-12-23 13:51] robstoll commented on #738
I would use the magnifier bullet point as it is additional information which helps in debugging the error.  A bit like:
[code]
which also tells something about the actual context

[2020-12-23 14:08] jGleitz commented on #738
For me, there is a big difference: In the path expectations, the subject is a path, and a wrong value is also a path. Hence, contents on the disk are secondary information for debugging, hence the special bullet point.

For exceptions, the subject and wrong value of the expectations are exceptions, so the wrong exception is the primary information. This does not need special treatment.

However, I

[2020-12-23 14:09] #738 closed

[2020-12-23 14:09] #739 closed

[2020-12-23 16:39] #735 closed

[2020-12-23 20:19] jGleitz opened #744 "Redo Build Logic"
This project’s build logic is, to put it mildly, involved. I think it could be improved upon.

I have two major criticisms:
   * The build logic relies a lot on the magic Gradle allows with Groovy (for example: setting properties on `project.ext` that are then read by other projects). Even though I’ve read through the build files a lot by now, I still don’t understand how it all works together. Th

[2020-12-23 20:36] jGleitz commented on #744
One example of what I think can be improved: The main build file declares certain types of projects:

[code]

The `get...` methods come from the tuttell plugin. So no easy way to find out how they work (they work based on naming conventions).

Next, we have:

[code]

These functions, once again, jump into the tutelli plugins. Afterwards, we do some more configuration in the root build file.

Now i

[2020-12-23 21:03] jGleitz opened #746 "Change Wording from ‘Assertion’ to ‘Expectation’"
In #714, we found that it makes sense to talk about ‘expectations’ instead of ‘assertions’. Hence, we want to refactor the whole code base to reflect that naming.

[2020-12-23 21:05] jGleitz commented on #746
@robstoll: I’d also like to change the wording from ‘feature assertion’ to ‘feature extractor’ because they don’t really assert (or expect) anything, but only change the subject.

This would also mean that it might make sense to separate feature extractors from expectations. If I remember correctly, we had that in the past but removed the split. From a naming standpoint, it would make sense though

[2020-12-23 21:09] robstoll commented on #744
I planned to migrate to the new kotlin MPP plugin in either v0.16.0 or v0.17.0 and would therefore be happy if you could help out. I guess the examples in your second comment will then no longer be a problem.

Surprise... good with me, I actually planned to do it as well but... I also planned to factor out some logic into an own plugin (or buildSrc fine with me as well) at a later point. In any ca

[2020-12-23 21:18] robstoll commented on #746
I am not sure where you want to change the wording. In the readme?  the file name in the API?

We actually have already a FeatureExtractor on the logic level, it's the implementation behind feature assertions in the end.

So far I made the following distinction between the two (KDoc of FeatureExtractor)
[code]

[2020-12-23 21:32] jGleitz commented on #746
I am mainly concerned about how we communicate, so I’d mainly change the readme. However, I thought it might make sense to reflect that distinction also in the API and the logic files. I could also make it easier to find certain functions, since so files are quite big.

I know :). However, I hadn’t read that piece of KDoc yet.

I don’t find the distinction you make in the KDoc all too convincing.

[2020-12-23 21:48] robstoll commented on #746
Those are good points and make sense. So I am in favour of renaming featureAssertions.kt in the APIs to featureExtractors.kt and we can also name it that way in the README.

Also I agree that the distinction is no longer really up-to-date as we now also catch exceptions caused in `feature { }` since 0.15.0 and report it. So I am in favour of merging the FeatureAssertions and FeatureExtractor on th

[2020-12-23 21:51] jGleitz commented on #744
Factoring out logic is always good! Factoring out configuration is bad, from my point of view.

This seems to be mainly about logic (how to build `module-info.java` files). So as long as there is no other de-facto-standard plugin for this, I am also in favour of using it!

I’d have to see how the files would look like without it to have an opinion on this.

For me, it will be easier to do it at on

[2020-12-23 22:08] jGleitz commented on #746
Great :+1:

I am not sure what you are hinting at with this paragraph. I did not want to imply changing any KDoc. I absolutely see that distinguishing safe from unsafe extractions on the logic level makes sense. As you say, I was only concerned about the user’s perspective.

Last question: Should we separate expectations from feature extractions in the logic and API files? Should we, for example,

[2020-12-23 22:33] robstoll commented on #746
That on this level we should first serve the expectation function writers and then end-users.
I actually understood that you would want to remove the distinction, i.e. remove the `extract` or at least the text in the KDoc. So, a misunderstanding on my part. Thanks for your clarification :+1:

I would not, we had and many times still have the split in the specs and so far it was more confusing than

[2020-12-23 22:58] robstoll commented on #744
In case you have time, then it probably makes sense if you do #641 as well (there is a closed PR which you could resurrect)

[2020-12-23 23:08] jGleitz commented on #746
Fair enough.

[2020-12-23 23:41] jGleitz commented on #744
Why is `atrium-scala2` not part of the `atrium` build?

[2020-12-24 08:29] robstoll commented on #744
Because:
- intellij bug, cannot build scala if part of Kotlin multi-project build
- some people use vscode + metals for scala and vscode does not support Kotlin
- as info, there is a composite build in misc/tools

[2020-12-25 19:39] robstoll commented on #68
@StragaSevera. Let us know in case you miss something about this feature (pinging you as you voted for this issue).

[2020-12-25 19:41] robstoll commented on #173
@piyushmor, @stragasevera and @igorakkerman, pinging you guys because you voted for the issue. It is now available in Atrium 0.15.0 please let us know in case you miss something about this feature

[2020-12-27 12:40] lilimapradhan9 commented on #677
I'll work on this

[2020-12-27 21:04] #677 closed

[2020-12-27 21:04] #678 closed

[2021-01-02 22:32] robstoll opened #765 "Path.toBeASymbolicLink"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

Following the things you need to do:

*logic*
- [ ] extend PathAssertions with a function `toBeASymbolicLink` (see isRegularFile as a guideline)
- [ ] implement toBeSymbolicLink in DefaultPathAssertions.kt`

*api-fluent*
- [ ] provide a fun `toBeASymbolicLink` (see isRegularFile as a guideline)
- [

[2021-01-02 22:41] jGleitz commented on #765
I vote to name the function `toBeASymbolicLink`.

[2021-01-02 22:42] robstoll commented on #765
Good with me, I was considering it as well

[2021-01-02 22:49] robstoll opened #766 "Path.toBeAnEmptyDirectory"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

Following the things you need to do:

*logic*
- [ ] extend PathAssertions with a function `toBeEmptyDirectory` (see other functions as a guideline)
- [ ] implement toBeEmptyDirectory in DefaultPathAssertions.kt -- *bonus* use newDirectoryStream instead and list all files as failureHint in case the

[2021-01-03 21:11] jGleitz opened #767 "notToThrow Has Ambiguous Semantics for the Not-So-Mindful Reader"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

**Is your feature request related to a problem? Please describe.**
`notToThrow` allows us to specify that no exception should be thrown and then continue to specify expectations about the *subject*. When reading code using it (yes, code that was written by my younger self), I find this ambiguous. T

[2021-01-03 21:17] jGleitz commented on #767
After giving this some more thought, I think we should rather just remove the overload of `notToThrow` that takes an `expectationCreator`. This would force users to write:

[code]

[2021-01-03 21:19] jGleitz commented on #767
The proposed solution would, of course, look a little awkward when specifying the type of the exception that must not occur:

[code]

We could force users to write something like

[code]

pro: the `andResult` makes it very explicit that we continue with the result of the evaluation
contra: it might unnecessarily complicated.

[2021-01-04 13:28] robstoll commented on #767
One cannot define the type of the exception which should not occur, so no problem there.

I am not yet convinced we need the renaming but. `notToThrow` was introduced as counterpart of `toThrow` because people wanted to state that no exception is thrown explicitly. So I guess they have tests which look more or less like the following
[code]
The same could be written as follows (remarkably with les

[2021-01-04 13:46] jGleitz commented on #767
Here’s where I encountered the issue: https://github.com/jGleitz/testfiles/blob/master/base/src/test/kotlin/DefaultTestFilesSpec.kt#L144

It previously read

[code]

---

I am aware that `notToThrow` is basically `invoke()`. However, I like to use it to make my intentions clear. In the code above, the main check is that creating a file does not throw an exception. If the escaping would not take pl

[2021-01-04 14:00] robstoll commented on #767
Thanks for the feedback. I couldn't find an example neither where I would use `invoke`. So this one is clarified for me as well, we don't need invoke. So back to the renaming request.

I am particularly not convinced of `notToThrowAndResult` because it makes it look like we deal with a `Result`.
`notToThrowAndReturnValue` is a bit better but we don't use it for other feature extractors which are b

[2021-01-04 14:11] jGleitz commented on #767
Hm, I get your points. I gave it some more thought and now I also dislike `notToThrowAnd` (even though I considered it myself). My reason is that.

 1. There would still need to be `notToThrow` for the case that no further expectations follow.
 2. `notToThrow` would need to return `Expect<Unit>` because we don’t want two ways to achieve the same thing.
 3. It feels unnatural to have to change `not

[2021-01-04 14:22] robstoll commented on #767
True, `noToThrowAnd` would not make sense as outlined with your first point and I guess this is the most common use case.

I don't want to remove the overload which expects an `exceptationCreator` because this would be inconsistent. Feature extractors always provide both versions.

What we could do is to provide a sophisticated builder in addition which would start with `notToThrow` (without `()`

[2021-01-04 14:29] jGleitz commented on #767
I guess this sentence is a good explanation for why I am irritated with the current solution: `notToThrow` should, to my mind, not be a feature extractor. When I write `notToThrow`, I am talking about the expectation that no exception will occur. That is why I am irritated when more assertions follow: In my mind, no feature extraction has taken place.

My proposed solution would separate the ‘no e

[2021-01-04 14:44] robstoll commented on #767
Sometimes issues get a vote but rather seldom. In any case, I have added the label.

I think there is a misconception of `expect { ... }` -- in the past this was a special construct, not creating an Expect but a builder which one finished with `toThrow` or `notToThrow`. Nowadays, this is the same as `expect(x)`, i.e. `expect({ ... })` just leaving out the parenthesis which is legal due to the `{}`

[2021-01-04 16:25] jGleitz commented on #767
Not quite. I don’t think that it’s imperative that every expectation returns an `Expect` for the old subject. Sometimes it just doesn’t make sense. (As an aside: I also think that `toThrow { }` (with an `expectationCreator`) should return `Unit`. It just doesn’t make sense to continue specifying expectations after `toThrow {}`).

From my point of view, your argument is an argument _in favour_ of m

[2021-01-04 20:45] robstoll commented on #767
In general I think it should, changing the subject feels like an undesired side effect to me. It can change its type but behind the scene it should stay the same subject. Otherwise a feature extractor or subject changer need to be used.

Feature extractors on the other hand are allowed to incorporate expectations - at least that the extraction works/does not throw

If we would go with this approac

[2021-01-06 12:46] jGleitz commented on #767
Okay, so let me dissect the whole situation a little more. The beginning will be all old news for you, but helps me. In the end I’ll make another bold proposal to change Atrium.

In Atrium’s fluent API, there are two reasons for _chaining_ calls: To change the subject or to state an additional expectation:

chaining to change the subject:
[code]

chaining to state an additional expectation:
[code]

[2021-01-06 22:43] robstoll commented on #767
Maybe I get you wrong but it is actually the opposite, `notToThrow` is a subject change currently.

I am always open for discussion because it may reveal other weaknesses and other solutions even if the initial requested wish was in the end not considered. I see a very low chance for this one to be considered, especially because we are going to have a distinction in naming after the `to + infiniti

[2021-01-07 20:26] robstoll commented on #744
Since I am going to refactor bc-tests and this will affect settings.gradle as well, I am going to rewrite it to setttings.gradle.kts

[2021-01-07 21:52] jGleitz commented on #744
Cool thing! If this works well, maybe we can address this issue one step at a time.

[2021-01-08 09:30] robstoll commented on #744
Doesn't work well at all. Intellij is constantly throwing errors until it stops monitoring fatal errors. The effect of it is, that syntax highlighting does not work well or is simply wrong. In this sense it is not much better than groovy in the end. Yet, I hope this is going to be fixed soon and thus I am still moving to .kts

[2021-01-08 11:01] robstoll commented on #744
It looks more and more like only a big bang transition to the new MPP plugin will work (shame on Jetbrains, that's really a migration path I don't want for Atrium. That many issues I already stumbled over and had to find workarounds :disappointed:). Hitting the following issue now: https://youtrack.jetbrains.com/issue/KT-32811

[2021-01-08 11:41] robstoll opened #771 "contains all no longer working in infix"
*Affected Version*: 0.15.0
*API* (fluent-en_GB, infix-en_GB): infix-en_GB
*Platform* (jvm, js): all
*Extension* (none, kotlin 1.3): none

## How to reproduce the problem
Consider the following code snippet
[code]

## Describe the bug
`all` was replaced by `keyValues` in 0.15.0 instead of deprecating `all` and adding `keyValues` as replacement

## Expected behaviour
no breaking changes in minor ver

[2021-01-08 12:10] jGleitz commented on #744
This is unfortunate. A big bang redo of the build logic would surely be a big improvement, but is also difficult and involved to pull off :/

[2021-01-08 23:18] #771 closed

[2021-01-10 20:05] robstoll opened #777 "containsNoDuplicate reports `has duplicates`"
*Affected Version*: 0.14.0, 0.15.0
*API* (fluent-en_GB, infix-en_GB): both
*Platform* (jvm, js): all
*Extension* (none, kotlin 1.3): none

## How to reproduce the problem
Consider the following code snippet
[code]
Results in a report:
[code]

## Describe the bug
is `has`

## Expected behaviour
should be `has not`

[2021-01-10 20:59] #777 closed

[2021-01-10 21:53] #587 closed

[2021-01-10 21:56] jGleitz commented on #746
@robstoll how will we proceed here? My current understanding is that you approve the change in principle, but don’t want it to affect the code too much, which leaves us in a weird half-baked situation, from my point of view.

1. Why don’t we rename the API files? My understanding is that this will be a source compatible change, which should be fine, right?
2. In #748 you mentioned that you want to

[2021-01-10 22:20] robstoll commented on #746
1. We will. I first figured that renaming the files now makes sense and we can later on move the deprecated stuff out of the files into a file called xyExpectationsDeprecated. But that's work which is unnecessary as it is also perfectly fine to have the old deprecated functions in xyAssertions.kt and the new in xyExpectations.kt

2. because we will talk about expectation functions in the README an

[2021-01-10 22:36] robstoll commented on #746
Maybe it makes sense to look at it from a reporting perspective. We wanted to introduce Reportable with subtypes: Text, Translatable, something which replaces ExplanatoryAssertionGroup and Assertion/AssertionGroup.

[2021-01-11 13:52] jGleitz commented on #746
Okay, I understand from what you write that you don’t insist on the term ‘Assertion’, but rather want to differentiate between the logic object and the general term ‘expectation’. I’ll write my interpretation of the terms, maybe that convinces you.

First, the functions we offer through the API are currently called ‘assertion functions’. Going forward, I’d just call them ‘expectation’, not ‘expect

[2021-01-11 21:08] robstoll commented on #746
Exactly, I don't insist on the term. I am basically with you that Assertion can be mixed-up with `assert` and I am happy to change this. IMO Assertion is better if we talk only about language because for me, an Assertion is stronger than an Expectation but maybe that's a personal preferences. In the context of Atrium, I still think Expectation fits better because we have `expect` as verb.

I don't

[2021-01-14 19:34] #588 closed

[2021-01-14 20:41] robstoll commented on #746
Oho... I figured I am going to start rewording `assertion` to `expectation` in the readme. The following would be bad I think:
`Atrium is an open-source multiplatform expectation library for Kotlin with support for JVM, JS and Android.` The term `assertion library` is so common whereas expectation library is not known at all :thinking:
I guess I will keep assertion library but replace assertion wi

[2021-01-14 20:55] #596 closed

[2021-01-14 21:23] jGleitz commented on #746
I’ll answer your comment above at a later point because I want to give it careful consideration.

Regarding your latest comment: I don’t think that anybody will have trouble understanding the term ‘expectation library’. If you are worried about SEO, maybe having ‘assertion library’ in the tags is enough? I don’t have experience with that, though.

[2021-01-14 22:02] robstoll commented on #746
I have started rewriting README and other md files from assertion to expectation (and feature assertion to feature extractor):
https://github.com/robstoll/atrium/blob/reword-assertion-to-expectation-in-md/README.md

[2021-01-16 12:23] jGleitz commented on #746
Sorry for the long silence.

---

I agree: I was too rigorous in my previous statement. I think the following would be a good policy: Talk about ‘expectations’ per default, and only use the term ‘expectation function’ when it is relevant that we are talking about the actual function.

---

Okay. So let’s try to find something that makes better sense to your mind. However, I would be glad if it was

[2021-01-16 19:49] robstoll commented on #746
No problem at all

I am still with you on this one and I think I am going to add it in 0.16.0 if we do such a bigger renaming.

I thought about your suggestion and I prefer `Record`. IMO `Check` has more or less the same weakness as Assertion. The check as such is just one part of the Assertion the other parts are related to reporting. Also, Kotlin has a prominent function `check`. So `checkBuilde

[2021-01-16 20:48] #595 closed

[2021-01-17 09:13] jGleitz commented on #746
Unfortunately, yes. Mainly because I do not agree with the statement

Consider this: I do fully agree with you that the reporting aspect is important. No disagreement here. However, the reporting aspect will be conveyed by the fact that `Check`/`Assertion`/… will implement `Reportable`. If we wanted to, we could also call it `ReportableCheck`, however, I don’t think that that is necessary. Impleme

[2021-01-17 21:08] robstoll commented on #746
That's something you need to look up. Ideally you don't need to and the name tells you enough. But yeah... it's quite often not easy to come up with good names...

I agree that this is certainly not a killer-argument but something to consider nonetheless. I also meant it as argument on top of why I would prefer to use something different than `Expecation` or `Assertion` on the logic level. But I s

[2021-01-18 12:14] jGleitz commented on #746
I love discussions about naming. When people are willing to talk it through (like you are), these discussions can reveal a lot about how people think about the software and its requirements. I am glad that you don’t think ‘it’s just a name’, but are willing to discuss everything to its conclusion. I am learning a lot here!

I’ll proceed as follows:
 1. Describe what I understood from your comment

[2021-01-18 23:23] robstoll commented on #746
Thanks for you input.
First of all, I think we are not that far away from each other. I will try to outline why. Maybe we just use different terms, look from it from a different angle and thus there is still a confusion/misconception of the logic level.

Not quite. First, I prefer to use `TermX` because I think we don't talk about the type only (see Table above). It influences also other things we

[2021-01-19 18:51] Samuellucas97 commented on #766
I'll work on this

[2021-01-19 19:19] robstoll commented on #766
@Samuellucas97 I have updated the description. Let me know in case you need help

[2021-01-25 21:10] robstoll commented on #579
Decided to move the FeatureExpectOptionsChooser from core to logic, so we keep half of the layer kind of. Core keeps simple and we provide a builder on the logic level.

[2021-01-26 13:59] #579 closed

[2021-01-26 14:16] robstoll commented on #746
@jGleitz I'll probably start this or next week with the work on the logic level. So if you have something to say against `Proof` then please raise your voice now

[2021-01-26 17:22] jGleitz commented on #746
Once again: I am sorry that I am currently not able to participate more in atrium’s development in general, and this discussion in specific.

---

I think we have come a long way in this discussion. And I agree with your statement that

For me, `Proof` is better than `Record` because it is more specific. It gives me a better notion of what is being stored in it. Having said that, I am still inclin

[2021-01-26 20:37] jGleitz commented on #746
Regarding the groups: We could probably find even better names. Maybe the group’s purpose will always be clear from the context, then `InvisibleGroup` would be enough. Or, if not, `InvisibleReportGroup` would point out both the purpose and that it only affects reporting, which is both good.

So a) The name for `TermX` does not necessarily affect how other classes are called and b) if we are renami

[2021-01-26 21:06] robstoll commented on #746
Good, I'll go with `Proof`. I am not yet sure how I rename Assertion and co. but I was also thinking about an InvisibleGroup - so I'll keep that one in mind. The other things will be more or less like in the table where I will replace Record with Proof.

[2021-01-30 15:50] fimbulwint commented on #765
I'll work on this

[2021-01-30 16:43] robstoll commented on #765
@fimbulwint note that I have updated the description. Have fun implementing and let us know in case you need help

[2021-01-30 17:21] fimbulwint commented on #765
@robstoll Thanks!

[2021-01-30 19:21] Thorstorm commented on #686
I'll work on this

[2021-01-31 18:41] StragaSevera opened #790 "Now that 1.4 is out, what's the status of feature testing new syntax?"
The Readme says:

"We are sorry that the syntax is not yet the nicest one. We admit that one has to get used to it first and that is a pity. Yet, it is due to many Kotlin Bugs standing in the way -- we hope we can provide a better API once Kotlin 1.4 is out (the new type inference respectively)."

Now that 1.4 is out, what's the status of an improved syntax? If it is still not possible, then maybe

[2021-01-31 20:12] robstoll commented on #790
Thanks for bringing that one up.
I did not have the time yet to look into it fully but I did a quick glance when Kotlin 1.4 came out and I was rather disappointed in this regard, the type inference system is still not able to differentiate based on the inner definitions of a lambda -- see for instance [this example](https://play.kotlinlang.org/#eyJ2ZXJzaW9uIjoiMS40LjEwIiwicGxhdGZvcm0iOiJqYXZhIiwiY

[2021-01-31 20:57] StragaSevera commented on #790
Hmm, an interesting concept, I never thought about this aspect, I always thought that some reflection magic can extract the feature name from the lambda.

Personally, I would be glad to have a readable syntax even at the cost of worse reporting - the indexing will give enough info for me to use this syntax.

And I think the `its` name is perfectly fine - it is human-readable and short. For me the

[2021-01-31 21:15] robstoll commented on #790
Thanks for your feedback. Although I like `its` for extracting properties and the like, it does not work that well for methods. E.g.
[code]
In case you come up with a better suggestion, then please share it with us.

[2021-02-03 21:01] Efpkaf commented on #680
I'll work on this

[2021-02-03 21:09] maciejnawrocki commented on #679
I'll work on this :D

[2021-02-03 22:05] robstoll commented on #790
Updated the README in the meantime. Keeping this issue open because I think it could be of interest for others to know the status quo and as a reminder that I want to look into it at some point.

[2021-02-07 10:54] StragaSevera commented on #790
I think that it works fine for methods too - because we are testing its filter ;-)

Seriously, though, the main benefit of this method is the length - only 3 symbols =-) I don't think there is a concise word that can replace it.

[2021-02-07 13:11] robstoll commented on #790
Not entirely wrong that we are testings its filter 🙂
OK let's go with `its`. I'll probably add it in v0.16.0

[2021-02-07 19:34] robstoll opened #803 "don't depend on jcenter"
## Non-Code related feature
**Is your feature request related to a problem? Please describe.**
Bintray/jCenter shuts down https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

**Describe the solution you'd like**
download everything from maven central, ping libraries we use which are only available from jcenter. So far detected:
- spek: https://github.com/spekframework/

[2021-02-08 10:02] StragaSevera commented on #790
Thank you, will wait for it eagerly! =-)

And what do you think about the `all` syntax (with compounding behaviour disabled)? This may be another way to fix the "which assertion is failing" problem.

[2021-02-08 10:21] jGleitz commented on #790
@StragaSevera I think this idea needs its own ticket. I agree with the feature you want to see (jumping directly to the first failing assertion from the stack trace) but disagree with the solution you propose. So let’s discuss in a separate ticket, shall we?

[2021-02-08 10:26] StragaSevera commented on #790
Ok, will open it =-)

[2021-02-08 10:31] StragaSevera opened #805 "A syntax that can allow grouping of assertions without compounding"
Related to: https://github.com/robstoll/atrium/issues/790

I think that the syntax where you pass a lambda to the `expect` function is useful, but there may be cases when you just want to group assertions without the need of compounding them - when it's perfectly OK to fail on the first failing assertion.

I propose something like this:

[code]

Of course, the function name (`all`) is just the fir

[2021-02-08 10:37] jGleitz commented on #805
1. I think `all` is not a good name because we already have `Expect<Iterable<T>>.all`.
2. What is your use case that makes you want to avoid fail-late behaviour?

[2021-02-08 10:40] StragaSevera commented on #805
As we discussed in the #790, it will be desirable with the shortened feature testing syntax. When you will not have the ability to easily see which assertion from the group has failed, making the stacktrace point to a correct assertion is very useful.

[2021-02-08 10:43] robstoll commented on #805
How about the following:
[code]
where it does not matter where you place `failFast` within the block, i.e. it always affects the whole block

[2021-02-08 10:45] jGleitz commented on #805
I agree with this. Not only for the shortened feature syntax, but in general. However, I think it would be great to brainstorm whether we can come up with a solution that does not require sacrificing fail-late behaviour. Because from my point of view, that’s one of atrium’s strength: If multiple expectations fail, I don’t have to run my tests multiple times, I can see it straight away in the first

[2021-02-08 11:45] robstoll commented on #805
As info, I intend to improve `its` so that it will be able to show its content -- but at a later point. IMO this feature is not that crucial. I'll probably start off with using https://github.com/christophsturm/filepeek and only do it for JVM -- I have not done that so far because filepeek uses file IO which can be shaky for tests and is rather slow. That being said, I will look into a compiler pl

[2021-02-08 11:53] jGleitz commented on #805
How would you find out which stack trace entry to take?

Yes, I can imagine this feature being useful in other scenarios as well. I am mainly thinking of larger tests where it’s not directly obvious where the expectation is located at.

However, I could imagine that it would be better to have the information below the report (like we already have the stacktrace below the report) because it clutter

[2021-02-08 12:05] robstoll commented on #805
E.g. by creating an exception when creating the feature extraction. The bad thing about it, we would need to create it also if the feature holds and creating exceptions is slow. Still better than filepeek which does this as well but file IO in addition. I would prefer to wait until the compile plugins is stable where such a feature should be fast.

if we put it below, then I would also go with the

[2021-02-08 12:27] jGleitz commented on #805
Yeah, I got that, but which of the stack trace’s entries is the one to show to the user, if you want to select only one? Users might compose expectations out of other expectations, so a simple algorithm like ‘the first element that doesn’t belong to atrium’ will often not produce useful results. If we can’t get this right, we should prefer showing filtered stack traces, I think.

That is not my ex

[2021-02-08 12:28] jGleitz commented on #805
@StragaSevera would one of these solutions address your use case? Or would you still want to have a way to make lambda blocks fail-fast? If yes, why?

[2021-02-08 13:32] robstoll commented on #805
I remember that logging libraries where not showing it. But I was surprised to see lately, that they are now including it nowadays (which is good). So maybe my knowledge also outdated here

I did a quick check, it seems to be printed when using spek :tada:
However, it is not shown with Junit5 (probably the same for junit4 where my knowledge comes from) even with the following config.
[code]
 Maybe

[2021-02-08 14:09] jGleitz commented on #805
That’s a bummer.

I’m not sure about this, since it is an additional reporting feature. Folks not seeing the suppressed exceptions can still see the stack trace of the main exception. However, I agree that we should try to find a better solution if we can. I just don’t think that it’s a show-stopper if we cannot find a better solution.

[2021-02-08 21:13] robstoll commented on #803
Looks like spek was the only dependency which as jcenter only and this one is synced by now. Was able to merge https://github.com/robstoll/atrium/pull/804

[2021-02-08 21:13] #803 closed

[2021-02-08 21:30] robstoll opened #806 "filter out io.kotest runner from RemoveRunnerAtriumError"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Kotlintest was renamed to kotest a while ago. But we don't filter it. I would keep io.kotlintest but filter io.kotest in addition (check before we check for io.kotlintest)

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over.
  This way we get the cha

[2021-02-09 21:05] robstoll opened #809 "move PleaseUseReplacementException to core"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
move it so that we can drop domain-builders in 0.17.0

[2021-02-09 21:12] #594 closed

[2021-02-12 20:17] #809 closed

[2021-02-13 20:14] fimbulwint commented on #765
@robstoll I'm ready to create a PR, but I don't have permissions to push/create the tracking branch

[2021-02-13 20:23] jGleitz commented on #765
@fimbulwint you should for this repository, push the branch to your fork, and then open a Pull Request from your fork. See also [Creating a Pull Request from a Fork](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork)

[2021-02-14 11:01] fimbulwint commented on #765
@jGleitz thank you, done that now

[2021-02-15 12:11] shytnik-igor commented on #636
I'll work on this

[2021-02-15 19:50] robstoll opened #813 "improve reporting for containsDuplicates"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]
We would like to see the following report instead of the current one:
[code]

TODO:
- adjust DefaultIterablLikeAssertions, use assertionBuilder to create the desired report
- adjust IterableExpectationsSpec accordingly

## Your first contribution?
- Write a comment `I'll work on this` if you would l

[2021-02-15 20:46] jGleitz commented on #813
If you feel fancy, you can use the proper plural of ‘index’, ‘indeces’ when an element occurs more than twice :)

[2021-02-16 07:52] shytnik-igor commented on #636
@robstoll, What else can I do about this issue?

[2021-02-16 12:10] robstoll commented on #636
It's all good, I think the current implementation is fine. Thanks.
But you could throw an eye on the remaining open issues

[2021-02-16 12:10] #636 closed

[2021-02-16 14:00] shytnik-igor commented on #329
I didn't find any files ...FeatureAssertionSpec in the project.
Is this issue still actually/correct?

[2021-02-16 14:39] robstoll commented on #329
The files where renamed from ...AssertionSpec to ...ExpectationSpec

[2021-02-16 16:03] shytnik-igor commented on #655
I'll work on this

[2021-02-16 19:10] robstoll commented on #329
@shytnik-igor I have updated the description. Let me know in case you don't intend to work on it, then I am un-assigning you again

[2021-02-16 19:12] shytnik-igor commented on #329
I'll work on this

[2021-02-16 20:40] #655 closed

[2021-02-16 21:24] #299 closed

[2021-02-16 21:30] robstoll commented on #766
@Samuellucas97 let us know in case you need help

[2021-02-18 09:41] #329 closed

[2021-02-18 21:23] shytnik-igor commented on #654
I'll work on this

[2021-02-19 06:37] robstoll commented on #654
@shytnik-igor cool that you tackle that many issues :smiley: :+1:
I have invited you to be collaborator of this repository. Once you accept the invitation, you can assign issues you want to work to yourself.

[2021-02-20 18:50] #765 closed

[2021-02-20 20:57] #654 closed

[2021-03-01 21:38] ultraon opened #827 "Extra dependencies needed to be declared to work with Spek Framework Plugin (Android Studio / Intellij IDEA)"
*Affected Version*: 0.15.0 (and before)
*API*: fluent-en_GB
*Platform*: android
*Extension*: none

## How to reproduce the problem
Consider the following code snippet
[code]

## Describe the bug
When I use `Spek framework Plugin for Android Studio/IntelliJ IDEA` (plugin - https://plugins.jetbrains.com/plugin/10915-spek-framework, framework - https://github.com/spekframework/spek ) with Atrium libr

[2021-03-02 12:20] robstoll commented on #827
@ultraon this rings a bell. I thought spek has fixed this issue by now but apparently not (or a regression). Thanks for sharing the workaround, that's exactly what you need to do. In case someone uses an older version of Atrium, then the following is necessary in addition:
[code]
Following the thread in slack which discussed this problem beforehand:
https://kotlinlang.slack.com/archives/C0BE6KSRW/

[2021-03-02 12:20] #827 closed

[2021-03-02 12:24] ultraon commented on #827
Thank you very much! You provided pretty good details for deep understanding!

[2021-03-02 22:26] mai2412 commented on #806
I'd like to work on this.

[2021-03-04 09:25] #806 closed

[2021-03-04 20:38] robstoll commented on #680
@Efpkaf do you need help?

[2021-03-04 20:39] robstoll commented on #679
@maciejnawrocki do you need help?

[2021-03-04 21:38] robstoll commented on #295
As I plan to do a refactoring in the area of the reporter, I am going to see if I can address this issue in the same go. I plan to do something slightly different than shown in the description:
1. I will remove the class name and identityHashCode -> I will re-introduce it for toBe as failure hint in case it matters
2. I will also align the `:` because I think it will help in scanning the report.
3

[2021-03-04 22:06] mai2412 commented on #676
I'll work on this

[2021-03-05 20:29] #676 closed

[2021-03-06 10:20] mai2412 commented on #766
I'd like to try this,

[2021-03-06 14:36] robstoll commented on #766
@mai2412 exactly. Use the existing functionality for toBeADirectory so that the reporting in error cases is already advanced

[2021-03-06 22:05] mai2412 commented on #766
Do you mean isDirectory? I can't find toBeADirectory

[2021-03-07 07:42] robstoll commented on #766
@mai2412 yes, isDirectory in DefaultPathAssertions. Sorry

[2021-03-16 12:06] robstoll commented on #251
closing for now, newcomers seem to have coped with it quite well

[2021-03-16 12:06] #251 closed

[2021-03-16 12:08] #766 closed

[2021-03-16 20:54] robstoll opened #834 "warn if a CharSequence.contains and the like did not match because of different line endings"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Consider:
[code]
Currently results in the following error report:
[code]
It would be very helpful if Atrium pointed out that it would have matched if the user were using the correct line endings. So I imagine something like the following in the report:
[code]

[2021-03-16 22:04] robstoll opened #837 "introduce `its` as convenience feature extractor at the cost of poorer reporting"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
See also #790 as one of the motivations behind this.
tl;dr: with the assumption that most users weight readability of code higher than readability of the report, I decided to introduce `its`.

Unfortunately, Kotlin 1.4 (and most likely 1.5 as well) still suffer from, well.. how to say this, not as good typ

[2021-03-16 22:04] robstoll commented on #790
I am closing this issue as I opened a new one for `its`

[2021-03-16 22:04] #790 closed

[2021-03-17 11:43] jGleitz commented on #834
I like the idea! With the following wording the message would be easier to understand for me:

I also don’t know why we should suggest `System.getProperty("line.separator")` when there is [`System.lineSeparator`](https://docs.oracle.com/javase/8/docs/api/java/lang/System.html#lineSeparator--)

[2021-03-17 20:10] robstoll commented on #834
Thanks for the hint about System.lineSeparator and the missing `been`. However, I prefer `used` over `expected`.  I have update the description and added the missing `had`. I hope the sentence is now correct :)

[2021-03-17 21:05] jGleitz commented on #834
My issue with ‘used’ is that it is ambiguous _where_ `\r\n` should have been used. Although not both interpretation are equally likely, the sentence could be read as

or as

[2021-03-17 21:26] robstoll commented on #834
I see your point. The problem I see with `expected` is that it might not be that obvious could be confusing in the sense of:

how about:
if you had used `\r\n` instead of `\n` in the expected string

[2021-03-18 16:42] jGleitz commented on #834
:+1:

[2021-03-18 18:21] robstoll commented on #837
I decided to include a link to the line number where the feature is defined instead of `feature` (`feature 1` etc.). The report then looks as follows:
[code]
Where intellij turns DummySpec.kt:36 into a clickable link.

[2021-03-18 20:55] #837 closed

[2021-03-22 07:19] #578 closed

[2021-03-22 21:48] robstoll opened #840 "to + infinitive naming"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature

See https://github.com/robstoll/atrium-roadmap/issues/93

Tasks:
- copy file in API and
  - rename from Assertions to Expectations.kt
  - rewrite functions to `to + infinitive`
- deprecate the function in ...Assertions.kt with:
  - `@Deprecated("Replaced by ....; will be removed latest with version 1.0.0"

[2021-03-27 15:44] szatyinadam commented on #680
I am working on this.

[2021-03-30 11:56] #680 closed

[2021-04-01 11:53] #679 closed

[2021-04-01 12:44] szatyinadam commented on #675
Can you help me how to use `asList` with `toBe` with infix in `asListFeature`?

[2021-04-01 19:23] robstoll commented on #675
Sure, you can use `o` to turn it into an infix function:
[code]
I suggest you add the comments the same way as you did in CollectionAssertionSamples and PairAssertionsSamples. Btw. would you mind to add `// subject here is back to type List<Int, String>` for CollectionAssertionSamples.size as you did in PairAssertionsSamples.first

[2021-04-01 19:33] szatyinadam commented on #675
Ok, thanks for your explanation. I am working on this and I will put that comment into CollectionAssertionSamples as well.

[2021-04-04 19:20] #675 closed

[2021-04-07 19:18] robstoll opened #861 "add samples for mapExpectations of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy MapExpectationSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and ajdust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that the s

[2021-04-07 19:18] robstoll opened #862 "add samples for mapEntryExpectations of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy MapEntryExpectationSample from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and adjust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that

[2021-04-08 19:20] #674 closed

[2021-04-13 11:23] CfGit12 opened #865 "Assertion Verbs"
_Disclaimer: I'm aware I can customise the assertion verbs, but generally speaking I'd not expect to have to do this without exceptional circumstances._

I find the out of the box assertion verbs to be a little bit muddled. I'm going to give a few examples of both `expect` and `assertThat` to illustrate my point. Firstly `expect`:

`expect(x).toBe(y)` makes sense and reads well.

`expect(x).isLess

[2021-04-13 11:49] robstoll commented on #865
@CfGit12 thanks for your feedback, very much appreciated.

We are going to rewrite the API with the up-coming version to a consistent to + infinitive form, i.e. isLessThan well be renamed to toBeLessThan as you suggest. You can read more about it and give further feedback/ideas here https://github.com/robstoll/atrium-roadmap/issues/93. For instance, one open point. shall we provide only `toBeA` as

[2021-04-13 13:32] CfGit12 commented on #865
Excellent :)

Posted a couple of thoughts in the other issue.

I don't really have any availability to directly contribute I'm afraid but happy to provide feedback when required.

[2021-04-13 14:00] #865 closed

[2021-04-18 07:13] Sxtanna commented on #450
Please update this with native support. It's a great framework and it really sucks not having the ability to run tests on native.

[2021-04-18 07:53] robstoll commented on #450
@Sxtanna thanks for the feedback. In case you have time and would like to contribute, we first need to migrate Atrium to the new MPP plugin in order to be able to provide native targets.

[2021-04-18 07:58] Sxtanna commented on #450
@robstoll I am actually using this in my first ever mpp project, so I'm not too versed in all norms.

But I would be more than happy to prototype migration efforts. I'll give it a try.

[2021-04-18 08:07] robstoll commented on #450
@Sxtanna great, I suggest you have a look at https://github.com/robstoll/atrium/issues/744 first. I'll try to help you so that you can do already some part of the migration. Migrating everything at once will probably a bit too much to start with. I'll see how we can do it best and come back to you again.

[2021-04-18 09:55] robstoll opened #873 "rewrite samples to use Kotlin DSL for gradle"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Currently, we use groovy in the samples. The Kotlin DSL is still somewhat RC I would say, not everything is smooth but I think it is good enough so that we can already use it in the samples projects

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over

[2021-04-18 11:59] dalewking commented on #450
Alternatively, kotest already has a nice assertion library that supports MPP.

[2021-04-18 18:38] rishujam commented on #671
I'll work on this

[2021-04-19 08:15] rishujam commented on #671
@robstoll  I am new to Open source. I have one query do I need to open each and every file in this project and check if it contains withFailureHint method and then refactor it or is there any other way I need to proceed.

[2021-04-19 08:44] robstoll commented on #671
Upfront, it's up to you how you do it. I think your approach is good but better search for `with.*FailureHint` using regex
![image](https://user-images.githubusercontent.com/5557885/115207681-19ccff80-a0fc-11eb-8341-b55c1a58206b.png)

[2021-04-19 09:45] rishujam commented on #671
@robstoll I am not able to do that sorry

[2021-04-19 10:20] robstoll commented on #671
@rishujam no worries. Let me know in case you would still like to do it but need more help.

[2021-04-19 21:56] robstoll commented on #744
@Sxtanna I have pathed the way so that you can continue with the migration. I have migrated atrium-core to the new MPP plugin, thought without the JS target as this one can only be done in a big-bang. See https://github.com/robstoll/atrium/commit/f21b2a0f81fc7cb7cfd5646cebbc47acbdec48a8#diff-e129df9e5134b2df3a6dd7417b8e0d6890a16212bbf423505ceeecfc80e62d5d

There are a few specialities which you ne

[2021-04-28 18:28] robstoll commented on #790
@StragaSevera did you have chance to try out `its`?  Let me know if you think it should be improved in any way.

[2021-05-20 20:29] robstoll opened #904 "add samples for bigDecimalExpectations of api-fluent"
## Code related feature
See for the initial request: https://github.com/robstoll/atrium/issues/624

With this issue we want to add samples for bigDecimalExpectations.kt of api-fluent

Following the things you need to do:

*api-fluent*
  - [ ] add one function per non-deprecated function in bigDecimalExpectations.kt to BigDecimalExpectationSamples (see BigDecimalExpectationSamples)
  - [ ] refer to

[2021-05-20 22:19] offgridauthor commented on #671
I'd like to work on this issue.

[2021-05-22 06:31] kacmacuna commented on #862
I'll work on this

[2021-05-22 08:48] robstoll commented on #862
@kacmacuna I have updated the description

[2021-05-22 11:19] kacmacuna commented on #861
I'll work on this

[2021-05-22 19:09] robstoll commented on #813
@wordhou can you please write a comment here so that I can assign you to the issue. Thanks

[2021-05-22 19:22] robstoll commented on #651
@wordhou can you write a comment here please so that I can assign the issue to you

[2021-05-22 19:52] robstoll commented on #861
@kacmacuna sorry, looks like you did not realise that the description was outdated as well. I have updated it but forgot to let you know