[2021-05-22 20:12] robstoll opened #914 "add samples for chronoLocalDateExpectations of api-fluent"
## Code related feature
With this issue we want to add samples for chronoLocalDateExpectations.kt of api-fluent

Following the things you need to do:

*api-fluent*
  - [ ] create ChronoLocalDateExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
- [ ] add one function per function in chronoLocalDateExpectations.kt (see AnyE

[2021-05-22 20:14] robstoll opened #915 "add samples for chronoLocalDateTimeExpectations of api-fluent"
## Code related feature
With this issue we want to add samples for chronoLocalDateTimeExpectations.kt of api-fluent

Following the things you need to do:

*api-fluent*
  - [ ] create ChronoLocalDateTimeExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
- [ ] add one function per function in chronoLocalDateTimeExpectations.

[2021-05-22 20:15] robstoll opened #916 "add samples for chronoZonedDateTimeExpectations of api-fluent"
## Code related feature
With this issue we want to add samples for chronoZonedDateTimeExpectations.kt of api-fluent

Following the things you need to do:

*api-fluent*
  - [ ] create ChronoZonedlDateTimeExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
- [ ] add one function per function in chronoZonedDateTimeExpectations

[2021-05-22 20:20] robstoll opened #917 "add samples for optionalExpectations of api-fluent"
## Code related feature
With this issue we want to add samples for optionalExpectations.kt of api-fluent

Following the things you need to do:

*api-fluent*
  - [ ] create OptionalExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
- [ ] add one function per function in optionalExpectations.kt (see ListExpectationSamples)

[2021-05-22 20:45] robstoll opened #919 "add samples for pathExpectations of api-fluent"
## Code related feature
With this issue we want to add samples for pathExpectations.kt of api-fluent

Following the things you need to do:

*api-fluent*
  - [ ] add one function per function in pathExpectations.kt and non deprectated function in pathAssertions to PathExpectationSamples (see PathExpectationSamples)
  - [ ] for functions having two overloads where one expects an assertionCreator in

[2021-05-23 01:08] wordhou commented on #722
I'd like to work on this. It looks like the `InAnyOrder(Entries/Values)AssertionCreator` both subclass the `ContainsAssertionCreator` which defines the `createAssertionGroup` method, which creates the `does not contain` assertion group. So would I need to move the `has elements` check up to the `ContainsAssertionCreator` class?

[2021-05-24 15:37] robstoll commented on #722
I'll take a look on Wednesday or Thursday. Upfront, replace the custom `has at least one element` with a regular hasNext expectation (see also https://github.com/robstoll/atrium/issues/305). Also, it's fine to do this for all InAnyOrder...

[2021-05-24 16:04] kacmacuna commented on #919
I'll work on this

[2021-05-24 20:12] wordhou commented on #813
Hello!

[2021-05-25 03:47] ArcaneOP commented on #917
I'll work on this.But i have no idea ,how this gonna happen.But i want to try this once

[2021-05-25 05:21] ArcaneOP commented on #917
can u tell me how to start

[2021-05-25 05:46] #813 closed

[2021-05-25 05:54] robstoll commented on #917
See above, the link `your first contribution`

[2021-05-25 05:58] ArcaneOP commented on #917
unable to find ListExpectationSamples

[2021-05-25 06:50] robstoll commented on #917
Have you forked and cloned the project. You should find it easily via search function of your IDE

[2021-05-25 07:06] ArcaneOP commented on #917
yes i forked and cloned it.and also foundListExpectationSamples.Now what to do next..i mean what r the function to be made?

[2021-05-25 07:47] robstoll commented on #917
See the description of this issue. it's lore or less a one to one step description. Have you created the OptionalExpectationSamples? Once done you do the next step etc.

[2021-05-25 07:49] ArcaneOP commented on #917
Yes i made it ....i will try to do it ....and communicate further...if i
would not able to do that   ...

On Tue, 25 May 2021, 1:17 pm Robert Stoll, ***@***.***> wrote:

[2021-05-25 07:59] robstoll commented on #917
In case you run into another problem, then create a draft PR please. This way I see what you have already done and thus better understand what next step you try to achieve.

[2021-05-26 20:10] robstoll commented on #722
@wordhou Now I remember again, I have already prepared a draft for this issue some time ago which includes the refactoring for InAnyOrderEntriesAssertionCreator and co. I have rebased the work and pushed a new branch notToContain-less-verbose. Yet, there are still open points (I also updated the description of this issue) and it would be nice if you could work on those:
- createHasElementAssertion

[2021-05-28 22:16] wordhou commented on #722
I'll take a look at your branch this weekend and try and tackle some of these issues. Thanks for the information.

[2021-05-29 21:32] robstoll commented on #292
@igorakkerman quite a while since you asked for the feature. Sorry about that, was something I had no need for myself and no one volunteered / sponsored the issue. Anyway...
I will implement it in this or in the next version where I plan to provide the following syntax:
[code]
What do you think?
Also, I will most likely provide a way to make this the default via a configuration (but at a later poi

[2021-05-29 21:45] igorakkerman commented on #292
@robstoll Unfortunately, I have moved away from Atrium. But if I were using it, I would prefer a shorter syntax like `report = onlyFailing()`.

[2021-05-30 11:58] robstoll commented on #292
@igorakkerman Thanks for the feedback, looks good to me as well.

[2021-05-30 18:56] robstoll commented on #168
closing as no one voted so far

[2021-05-30 18:56] #168 closed

[2021-06-03 09:01] #861 closed

[2021-06-03 09:02] #862 closed

[2021-06-06 11:14] DurveshKumarPal commented on #671
hey, can you assign me that issue.

[2021-06-06 12:48] robstoll commented on #671
@offgridauthor are you still working on this one? @DurveshKumarPal would like to take over

[2021-06-06 14:17] dias-wagner commented on #914
I'll work on this

[2021-06-06 20:46] dias-wagner commented on #915
I'll work on this

[2021-06-06 20:47] dias-wagner commented on #916
I'll work on this

[2021-06-07 07:35] robstoll commented on #671
@DurveshKumarPal there are also other issues where we could use your help and are not assigned yet in case you already want to start programming:
https://github.com/robstoll/atrium/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

[2021-06-07 08:19] #914 closed

[2021-06-07 08:30] #919 closed

[2021-06-07 08:30] robstoll commented on #917
@ArcaneOP do you need help?

[2021-06-07 08:42] ArcaneOP commented on #917
I have exams....i will start after 10th..sorry for inconvenience..

On Mon, 7 Jun 2021, 2:01 pm Robert Stoll, ***@***.***> wrote:

[2021-06-07 08:52] robstoll commented on #917
No problem at all, no rush, just wanted to be sure you don't have obstacles on the way :slightly_smiling_face:

[2021-06-07 09:31] ArcaneOP commented on #917
Thank you! For giving me time🙂

On Mon, 7 Jun 2021, 2:23 pm Robert Stoll, ***@***.***> wrote:

[2021-06-07 22:10] dias-wagner commented on #915
About the bonus, you mean comments in the code?

[2021-06-08 02:16] wordhou opened #933 "Empty assertionCreator lambda warning is added twice"
*Affected Version*: 1.7
*API* (fluent-en_GB, infix-en_GB): both
*Platform* (jvm, js): logic
*Extension* (none, kotlin 1.3): none

[code]
produces
[code]
and
[code]
produces
[code]

## Describe the bug
On IterableLike `notToContain.entry/entries` the empty assertionCreator lambda is getting added twice. In `InAnyOrderEntriesAssertionCreator` it appears to be getting added once in `addEmptyAssertion

[2021-06-08 15:20] robstoll commented on #933
Good catch. I am going to remove `bug` as it is not something which needs to be fixed immediately IMO and thus change it to `enhancement`.
I am not even sure if we should fix it / invest time for it, knowing that this only occurs if the developer has forgotten to specify assertions.

In case someone is motivated to fix it, then go for it. But I think we should reduce it to a minimum effort as I do

[2021-06-08 16:34] robstoll commented on #915
Something along the line of:
[code]

[2021-06-08 17:35] offgridauthor commented on #671
Go for it. Things have shifted and I won't be able to tackle this right now.

[2021-06-09 07:16] #722 closed

[2021-06-09 15:18] #915 closed

[2021-06-09 16:31] wordhou commented on #651
Sorry I missed your message, I'm going to close this as #906 was merged.

[2021-06-09 16:31] #651 closed

[2021-06-09 18:13] robstoll commented on #305
@wordhou also think that this is a good next issue and I totally agree, we should still see what went wrong in case the iterable is empty.

[2021-06-11 05:53] #310 closed

[2021-06-17 08:42] robstoll opened #942 "add Path.notToBeReadable"
*Platform* (all, jvm, js): jvm
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

Following the things you need to do:

*logic*
- [ ] extend PathAssertions with a function `isNotReadable` (see PathAssertions as a guideline)
- [ ] implement isNotReadable in DefaultPathAssertions.kt by using the `ExpectImpl.feature.extractor...`
- [ ] run `./gradlew generateLogic` which will updat

[2021-06-17 08:42] robstoll commented on #942
@dias-wagner something for you, write a comment and I'll assign the issue to you

[2021-07-03 12:44] #933 closed

[2021-07-05 19:37] #916 closed

[2021-07-06 18:37] #305 closed

[2021-07-06 18:41] robstoll opened #950 "fix empty feature extractor"
*Affected Version*: 0.16.0
*API* (fluent-en_GB, infix-en_GB): both
*Platform* (jvm, js): all
*Extension* (none, kotlin 1.3): none

## How to reproduce the problem
See https://github.com/robstoll/atrium#ex-own-compose-4. Now that we report the expectation the user wanted to create if the iterable were not empty, we can see that we create an empty feature assertion additionally which shouldn't be cr

[2021-07-07 07:22] #950 closed

[2021-07-12 16:45] #840 closed

[2021-07-12 19:32] wordhou commented on #873
I can give this one a go this week.

[2021-07-13 18:16] #292 closed

[2021-07-13 19:35] #873 closed

[2021-07-13 19:59] wordhou commented on #691
While digging around in the `gradle.build.kts` files while working on #873, I figured out the configuration settings to change this:

[code]

This is in the kotlin dsl but I believe it would be the same in Groovy. I'll post a PR shortly.

[2021-07-14 07:57] #691 closed

[2021-07-18 20:18] robstoll commented on #744
Good news, it looks like JetBrains has a workaround for the JS problem:
https://youtrack.jetbrains.com/issue/KT-40226

[2021-08-04 00:31] Evansb2250 commented on #658
Hi @robstoll I wanted to know if this issue has been resolved? If not I would like to attempt to resolve it.

[2021-08-04 08:05] robstoll commented on #658
@Evansb2250 not yet, thanks for working on it

[2021-08-06 01:15] Evansb2250 commented on #658
@robstoll you're welcome, I've never done anything like this before, so I will try my best to be of some help.

[2021-08-09 02:59] Evansb2250 commented on #658
Hi @robstoll  I've looked at throwableExpectations.kt and throwableAssertions.kt, and I am not entirely sure how to provide a sample of using the functions in the files.
Could you provide me hint please ?

[2021-08-09 09:46] robstoll commented on #658
@Evansb2250 You can copy an existing samples file, for instance AnyExpectationSamples there you see how you need to write a sample function. The usage of e.g. `toThrow` is explained here and gives a good starting point I guess: https://github.com/robstoll/atrium#expect-an-exception
Also, search for uses in the project, Tests etc. should give you further hints how the functions are used.

[2021-08-21 07:18] stevenlmcgraw commented on #671
I'll work on this.

[2021-08-29 04:10] binkley opened #971 "Build takes too long"
*Affected Version*:
*API* (fluent-en_GB, infix-en_GB): fluent-en_GB
*Platform* (jvm, js):
*Extension* (none, kotlin 1.3): none

Why does this issue template point out Kotlin 1.3 -- current is 1.5.x?
Likewise, the build output seems to depend on older Kotlin versions.

## How to reproduce the problem
Clone the repo.  Build with `./gradlew clean build`.

## Describe the bug
Lots of cmd line noise, a

[2021-08-29 04:17] binkley commented on #971
I'm not sure about the "bug" label.  Perhaps "enhancement"?

[2021-08-30 20:30] #671 closed

[2021-09-03 02:40] bhaumikankan commented on #942
i will work on this its my first time in open source

[2021-09-03 02:40] bhaumikankan commented on #942
@robstoll can you guid me plz

[2021-09-03 13:40] robstoll commented on #942
@bhaumikankan please take a look at [your first contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution)

Moreover, the steps you need to do are described in the description of this issue. Let me know if you have difficulties to tackle one of them.

[2021-09-16 00:29] timacosta commented on #904
I'll work on this. I've been just checking similar issues and PRs related to it so feel free to assign it to me if there is no issue.

[2021-09-24 00:52] timacosta commented on #904
@robstoll PR #988 for this. Feel free to comment in the PR if it needs to be extended or if any explanatory comment is necessary.

[2021-09-24 11:59] timacosta commented on #917
I'll work on this, seems like the previous person's account got deleted. Assign it if OK.

[2021-09-24 13:32] #904 closed

[2021-10-02 15:46] botex98 commented on #942
Hey, I've noticed that this ticket is not yet solved, and some time has passed since you assigned @bhaumikankan to this ticket, so I solved it. Please check it out.

[2021-10-04 18:24] logesh-sahaj commented on #657
I'll work on this

[2021-10-05 19:11] logesh-sahaj commented on #657
Hi @robstoll Can you please assign this to my other id @loge1998

[2021-10-05 19:28] robstoll commented on #657
@logesh-sahaj I am afraid but I cannot, you need to post as @loge1998 here. Only then I can assign it

[2021-10-05 19:29] loge1998 commented on #657
Hey I logged in from my personal id

[2021-10-05 20:19] robstoll commented on #917
@timacosta do you need help with this?

[2021-10-05 20:30] robstoll commented on #917
No rush at all

[2021-10-05 21:59] #658 closed

[2021-10-06 11:27] robstoll opened #992 "add samples for iterableExpectations of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy IterableExpectationSamples from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and adjust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that

[2021-10-06 11:34] robstoll opened #993 "add samples for resultExpectations of api-fluent"
## Code related feature
With this issue we want to add samples for resultExpectations of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create ResultExpectationSamples in apis/fluent-en_GB/extensions/kotlin_1_3/atrium-api-fluent-en_GB-kotlin_1_3-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/kotlin_1_3/samples
  - [ ] add one function per function in resultExpectat

[2021-10-06 11:36] robstoll opened #994 "add samples for fileAssertions of api-fluent"
## Code related feature
With this issue we want to add samples for fileAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create FileExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per function in fileAssertions.kt (see AnyExpectationSamples)
  - [ ] refer t

[2021-10-06 11:37] robstoll opened #995 "add samples for floatingPointJvmAssertions of api-fluent"
## Code related feature
With this issue we want to add samples for floatingPointJvmAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create FloatingPointJvmExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per function in floatingPointJvmAssertions.kt (see An

[2021-10-06 11:38] robstoll opened #996 "add samples for localDateAssertions of api-fluent"
## Code related feature
With this issue we want to add samples for localDateAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create LocalDateExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per function in localDateAssertions.kt (see AnyExpectationSamples)

[2021-10-06 11:39] robstoll opened #997 "add samples for localDateTimeAssertions of api-fluent"
## Code related feature
With this issue we want to add samples for localDateTimeAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create LocalDateTimeExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per function in localDateTimeAssertions.kt (see AnyExpectat

[2021-10-06 11:40] robstoll opened #998 "add samples for zonedDateTimeAssertions of api-fluent"
## Code related feature
With this issue we want to add samples for zonedDateTimeAssertions.kt of api-fluent

Following the things you need to do:

*api-fluent*
- [ ] create ZonedDateTimeExpectationSamples in apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/test/kotlin/ch/tutteli/atrium/api/fluent/en_GB/samples
  - [ ] add one function per function in zonedDateTimeAssertions.kt (see AnyExpectat

[2021-10-06 11:44] robstoll opened #999 "add samples for pathExpectations of api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy PathExpectationSamples from fluent-api, adjust imports `...api.fluent...` to `...api.infix...` and adjust the samples accordingly (always use the infix syntax, never the fluent).
- [ ] check that the

[2021-10-07 07:50] robstoll opened #1001 "add Path.notToBeWritable"
*Platform* (all, jvm, js): jvm
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

Following the things you need to do:

*logic*
- [ ] extend PathAssertions with a function `isNotWritable` (see PathAssertions as a guideline)
- [ ] implement isNotWritable in DefaultPathAssertions.kt by using the `ExpectImpl.feature.extractor...`
- [ ] run `./gradlew generateLogic` which will updat

[2021-10-09 11:36] rhushikesh commented on #999
I'll work on this

[2021-10-09 11:57] rhushikesh commented on #1001
I'll work on this.

[2021-10-09 12:08] rhushikesh commented on #999
Hi @robstoll,

As this is my first PR in this project, I have one question to clarify.

Even though you mentioned `copy PathExpectationSamples from fluent-api, adjust imports ...api.fluent... to ...api.infix... and adjust the samples accordingly (always use the infix syntax, never the fluent).` in task list, we will need to add samples for infix functions for pathExpectations.

there are only 7 in

[2021-10-09 17:09] rhushikesh commented on #1001
Hi @robstoll,

I have submitted PR for this issue https://github.com/robstoll/atrium/pull/1004

I have tried to go through your PR comments for other similar PRs and have tried to incorporate them. Please let me know your thoughts.

I am waiting for my other PR https://github.com/robstoll/atrium/pull/1003 for adding samples for api-infix to get merge so that I can update api samples for notToBeWri

[2021-10-09 18:39] rhushikesh commented on #996
Hi @robstoll,

I have raised a PR for issue https://github.com/robstoll/atrium/issues/997. Samples required for localDateAssertions are pretty much in line with localDateTimeAssertions. If you are okay with PR of that issue, I can pick this issue up as well and raise required PR.

Thank you

[2021-10-09 19:01] #657 closed

[2021-10-09 19:23] robstoll commented on #997
@rhushikesh if you find the time then please yes. I usually split it into two issues so that it is really an easy good first issue without too much to do.

[2021-10-09 19:37] robstoll commented on #996
@rhushikesh great that you have that much time :+1: There is also #998 which is very similar. In case you have even more time, then add a comment there as well and I assign it to you

[2021-10-10 04:45] rhushikesh commented on #996
HI @robstoll,

I have raised PR for this issue https://github.com/robstoll/atrium/pull/1006. I have accommodated changes you had suggested for [localDateTimeAssertions PR](https://github.com/robstoll/atrium/pull/1005) as well.

Please have a look and let me know our thoughts.

[2021-10-10 14:44] timacosta commented on #917
@robstoll I've started slowly on this one (didn't have any time until now) and I was wondering how complex you expect these samples to be. I was just dealing a bit with the different functions in `optionalSamples.kt` and think I got the point. Just asking before going deeper, cause you can actually do it as complex as possible with Optionals.

Let me know and clarify if needed, what kind of use ca

[2021-10-10 16:23] robstoll commented on #917
Rather simple, take a look at other examples. It's always good to have a passing and a failing sample.

[2021-10-12 21:21] #996 closed

[2021-10-12 21:25] robstoll commented on #998
@vinayak03 see LocalDateTimeExpectationSamples which was added recently. You can more or less copy it.

[2021-10-13 05:43] robstoll commented on #998
@vinayak03 yes my fault. Should have been in the jvm target. Sorry about that

[2021-10-16 21:41] #1001 closed

[2021-10-16 22:25] #992 closed

[2021-10-17 10:09] rhushikesh opened #1015 "add Path.notToBeExecutable"
Platform (all, jvm, js): jvm
Extension (none, kotlin 1.3): none

Code related feature
expect(path).notToBeExecutable()

//instead of

expect(path).feature { f(it::isExecutable) }.toEqual(false)
Following the things you need to do:

logic

 extend PathAssertions with a function isNotExecutable (see PathAssertions as a guideline)
 implement isNotReadable in DefaultPathAssertions.kt by using the Expe

[2021-10-17 10:10] rhushikesh commented on #1015
Hi @robstoll, should we have an issue to create Path.notToBeExecutable. If this is required then I can pick it up

[2021-10-17 12:22] rhushikesh commented on #1015
Hi @robstoll, I have raised PR for this issue https://github.com/robstoll/atrium/pull/1016. Please have a look and let me know. Also can you please add `Hacktoberfest` label to this issue as well

[2021-10-18 15:33] #995 closed

[2021-10-18 21:23] robstoll opened #1019 "add samples for ZonedDateTime to api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy apis/infix-en_GB/atrium-api-infix-en_GB-jvm/src/test/kotlin/ch/tutteli/atrium/api/infix/en_GB/samples/LocalDateTimeExpectationSamples.kt and rename to ZonedDateTimeExpectationSamples and adjust Local

[2021-10-21 14:34] #993 closed, assigned to vinayak03

[2021-10-21 16:49] iljakorneckis commented on #1019
I'll work on this, if that's ok

[2021-10-21 17:46] robstoll commented on #1019
Sure 👍

[2021-10-23 19:07] robstoll opened #1021 "test bug"
### Affected Version

0.16.0

### API

fluent-en_GB

### Platform

jvm

### Kotlin Version

1.5

### How to reproduce the problem?

[code]

### Describe the bug

bla

### Expected behaviour

aye

[2021-10-23 19:08] #1021 closed, assigned to nobody

[2021-10-25 18:38] #1015 closed, assigned to rhushikesh

[2021-10-29 19:49] robstoll opened #1038 "add samples for iterableSubjectChangers to api-fluent and api-infix"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
See ArraySubjectChangerSamples in api-fluent and ArraySubjectChangerSamples in api-infix, we want similar samples for iterableSubjectChangers.kt

- [ ] create IterableSubjectChangerSamples in api-fluent
- [ ] add asListFeature and asList (see first two methods in ArraySubjectTransformationSamples in api-fl

[2021-10-29 19:50] robstoll opened #1039 "add samples for Map.size to api-fluent and api-infix"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
See other samples in MapFeatureExtractorSamples (e.g. valuesFeature and values) we want the same for the function size

- [ ] add sizeFeature and size to MapFeatureExtractorSamples in api-fluent
- [ ] add `@sample` to the corresponding functions in mapFeatureExtractors.kt in api-fluent
- [ ] add sizeFeatur

[2021-10-31 05:19] ashwini-desai commented on #1039
@robstoll : I'll work on this

[2021-10-31 09:32] ashwini-desai commented on #1039
@robstoll : Raised a PR

[2021-11-04 21:31] #1039 closed

[2021-11-04 21:40] robstoll opened #1044 "add samples for fun0Expectations also to api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy Fun0ExpectationSamples from fluent-api to api-infix, adjust imports `...api.fluent...` to `...api.infix...` and adjust the samples accordingly (always use the infix syntax, never the fluent).
  - [ ]

[2021-11-04 21:46] robstoll opened #1045 "add samples for ListFeatureExtractorSamples to api-fluent and api-infix"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
See ListFeatureExtractorSamples in api-fluent and ListFeatureExtractorSamples in api-infix, we want similar samples for iterableSubjectChangers.kt

- [ ] create ListFeatureExtractorSamples in api-fluent
- [ ] add function `getFeature` for the first function/overload of `get` in listFeatureExtractors.kt (se

[2021-11-04 22:03] robstoll opened #1046 "add samples for sequenceSubjectChangers also to api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy SequenceSubjectChangerSamples from fluent-api to api-infix, adjust imports `...api.fluent...` to `...api.infix...` and adjust the samples accordingly (always use the infix syntax, never the fluent).

[2021-11-05 21:08] #648 closed

[2021-11-07 20:52] #917 closed

[2022-01-06 21:38] robstoll opened #1089 "use ❗❗for `but no such element was found` instead of »"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]
Results in
[code]

It would be nicer (IMO) if it were:
[code]

[2022-01-06 21:57] robstoll opened #1091 "generate jdk 11 byte code"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
 we will generate jdk 11 byte code (yes, we skip jdk8 as newer android versions support jdk11 byte code) an no longer jdk1.6 (and thus also rely on Kotlin's stlib-jdk8) => might affect you in case you still generate jdk1.6 or jdk1.8 in tests as inlining will not work (jdk11 code cannot be inlined into jdk1

[2022-01-09 15:06] #1091 closed

[2022-01-11 09:31] robstoll opened #1094 "also add reportOptions to inAnyOrder.only"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]
Results per default in:
[code]

I suggest we apply the same strategy regarding showing all successful or not like we use for inOrder.only, i.e. show only failing if there are more than 10 expected elements and add option to change the options

[2022-02-06 18:28] louetriTaha commented on #1046
I'll work on this

[2022-02-19 11:05] #1044 closed

[2022-02-21 20:35] robstoll commented on #1046
@louetriTaha do you need help?

[2022-03-02 20:39] robstoll opened #1100 "show only the first 10 additional elements for inOrderOnly and inAnyOrderOnly"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]
The output will show all additional elements from 4 to 100 which is way too verbose. Similar to the showOnlyFailing option which controls reporting of the expected elements we should introduce a `setMaxNumberOfAdditionalElements` and

[2022-03-02 20:45] robstoll opened #1101 "show only the first 10 mismatches for notToContain"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
[code]

The output will show all elements from 3 to 100 which is way too verbose. Similar to the showOnlyFailing option for `toContain.inOrder.only` we should introduce `NotToContainReportingOptions` which allows to `setMaxNumberOfMismatches` which defaults to 10

[2022-03-02 21:06] robstoll opened #1102 "base showOnlyFailingIfMoreElementsThan on expected elements"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
in v0.17.0 we have added the report option showOnlyFailingIfMoreElementsThan for toContain.inOrder.onl
Currently, the default behaviour `showOnlyFailingIfMoreElementsThan(10)` is based on the number of elements in the IterableLike. It is likely that the number of expected elements is more or less the same

[2022-03-03 20:48] robstoll opened #1103 "additional elements detected wrong for inAnyOrder.only"
### Affected Version

0.18.0

### API

fluent-en_GB

### Platform

jvm

### Kotlin Version

_No response_

### How to reproduce the problem?

[code]

### Describe the bug

Results in the following report:
[code]

### Expected behaviour

The hint should only mention `mismatches detected` as we specified more expected elements than there are in the list

[2022-04-09 20:06] #1102 closed

[2022-04-09 20:06] #1103 closed

[2022-04-24 20:10] robstoll opened #1129 "add tests for reportOptions to MapToContainInOrderOnlyKeyValueExpectationsSpec"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature

Following the things you need to do:

- [ ] see TODOs in MapToContainInOrderOnlyKeyValueExpectationsSpec

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over.
  This way we get the chance to revise the description in case things have changed in the m

[2022-04-24 20:54] robstoll commented on #1094
some specs are missing, moving them to own issues

[2022-04-24 20:54] #1094 closed

[2022-05-18 07:40] tenor-dev opened #1143 "notToContain() should not fail if subject collection is empty"
### Affected Version

0.18.0

### API

fluent-en_GB

### Platform

jvm

### Kotlin Version

1.6.20

### How to reproduce the problem?

[code]

### Describe the bug

Currently it fails.

### Expected behaviour

Empty list never contains anything, so this should not fail.

[2022-05-18 07:46] robstoll commented on #1143
See kdoc of this function:
[code]
Use `toBeEmpty()` if you expect that the list is empty.  That's a different test-case IMO.

But I guess you don't know whether the iterable is empty or not at the time you write your test. Correct?

[2022-05-18 08:24] tenor-dev commented on #1143
We would argue that it's unexpected that a lists of 1 random element would not fail the above test, but an empty one would.
In other similar frameworks (e.g. AssertJ) it works as expected, and most likely should here as well... No need for a separate function that will be hard to discover.

[2022-05-18 09:24] robstoll commented on #1143
@tenor-dev do you know by the time where you write the test whether the list is empty or not?

[2022-05-18 15:36] angryziber commented on #1143
@robstoll usually it is not known for sure, otherwise `toBeEmpty()` could be used.
But when somebody uses `notToContain()` - it means that they don't care what there is, it's just important that the given elements are missing, including if the subject is empty.

An example use case for that is a DB integration test, where you load list of items, check them, then delete an item, load the list again

[2022-05-19 11:33] robstoll commented on #1143
@angryziber Thanks for your feeback and sharing your use case.

The reason why I included this check is outlined in detail in the discussion in #689. IMO it is basically smelly if you don't know whether your iterable has next elements or not. Many times, I would even claim most of the times, the outcome of an empty iterable (in tests) is very different than some value(s) are not among other values

[2022-05-20 07:55] angryziber commented on #1143
I remind you the basic philosophy of Unix utilities that proved over 40 years to be very successful - they should do one thing only and be composable.

That's why it doesn't make sense for `notToContain` to do an unexpected additional check of `notToBeEmpty`.
If somebody cares about that case, they should use it explicitly.

And please don't rename all method to be long and clumsy. We chose Kontli

[2022-05-20 08:47] robstoll commented on #1143
IMO you need to see the context where your utility is used. If we talk about business logic, then I am totally on your side, functions should do just one (small) thing and it is up to the developer to think carefully if a isNotEmpty check is required or not. However, if we talk about validation of code, then safety-first should be the credo. As already outlined, IMO it is better to have a false ne

[2022-05-22 08:23] angryziber commented on #1143
It is not risky, but expected :-)
Probably too many atrium jars already.

Anyway, it seems you are not willing to fix that issue. Hopefully this was a conscious decision and not a bug, that you are defending, like it seems at a first glance.

We have spoken, you are to decide what to do about it.
Other libraries seem to do this right, but have other issues :-)

[2022-05-25 08:26] robstoll commented on #1143
@angryziber it's always good to get feedback. Thanks for that

I guess, I wasn't as lucky as you have been in the past. I ran into bugs which were not covered by tests due to the missing `has at least one element` check in the test code. That's also the reason why I have baked this check into `notToContain`. Probably depends a lot on the expertise of your team and on how much time reviewers can sp

[2022-05-25 09:12] angryziber commented on #1143
@robstoll we currently use testImplementation("ch.tutteli.atrium:atrium-fluent-en_GB:0.18.0")
I haven't tried the infix version yet, which I may even prefer if it looks nice. Maybe should be a good pairing with mockk, which uses infix for `every {} returns`

[2022-06-14 03:51] simonNozaki commented on #1129
Hi @robstoll ,

I'll work on this. I'm new to open source projects, so would you support me where to start?

[2022-06-14 19:26] robstoll commented on #1129
@simonNozaki sure, I guess you had already a look at [Your first code contribution](https://github.com/robstoll/atrium/blob/main/.github/CONTRIBUTING.md#your-first-code-contribution). Note that adding a sample would probably be an easier issue to start with and as you are new, I recommend you work on one of those:
https://github.com/robstoll/atrium/issues?q=is%3Aopen+label%3A%22good+first+issue%22

[2022-06-14 22:32] simonNozaki commented on #1129
@robstoll
Thank you for your replying!

Yes, so I'll work on this:
https://github.com/robstoll/atrium/issues/1045

[2022-06-14 22:55] simonNozaki commented on #1045
At #1129 , thanks to introduce query, I'll work on this.

[2022-06-15 06:35] robstoll commented on #1045
@simonNozaki see todos in issue description. They describe step by step what you need to do. Does that help?

[2022-06-15 07:13] simonNozaki commented on #1045
Sorry so much, I missed the description of issue. I can maybe do this by todos with step by step .

[2022-06-15 12:04] simonNozaki commented on #1045
Hi, @robstoll .

Again seeing projects, it seems that ListFeatureExtractorSamples already exists in `ch.tutteli.atrium.api.infix.en_GB.samples` and `ch.tutteli.atrium.api.fluent.en_GB.samples`.

And these class has both `getFeature` and `both`, so I think this issue can be closed because of sample codes.

[2022-06-15 13:03] robstoll commented on #1045
You're right, sorry about that. Looks like I already added it and forgot to close the issue. Take a look at #1038 this one is still open

[2022-06-15 13:03] #1045 closed

[2022-06-15 13:32] simonNozaki commented on #1045
@robstoll

Oh, great, I see!. So, please assign me to #1038. I'm ready to add samples for `iterableSubjectChangers`!

[2022-06-18 09:23] simonNozaki commented on #1038
Please close this

[2022-06-18 09:44] #1038 closed

[2022-06-18 09:46] robstoll commented on #1046
@simonNozaki you need to add a comment if you want to tackle this. This way I can sign the issue to you

[2022-06-18 11:04] simonNozaki commented on #1129
@robstoll ,
Thanks to assign me to this issue. Can I add some methods or utilities to the base class of `MapToContainInOrderOnlyKeyValueExpectationsSpec` , `MapLikeToContainFormatSpecBase` ?

`IterableToContainSpecBase` (the base class of `IterableToContainInOrderOnlyValuesExpectationsSpec`) has those, so I suppose that it's better to match its example.

[2022-06-18 16:17] robstoll commented on #1129
Sure go ahead

[2022-06-19 12:21] simonNozaki commented on #1129
Hi, @robstoll

I wrote the first spec in `context`, so how can I run specs? In locally, thgrough gradle,  I ran `./gradlew :atrium-specs:jvmTest --info`, but it seems that gradle could not look up test cases.

Though I checked `wiki` of this, repository, but I could not found the way to run.

[2022-06-19 13:46] robstoll commented on #1129
@simonNozaki specs only defines the spexs in a parametric way. It's the tests of the Api you need to run in the end. easiest is you run ./gradlew build. If you want to be more specific, then run ./gradle :atrium-api-fluent-en_GB:test or :jvmTest

[2022-06-21 21:54] robstoll commented on #971
@binkley we moved to the new MPP plugin `clean build` takes 2min on my machine currently (we are skipping js on local without the CI flag for now). I think that is reasonable fast.
Closing this, let me know in case you still have ideas how we can improve

[2022-06-22 05:02] #1143 closed

[2022-06-24 20:58] robstoll opened #1157 "add ResultExpectationSamples also to api-infix"
*Platform* (all, jvm, js, android): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We also want to provide samples for the infix api

Following the things you need to do:
- [ ] copy ResultExpectationSamples from fluent-api to api-infix, adjust imports `...api.fluent...` to `...api.infix...` and adjust the samples accordingly (always use the infix syntax, never the fluent).
  - [

[2022-06-27 14:38] robstoll opened #1159 "rewrite readme-examples/build.gradle to build.gradle.kts"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Would be nicer to have the build file in Kotlin instead of groovy

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over.
  This way we get the chance to revise the description in case things have changed in the meantime, we might give you additional hi

[2022-06-27 14:39] robstoll opened #1160 "rewrite misc/tools/atrium-js-sample-test/build.gradle to build.gradle.kts"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Would be nicer to have the build file in Kotlin instead of groovy

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over.
  This way we get the chance to revise the description in case things have changed in the meantime, we might give you additional hi

[2022-06-27 14:43] robstoll opened #1161 "rewrite misc/tools/atrium-samples-test/build.gradle to build.gradle.kts"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Would be nicer to have the build file in Kotlin instead of groovy

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over.
  This way we get the chance to revise the description in case things have changed in the meantime, we might give you additional hi

[2022-06-29 06:09] #1157 closed

[2022-07-01 21:23] Procrasteenator commented on #1161
Hi, I would like to work on this issue but I am a beginner and haven't worked on writing Gradle files before, it would be great if you could guide me.
Thank You

[2022-07-02 07:25] robstoll commented on #1161
@Procrasteenator maybe not the best issue to start with in this case. Take a look at 1046.
If you want to continue with this one, then read https://kotlinlang.org/docs/multiplatform-add-dependencies.html and similar sites and compare groovy and Kotlin.

[2022-07-02 11:41] Chandra-Sekhar-Bala commented on #1159
Hey, @robstoll I'll work on this :)

[2022-07-02 14:41] Chandra-Sekhar-Bala commented on #1159
So, to be specific I need to replace "build.gradle" with "build.gradle.kts"  in the README.MD file right @robstoll  ?

[2022-07-02 14:51] robstoll commented on #1159
No, you task is to rewrite https://github.com/robstoll/atrium/blob/main/misc/tools/readme-examples/build.gradle (i e. currently groovy based) to build.gradle.kts (Kotlin based)

[2022-07-03 03:47] Chandra-Sekhar-Bala commented on #1159
Well I haven't worked on groovy yet. Can you please provide some resource to get this work done?

[2022-07-03 06:06] robstoll commented on #1159
@Chandra-Sekhar-Bala I suggest you read https://kotlinlang.org/docs/multiplatform-add-dependencies.html and similar sites and compare groovy and Kotlin.

[2022-07-03 20:10] femialaka commented on #1160
I'll work on this

[2022-07-05 20:13] agataporwit commented on #1161
I have some Kotlin experience and would like to challange myself. Would that be a good place to start ? I am open to any suggestions.

[2022-07-05 20:56] robstoll commented on #1161
@agataporwit give it a go, you will quickly find out if your list or not I guess. Ask if you need help 🙂

[2022-07-07 06:55] #1161 closed

[2022-07-07 06:57] robstoll commented on #1161
@agataporwit There is already a PR for this issue by @stexxe which I just merged.
I hope you have not yet started with your work. In case you have, then you might be interested to compare your work with that of stexxe's see https://github.com/robstoll/atrium/pull/1163
There are still other good first issues:
https://github.com/robstoll/atrium/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+iss

[2022-07-07 10:15] Stexxe commented on #1161
I'll work on this

[2022-07-09 19:48] #1160 closed

[2022-07-12 20:15] robstoll commented on #1129
@simonNozaki let me know in case you need help

[2022-07-14 07:00] robstoll commented on #1159
@Chandra-Sekhar-Bala do you need help?

[2022-07-14 13:33] simonNozaki commented on #1129
Sorry, in these days i was so busy in my company, so I could not commit to this issue...

[2022-07-14 13:41] robstoll commented on #1129
@simonNozaki no worries and no hurry, just wanted to be sure you are not stuck

[2022-08-21 09:26] JordanllHarper commented on #1046
Is this issue still available? I would be interested in giving it a go.

[2022-08-22 06:01] robstoll commented on #1046
@JordanllHarper Yes, go ahead 👍

[2022-08-25 08:05] tenor-dev opened #1180 "Add expect {} with coroutine support (suspend lambda)"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Currently you need to write
[code]

## It would be great to have suspending built-in:
[code]

"co" prefix is already used by mockk: coVerify() and coEvery(), so it will be familiar to developers.

coExpect function should be a suspend function itself, so it can be used inside of `runTest {}` from kotlinx-coroutines-test.

[2022-08-25 19:31] #1046 closed

[2022-08-25 20:32] robstoll commented on #1180
Thanks for the idea, I'll consider your suggestion in https://github.com/robstoll/atrium/issues/363.
Since this issue is a duplicate of it, I'll close this one. Please up-vote the other (react with :+1: on the issue description).
See https://github.com/robstoll/atrium/issues/363#issuecomment-582906691 for a function you could use until atrium provides something built in.
In case you have some spar

[2022-08-25 20:32] #1180 closed

[2022-08-25 20:34] robstoll commented on #363
another suggestion by @tenor-dev would be `coExpect` instead of `expectBlocking`

[2022-08-25 20:38] robstoll commented on #505
closing this as there were no votes so far and the gain is not enough IMO as intellij supports the jump to the right place

[2022-08-25 20:38] #505 closed

[2022-09-21 12:11] Kaustubh-Umbarkar commented on #1159
I'll do this

[2022-09-27 12:22] JordanllHarper commented on #709
Hi I would like to take this on!

[2022-09-28 16:11] JordanllHarper commented on #709
@robstoll  I'm just wanting to double check, are you wanting the methods in ' /logic/atrium-logic/src/generated/jvmMain/ch/tutteli/atrium/logic/chronoZonedDateTime.kt ' deprecated? If not, could you point me to the path where I'm needing to deprecate?

[2022-09-28 22:28] robstoll commented on #709
@JordanllHarper no, you don't deprecate existing functions, you add new overloads for the existing functions in https://github.com/robstoll/atrium/blob/main/apis/fluent-en_GB/atrium-api-fluent-en_GB/src/commonMain/kotlin/ch/tutteli/atrium/api/fluent/en_GB/comparableExpectations.kt
for the type ChronoZonedDateTime etc. to the corresponding files in jvmMain (e.g the one you pointed out for ChronoZon

[2022-09-30 04:41] ajayjha5899 commented on #1089
I can take this up.

[2022-09-30 05:48] robstoll commented on #1089
@ajayjha5899 this is not an easy one and would require too much help from my side if you are a beginner. That's why it does not have the `help wanted` label. Please check out the other issues

[2022-10-05 07:27] DakshSuryavanshi commented on #1159
hello @robstoll I would like to work on this issue if it's still open.

[2022-10-05 19:15] robstoll opened #1194 "Migrate DescriptiveWithBasedOnSubjectSpec from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [x] add dependency to kotest to the common platform in misc/atrium-specs/build.grad

[2022-10-05 19:16] robstoll opened #1195 "migrate BulletPointProviderSpec from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [ ] add dependency to kotest in misc/atrium-specs/build.gradle.kts
- [ ] rewrite at

[2022-10-05 19:17] robstoll opened #1196 "migrate AtriumErrorSpec from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [ ] add dependency to kotest in misc/atrium-specs/build.gradle.kts
- [ ] rewrite at

[2022-10-05 19:18] robstoll opened #1197 "migrate TextSpec from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [ ] add dependency to kotest in misc/atrium-specs/build.gradle.kts
- [ ] rewrite at

[2022-10-05 19:19] robstoll opened #1198 "migrate KClassCastTest from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [ ] add dependency for the js paltform to kotest in misc/atrium-specs/build.gradle.

[2022-10-05 19:21] robstoll opened #1199 "migrate KClassFullNameTest from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [ ] add dependency to kotest to the js platform in misc/atrium-specs/build.gradle.k

[2022-10-05 19:22] robstoll opened #1200 "migrate StringFormatTest from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [ ] add dependency for the js paltform to kotest in misc/atrium-specs/build.gradle.

[2022-10-05 19:24] robstoll opened #1201 "migrate AdjustStackSpec from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [ ] add dependency for the js paltform to kotest in misc/atrium-specs/build.gradle.

[2022-10-05 21:00] robstoll opened #1202 "migrate fluent-en_GB SmokeTest from spek to kotest"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
We want to move away from spek as it's future regarding maintenance and development is quite unsure.
As I don't want to loose hierarchical test setup I decided that we go with kotest

Following the things you need to do:

- [ ] add dependency to kotest in misc/atrium-specs/build.gradle.kts
- [ ] rewrite bu

[2022-10-08 11:37] JordanllHarper commented on #709
@robstoll I think I understand what you are asking me to do and I'm still working on this!
However, I'm having some issues importing java standard libraries into the comparableExpectations.kt file for both API's. I can't access the java stdlib from the file and am needing some help with this. Apologies for this!

[2022-10-08 18:17] robstoll commented on #709
@JordanllHarper no worries, can you please push your changes and create a WIP PR (a draft). It's way easier to help with setting your code

[2022-10-08 19:30] DakshSuryavanshi commented on #1159
hello @robstoll just needed a confirmation, you basically want is that to change the extension of the file and solve the errors.
and finally convert groovy to kotlin.

[2022-10-09 06:04] Dark-Knight11 commented on #1202
I'll work on this

[2022-10-09 16:44] robstoll commented on #1159
@DakshSuryavanshiyou got it right. solving errors and migrate from groovy to kotlin is the same in this case. I don't think you need to read a lot of groovy stuff. Change the file extension and see what errors remain, the IDE will help you as well.

[2022-10-09 19:14] maxslimb commented on #1201
i'll work on this

[2022-10-13 14:28] #709 closed

[2022-10-16 14:51] jakubriegel commented on #724
Hi! I'll do it

[2022-10-16 19:41] robstoll commented on #724
@jakubriegel thanks but this isn't an easy one and I will tackle it myself in the context of another change. Please focus on another issue of you want to support Atrium

[2022-10-16 19:42] robstoll opened #1206 "Update gradle in sample projects"
*Platform* (all, jvm, js): all
*Extension* (none, kotlin 1.3): none

## Code related feature
Update the gradle wrapper in /samples/... projects.

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over.
  This way we get the chance to revise the description in case things have changed in the meantime, we might give you additional hints and we can

[2022-10-18 09:25] Dark-Knight11 commented on #1200
I'll work on this

[2022-10-18 09:25] Dark-Knight11 commented on #1199
I'll work on this

[2022-10-18 09:25] Dark-Knight11 commented on #1198
I'll work on this

[2022-10-18 09:26] Dark-Knight11 commented on #1197
I'll work on this

[2022-10-18 19:24] #1202 closed

[2022-10-19 14:40] jakubriegel commented on #1206
@robstoll Gradle is on the newest `7.5.1` version in all of sample projects:
[code]
Did you mean to update it all the other projects?

[2022-10-19 14:42] jakubriegel commented on #1159
@DakshSuryavanshi are you still working on that? If not, I can take it

[2022-10-19 14:43] jakubriegel commented on #1206
Gradle releases page: https://gradle.org/releases/

[2022-10-19 14:47] jakubriegel commented on #1196
I'll work on this

[2022-10-19 14:47] jakubriegel commented on #1195
I'll work on this

[2022-10-19 15:32] robstoll commented on #1195
@jakubriegel please take one issue at a time. I have already assigned you to one.

[2022-10-19 15:33] robstoll commented on #1206
Oh really. Sorry about that then

[2022-10-19 15:33] #1206 closed

[2022-10-19 15:36] robstoll commented on #1195
Well... I assume you have almost tackled the other one already. So I assign you nonetheless and will unassign you in case you don't deliver 😁

[2022-10-19 19:27] #1196 closed

[2022-10-19 19:43] robstoll commented on #1199
we are using kotlin.test here, nothing to migrate. Sorry for the confusion

[2022-10-19 19:43] #1199 closed

[2022-10-19 19:43] #1198 closed

[2022-10-19 19:43] robstoll commented on #1200
we are using kotlin.test here, nothing to migrate. Sorry for the confusion

[2022-10-19 19:43] #1200 closed

[2022-10-19 20:02] #1195 closed

[2022-10-19 20:04] robstoll commented on #1159
@jakubriegel IMO you can start with this, @DakshSuryavanshi can still try to come up with a PR on their own for learning purposes

[2022-10-19 20:09] #1197 closed

[2022-10-19 20:11] jakubriegel commented on #1159
Cool 🚀 I'll make a PR in 2-3 days

[2022-10-20 05:41] maxslimb commented on #1194
What does include do in DescriptiveWithBasedOnSubjectSpec.kt ?

[2022-10-20 07:18] robstoll commented on #1194
Include another spec which is run as well in the current spec

[2022-10-21 13:12] #1159 closed

[2022-10-22 13:00] jakubriegel commented on #459
@robstoll is this still relevant?

[2022-10-22 19:48] robstoll commented on #459
@jakubriegel it still is in the sense of that one has to write the following
[code]
or
[code]
instead of
[code]
As we can see from the votes, this is not really something people are bothered with that much because there is a good workaround I guess (if you disagree, then please up-vote this issue with a :+1: reaction on the description).
Nevertheless, if you would like to tackle it, then go ahead.

[2022-10-26 14:55] jakubriegel commented on #1194
I'll work on this

[2022-10-26 19:14] robstoll opened #1234 "Kotlin bug Result unwrapping affects Atrium"
### Affected Version

0.18.0

### API

fluent-en_GB, infix-en_GB

### Platform

jvm

### Kotlin Version

1.4

### How to reproduce the problem?

[code]
=> is success

### Describe the bug

See https://youtrack.jetbrains.com/issue/KT-50974 => fix is only provided in Kotlin 1.6.20

### Expected behaviour

We want that people working with Kotlin 1.4.x and 1.5.x are not affected by this Kotlin bug.
Th

[2022-10-27 20:37] jakubriegel commented on #1194
@robstoll I guess that now everything should use `FunSpec`, right?

[2022-10-29 13:57] robstoll commented on #1194
@jakubriegel yes

[2022-11-01 12:58] JordanllHarper commented on #1234
I would be interested in taking this up! Where do I need to be working in and is there any resources you can send to me to help get me started?

[2022-11-01 16:02] robstoll commented on #1201
@Dark-Knight11 as you implemented this issue, you can leave a message here if you want, this way I am able to assign it to you

[2022-11-01 16:06] robstoll commented on #1234
The workaround needs to be implemented in DefaultResultAssertions:
https://github.com/robstoll/atrium/blob/190ea55406ee4bb463b19d973beb8467dee08392/logic/extensions/atrium-logic-kotlin_1_3/src/commonMain/kotlin/ch/tutteli/atrium/logic/kotlin_1_3/impl/DefaultResultAssertions.kt#L37

[2022-11-01 18:00] Dark-Knight11 commented on #1201
Sure

[2022-11-01 18:01] Dark-Knight11 commented on #1201
Refer to #1233 for this issue

[2022-11-01 19:47] #1201 closed

[2022-11-01 19:50] #1194 closed

[2022-11-09 11:32] JordanllHarper commented on #1234
Thanks for the info. I am still working on this, and I'm wondering how I might go about accessing the Result Kotlin provides for checking IsSuccess?
Also is doing a simple if comparison on the maybe subjects enough for comparing or is there anything else I need to access?

Apologies if these are trivial questions, just trying to figure this out!

[2022-11-10 06:07] robstoll commented on #1234
@JordanllHarper it is enough if you compare `container.maybeSubject` with `this.exceptionOrNull` in a simple if. In case you have never worked with a Option like type, you first need to map and then you can use getOrElse null.
if container.maybeSubject returns an exception but this.exceptionOrNull does not then we need to adjust.