[2017-12-03 10:59] raniejade opened #4 "Multiplatform support"
Any plans to support other platforms (JS, etc ...)?

[2017-12-03 11:05] raniejade opened #5 "Why a separate slack workspace?"
I think for better adoption, just create an `atrium` channel in `kotlinlang.slack.com`.

[2017-12-03 11:16] robstoll commented on #5
You're right, I was not aware of that I am allowed to create my own channels in kotlinlang.slack.com. I will do that.

[2017-12-03 11:36] robstoll commented on #5
Links are updated, thanks for your contribution

[2017-12-03 11:36] #5 closed

[2017-12-03 11:45] robstoll commented on #4
I am not using Kotlin for JS projects so far and I don't have a project in the pipeline where I would consider using it. Hence it is not a use case for me and thus not on my roadmap. Would you have a use case for it?

[2017-12-05 23:00] casz commented on #4
Atrium combined with Spek would be super awesome. I think that's mainly why rani is asking 👍

Just want to say thanks for this awesome assertion lib 💜

[2017-12-06 08:05] robstoll commented on #4
@casz thanks for your feedback. You mean for JS right? You can use Atrium with Spek on JVM already today.

[2017-12-06 10:30] casz commented on #4
Yes for JS it would be great for too :)

[2017-12-06 11:36] raniejade commented on #4
There's not much option for multiplatform assertion libraries. `kotlin-test` is there but integrating test framework just to use its assertion libraries is wasteful.

[2017-12-06 20:10] robstoll commented on #4
I totally agree that using kotlin-test just for the assertion functions is an overkill. I will look into it but I need a project where I could try it out. Do you (or anybody) have a Kotlin-JS project at hand (so that I can fork it) where you would like to use Atrium?

[2017-12-21 18:14] oleksiyp opened #8 "Mocking framework"
Hi,

hope find you well with this cold call.

I am an author of [mocking framework for Kotlin](http://mockk.io)

I see you are using mockito-kotlin.

I just want you to be aware that there is solution that fully supports Kotlin and ask to try it in your new/current projects.

I can help you if you answer to this issue.

Thanks and please star [it](https://github.com/oleksiyp/mockk)

[2017-12-22 08:28] robstoll commented on #8
Heya, I am using mockito-kotlin but very seldom and I do not have a need for another mocking library at the moment. I might come back if mockito-kotlin has a missing feature which your library provides.

Have a look at Atrium in case you should not know it (it's an assertion library). I plan to integrate mockito-kotlin such that it appears in the report as well (as other assertion functions).
If y

[2017-12-22 10:24] oleksiyp commented on #8
I am using assertk, but didnt know about atrium. Surely Im interested in integration. Let me know the details.

[2017-12-22 17:31] robstoll commented on #8
I'll come back to you once I am at the point of integrating a mocking library. In the mean time, have a look at Atrium, maybe you get a taste for it ;)

[2017-12-22 17:31] #8 closed

[2018-01-13 21:33] robstoll opened #9 "extend TranslatorIntSpec with Locale using a Variant"
The TranslatorIntSpec does not cover the use case where a `Locale` has a Variant specified (for instance:
en_UK_LINUX).

I guess it is a good starting point to get a bit familiar with the i18n topic in Atrium

[2018-01-13 21:40] robstoll opened #10 "add Assert<Map>.isEmpty()"
So far Atrium does not support any assertion functions for Map it would be nice to have at least the basic function isEmpty.
I think it is a good starting point to see how Atrium supports multiple APIs.
The tasks of this issue are:
- add the function to atrium-assertion (as impl-function, see [README](https://github.com/robstoll/atrium#api-in-a-different-language))
  - add the DescriptionMapAssert

[2018-01-23 19:53] robstoll opened #11 "contains fun and builders for Array"
So far one has to use `asIterable` when it comes to `Array`.
Add corresponding extension functions for `Array<out T>` which delegate to the `Iterable<T>` by using `asIterable` internally.
I think it is an easy starting point to see how Atrium supports multiple APIs.
The tasks of this issue are:
- copy `iterableAssertions.kt` in atrium-api-cc-en_UK and paste it as `arrayAssertions.kt`
  - replace `

[2018-01-23 19:57] robstoll opened #12 "contains fun and builders for Sequence"
So far one has to use `asIterable` when it comes to `Sequence`.
Add corresponding extension functions for `Sequence<T>` which delegate to the implementation of `Iterable<T>` by using `asIterable` internally.
I think it is an easy starting point to see how Atrium supports multiple APIs.
The tasks of this issue are:
- copy `iterableAssertions.kt` in atrium-api-cc-en_UK and paste it as `sequenceAsser

[2018-01-24 13:19] ddmytrenko opened #13 "Artifact name in Bintray's jCenter repository"
Can you please fix the artifact names on your Bintray?

*Affected Version*:    `0.4.0` and newer

It was "`atrium-api`" before. But today I had to spent some time to figure
out why Gradle cannot find `'ch.tutteli:atrium-api:0.6.0'` dependency

Best regards!

Thanks for the lib!

[2018-01-24 14:43] robstoll commented on #13
@ddmytrenko Thanks for your feedback, I introduced multiple APIs starting with 0.4.0: https://github.com/robstoll/atrium/releases/tag/v0.4.0

I was not even aware of that someone is using an older versions, good to know :)
You have the choice, either depend on a bundle module:
[code]
which internally defines the remaining dependencies (see https://github.com/robstoll/atrium/blob/master/bundles/atr

[2018-01-25 02:22] philipsdoctor commented on #11
I took a swing at this for an hour.  The problems start with "Upper bound of a type parameter cannot be an array"
[code]

It spirals from there, I tried a few times with eliminating the bounding of T as something like:

[code]
This ended up breaking down when I tried writing a test and got a slew of type inference failed, I think I literally need to

[code]
And repeat that exercise for all of the

[2018-01-25 06:00] robstoll commented on #11
First of all, thank you very much for spending time to improve atrium :+1:

Interesting, I wasn't aware of that one, but I think your next step was good.

I see now, that I should have give a further hint about `Array<out T>` and the implementation for primitive types. `FloatArray` isn't a subtype of `Array<out Float>` or `Array<Float>`, it is a completely different type, which mimicks `float[]`.

[2018-01-25 14:47] robstoll commented on #13
I guess the problem is solved with the above comment. If not or you need further informatin, then please let me know it by adding an additional comment

[2018-01-25 14:47] #13 closed

[2018-01-25 14:52] ddmytrenko commented on #13
@robstoll
Thanks, yeah the "problem" is solved ;)
It was my bad. I did not mention that change.

[2018-03-05 17:50] #10 closed

[2018-03-17 22:03] robstoll commented on #4
@raniejade I have an own use case now and I could start working on this issue in v0.8.0. However, I am using spek 1.x which does not yet support multi-platform. Therefore I will wait until 2.x is out

[2018-03-17 22:15] raniejade commented on #4
@robstoll Initial release for `2.x` won't support multiplatform yet, what we aim for the initial release is parity and re-structuring the codebase to support it. The biggest blocker for JS support is discovery, just recently discovered that the KotlinJS compiler does some special transformation to your code so kotlin-test can work on JS.

[2018-03-29 09:14] robstoll opened #14 "Message of Exception not shown if different type than the expected one"
*Affected Version*:    0.6.0

## How to reproduce the problem
Consider the following code snippet
[code]
We will only see that the actual thrown Throwable was of type `RuntimeException` and not `IllegalArgumentException` as expected. In such cases it would be good to see the message of the exception because we cannot make the sub-assertion about message since the down-cast to IllegalArgumentExcept

[2018-03-29 09:15] robstoll commented on #14
Was fixed with commit b8139431d7b7208a686397c64c06ffb396aa4a40

[2018-03-29 09:15] #14 closed

[2018-03-29 09:20] robstoll opened #15 "Nested feature-assertion, forbid usage of outer subject"
*Affected Version*:    0.6.0

## How to reproduce the problem
Consider the following code snippet
[code]
One should not be able to call `startsWith` within the second `property` block because `length` is of type `int` whereas `startsWith` refers to the outer `subject`.

[2018-03-29 09:21] robstoll commented on #15
Was fixed with 97fecc6d78fede0244bd47d0a093c41bad095ce8

[2018-03-29 09:21] #15 closed

[2018-03-29 09:28] robstoll opened #16 "PlantHasNoSubjectException in case of missing exception message"
*Affected Version*:    0.6.0

## How to reproduce the problem
Consider the following code snippet
[code]
The problem is that creating assertions is sometimes done lazily (so that it isn't done if a previous assertion assertion fails, improves performance). However, if we collect assertions, then we have to provoke the computation otherwise we get the PlantHasNoSubjectException at a later stage whi

[2018-03-29 10:45] #16 closed

[2018-03-29 14:56] robstoll opened #17 "Include actual size for hasSize"
*Affected Version*:    0.6.0

## How to reproduce the problem
Consider the following code snippet
[code]
It is very cumbersome if we do not see what the actual size is but have to count it by ourself.

[2018-03-29 18:57] #17 closed

[2018-03-31 16:01] dgoetsch opened #18 "Build Script references java 7 and java 9"
I saw a comment by you in stack overflow, not enough reputation to comment..

I noticed your build script references java 7 and java 9. If it isn't a bug, could you write a comment explaining why?

[2018-04-02 20:50] robstoll commented on #18
My target is java 7 but I include a proper module-info.java so that users using jdk9 can already get it right --- rather than providing an automatic-module now and jdk9 users might have to fix things when I switch to jdk9 entirely. So, when I release my project I compile the module-info.java to *.class with jdk9 and then compile kotlin code with the kotlin compiler to jdk7 (might be that it is eve

[2018-04-02 20:50] #18 closed

[2018-05-12 18:42] robstoll opened #20 "expect `Iterable<T: Any>` to contain `null`"
*Affected Version*:    0.6.0

## How to reproduce the problem
Consider the following code snippet
[code]

One should not even be able to assert that a list of`Int` contains `null`. The same problem applies to other `contains` assertion for Iterable

[2018-05-27 21:40] #20 closed

[2018-06-04 20:39] robstoll opened #21 "Charsequence contains empty string ends in endless loop"
*Affected Version*:    0.6.0

## How to reproduce the problem
Consider the following code snippet
[code]

We should throw an `IllegalArgumentException` for an empty string

[2018-06-06 20:49] robstoll opened #22 "Iterable contains in any order values create multiple assertions instead of sub-assertions"
*Affected Version*:  0.6.0

## How to reproduce the problem
Consider the following code snippet
[code]
Results in:
[code]
Whereas it should result in the following (the user has defined both in the same assertion):
[code]

[2018-06-07 18:34] robstoll commented on #22
Same problem also applies to CharSequence contains

[2018-06-08 08:54] #22 closed

[2018-06-09 14:46] robstoll opened #23 "CharSequence contains.regex should mention regex in reporting"
*Affected Version*:    0.6.0

## How to reproduce the problem
Consider the following code snippet
[code]
The output is:
[code]
We can assume that one searched with the help of a regex but we cannot be sure. It would be better if the output states something like `contains value matching regex`

[2018-06-09 16:16] #21 closed

[2018-06-09 16:16] #23 closed

[2018-06-14 08:58] robstoll commented on #11
@philipsdoctor I came to the conclusion that you are right. It is not worth copying functions, it would be a maintenance nightmare. Atrium 0.7.0 will provide an `asIterable()` function for Arrays.

[2018-06-16 10:10] robstoll opened #24 "Hint if `Iterable.contains in any order only` fails due to first win"
`contains in any order only` applies a first win strategy regarding the given identification lambdas.
A user which is not aware of this fact might struggle for a moment. The corresponding functions contain a hint in KDoc but not everybody reads KDoc (and sometimes IntelliJ has problems). Thus it would be great if the user gets an extra hint instead or rather in addition if the assertion would have

[2018-06-16 14:26] robstoll opened #25 "keyValue to match Map.Entry"
Provide a shortcut function which matches key and value of a `Map.Entry`.
Make sure both (key and value) are reported if there is a mismatch

[2018-06-16 18:17] #11 closed

[2018-06-16 18:17] #12 closed

[2018-06-16 21:07] robstoll opened #26 "Make AssertionPlant an alias of Assert => introduce Expect"
*Affected Version*: 0.7.0

## How to reproduce the problem
[code]
Since `Assert` is currently a type alias of `AssertionPlant` we always see `/* AssertionPlant */` in the signature where `Assert<T>.() -> Unit` is expected. That's quite annoying and also confusing for new users.

*obsolete* (here for traceability)

I decided to introduce a replacement for Assert and AssertionPlant named `Expect`. I

[2018-06-17 09:33] robstoll commented on #26
Has to wait until 1.0.0 because it constitutes a breaking change. JVM does not know the typealias and return type `AssertionPlant` vs. `Assert` is something completely different on byte code level.

[2018-06-19 22:03] robstoll commented on #4
I am working on this. Atrium will be turned into a multi platform project with v0.8.0

[2018-07-03 02:36] robstoll opened #27 "rename containsStrictly to containsExactly"
@msmoljan is working on this one
---
*Affected Version*:  <= 0.7.0

## How to reproduce the problem
Consider the following code snippet
[code]

The name containsStrictly does not really tell something. One might have a very vague guess but I think almost everyone will read the docs to know what containsStrictly does. That's suboptimal in the sense that a method which tells what it does is better.

[2018-07-03 03:21] robstoll opened #28 "containsKey for Map"
@uaArsen is working on this one
---
shortcut for
[code]

It is enough if you add it to (don't add to UK)
- api-cc-en_GB-common
- api-infix-cc-en_GB-common
- api-cc-de_CH-common -- name it enthaeltKey

[2018-07-03 03:32] robstoll opened #29 "shortcut fun `get` for Map"
shortcut for
[code]

It is enough if you add it to
- api-cc-en_GB-common
- api-infix-cc-en_GB-common
- api-cc-de_CH-common

[2018-07-03 03:34] robstoll opened #30 "shortcut fun `get` for List"
shortcut for
[code]

It is enough if you add it to the following APIs (create a new file called listAssertions):
- api-cc-en_GB-common
- api-infix-cc-en_GB-common
- api-cc-de_CH-common

[2018-07-03 03:57] robstoll opened #31 "shortcut fun `cause` for Throwable::getCause"
*Platform* (JVM, JS and/or Android): jall

## Code related feature
[code]
Following the things you need to do:

*lib*
- implement _cause in throwableAssertions (similar to _isThrowing in fun0Assertions.kt)

*domain*
- add `cause` to ThrowableAssertions (see Fun0Assertions.isThrowing)
- modify ThrowableAssertionsBuilder, delegate to throwableAssertions (see ListAssertionsBuilder as a guideline)
- d

[2018-07-03 04:06] robstoll opened #32 "shortcut fun `suppressed` for Throwable::getSuppressed"
Platform (JVM, JS, Android): only JVM/Android (JS does not have getSuppressed)

shortcut for
[code]
We want two versions, a `val` which returns `Assert<Array<out Throwable>>` and a fun which takes an assertionCreator lambda as argument and allows users to define sub-assertions.

It is enough if you add it to the following APIs (create a new file with name throwableJvmAssertions.kt)
- api-cc-en_GB-

[2018-07-03 20:53] robstoll opened #33 "isNotBlank for CharSequence"
pt2121 is working on this one
----

shortcut for
[code]

It is enough if you add it to
- api-cc-en_GB-common
- api-infix-cc-en_GB-common
- api-cc-de_CH-common

[2018-07-03 21:24] robstoll opened #34 "overloaded `toContain` for Set"
We currently share the logic for all Iterable when it comes to `toContain`. However, we could provide a faster implementation for contains values because there will never be more than 1 value in a Set and thus it does not make sense to list how many occurrences we found.
The same does not apply to the overload expecting one or multiple assertionCreator (`Expect<E>.() -> Unit`).
Hence:
- overload `

[2018-07-03 21:35] robstoll opened #35 "asKeys for Map"
@arjank is working on this one
---
function which switches the subject of the assertion (similar to the existing `asIterable` for Sequence or Array)
Simplification of:
[code]

It is enough if you add it to the following (do not add it to en_UK..)
- api-cc-en_GB-common
- api-infix-cc-en_GB-common
- api-cc-de_CH-common

[2018-07-03 21:37] robstoll opened #36 "asValues for Map"
@arjank is working on this one
---
function which switches the subject of the assertion (similar to the existing `asIterable` for Sequence or Array)
Simplification of:
[code]

It is enough if you add it to the following (do not add it to en_UK..)
- api-cc-en_GB-common
- api-infix-cc-en_GB-common
- api-cc-de_CH-common (name it also `asValues`)

[2018-07-03 21:40] robstoll opened #37 "asEntries for Map"
@arjank is working on this one
---
function which switches the subject of the assertion (similar to the existing `asIterable` for Sequence or Array)
Simplification of:
[code]

It is enough if you add it to the following (do not add it to en_UK..)
- api-cc-en_GB-common
- api-infix-cc-en_GB-common
- api-cc-de_CH-common (name it also `asEntries`)

[2018-07-19 13:04] robstoll opened #39 "make atLeast(1) optional/default for CharSequence.contains"
*Platform* (JVM and/or JS): JVM and JS

## Code related feature
[code]
Currently one has to specify the option concerning the number of occurrences always, so as follows:
[code]
leaving it out implies `atLeast(1)` IMO and thus we could make it optional.

[2018-07-19 14:19] robstoll opened #40 "replace `property` and returnValueOf with `feature` or similar"
*Platform* (JVM and/or JS): JVM/JS

## Code related feature
setup
[code]
feature as such
[code]

We could furthermore consider to add `featureRef` as alternative where one can use a bounded reference:
[code]
Yet, considering the problems we still encounter due to Kotlins problems with overloads involving KFunction types, I am not sure if it is really a good idea to allow bounded reference.

Altern

[2018-07-23 17:44] robstoll opened #41 "deprecate `notToBeNullBut` for BigDecimal"
*Platform* (JVM and/or JS): JVM

## Code related feature
[code]
we overloaded `toBe` for BigDecimal but not `notToBeNullBut` we should do it as well to prevent failures.

[2018-08-31 11:06] robstoll opened #42 "Turn deprecated overloads which throw PleaseReplace into error"
*Platform* (JVM and/or JS): JVM/JS

## Code related feature
[code]
`toBe` is deprecated and if one keeps the method then it throws a PleaseReplaceException. I was not aware of that one can turn deprecation also into an error with the help of `level = DeprecationLevel.ERROR` in the `@Deprecated` annotation.

[2018-10-07 16:51] msmoljan commented on #27
Hi, I'd like to take this one over.

[2018-10-07 18:04] robstoll commented on #27
Cool that you want to resolve this issue. Let me know if you need more information.

[2018-10-07 19:34] msmoljan commented on #27
Will do! :+1:

[2018-10-11 08:31] #33 closed

[2018-10-15 05:14] robstoll opened #45 "assertion function for Json"
*Platform* (JVM and/or JS): JVM/JS

## Code related feature
Yet to be defined how it should look like and how it should behave.
Following a suggestion:
[code]
Where it normally should not matter in which order the properties appear. However, I am not sure how we should treat data which we did not expect (`val` in the above example).
Ideas are welcome

[2018-10-15 05:37] robstoll commented on #45
Another use case is comparing a json against a predefined json:
[code]
Meaning we could parse the `expectedJson` and turn it into the above assertions. In such a case we would certainly want that it fails if there is unexpected data.
In case someone needs the data to be in order, then one could use:
[code]

I guess failing if there is unexpected data should also be the normal case for `isJson {}`

[2018-10-15 05:39] robstoll commented on #45
Maybe we should shorten the syntax and use `p` instead of `property` so that it resembles closer a json structure?

[2018-10-15 05:46] keturn commented on #45
Another way to think about `ignoreUnexpectedProperties` might be something like "contains".

[2018-10-15 05:55] robstoll commented on #45
Makes sense if you don't compare against another json. Yet, how would you define on which level it can occur? In the sense of, would
[code]
hold if we have `{ obj: { a: "b" }}`?
Or how would you expect the syntax looks like?

[2018-10-15 07:08] robstoll commented on #45
A few other edge cases we have to define:
- what if a json defines a property multiple times -> I suggest we fail as well
- what if the json is invalid -> I suggest we fail as well
-

[2018-10-15 07:13] robstoll commented on #45
And naming needs a decision, I saw that others use `key` instead of `property` (in the sense of key/value) and the ECMA standard refers to it as `name`. What should we use?

[2018-10-17 17:47] robstoll commented on #45
I guess something like using JsonPath to select a value/obj/array and make an assertion could be handy as well. No need to support that from the start though, if someone should need it "immediately" then let me know it.

[2018-10-18 02:51] dave08 commented on #45
JsonPath just wouldn't conform with the DSL and is not an assertion language but rather a retreival language... if JsonArray is treated like a List and JsonObject like a map, then regular assertions could be made on its structure. This would be easier to maintain, as all it would need is initial parsing that I suppose most platforms already have in some form or other... what would jsonpath add to

[2018-10-18 06:40] robstoll commented on #45
I would use JsonPath for retrieval, it could make assertions more readable in certain cases. Following an example:
[code]
This would collect all authors of books and one could make an assertion about them. Of course, one could also do the retrieval beforehand and then assert on the resulting list. This is one of the reasons why this is a low prio feature and I will not add it at the beginning.

[2018-10-19 12:56] robstoll opened #46 "improve infix API in lambdas workaround this limiation"
*Platform* (JVM and/or JS): JMV/JS

## Code related feature
Currently we can do
[code]
It is a bit ugly and it does not really read nicely. I think we could enhance on this one by adding a property with name `o`:
[code]
And then it reads as follows:
[code]
which looks more like bullet points IMO

[2018-10-21 12:46] robstoll opened #47 "shortcut for Optional.isEmpty"
*Platform* (JVM and/or JS): JVM (only jdk8)

## Code related feature
[code]
However in reporting we want to see
[code]
and not
[code]
Following the things you need to do:

*domain*
-:heavy_check_mark: everything is already setup for you (see OptionalAssertions, OptionalAssertionsBuilder and OptionalAssertionsImpl)

*lib*
- implement _isEmpty

*api*
- :heavy_check_mark: isEmpty is already added
- a

[2018-10-21 15:45] robstoll opened #48 "asIterable with assertionCreator block"
*Platform* (JVM and/or JS): JVM/JS

## Code related feature
[code]
Currently we can only do
[code]

Hence, add an overload which expects: `assertionCreator: Assert<Iterable<T>>.() -> Unit`

[2018-10-26 07:47] robstoll commented on #25
Pull request #49 showed that it would make sense to provide an overload for `Pair` (thanks @arjank for the implicit feedback :slightly_smiling_face:). So that instead of
[code]
one can write
[code]
I think that would be more idiomatic.

[2018-10-26 13:07] #35 closed

[2018-10-26 13:07] #36 closed

[2018-10-26 13:08] #37 closed

[2018-10-30 20:30] robstoll opened #50 "Filter stack trace in reporting"
*Platform* (JVM and/or JS): JVM/JS

## Code related feature
Most of the times, I am not interested in the full stack trace if a test fails. We could omit the stack trace all together but that would be too much, because:
- I want to see the stack trace if an unexpected exception occurred.
- If one defines more than one assertion per test (which is not recommended but I guess people do it) and depen

[2018-11-01 08:52] robstoll opened #51 "keys and values for Map"
*Platform* (JVM and/or JS): JVM/JS

## Code related feature
[code]
We already have ` asKey`  and `asValues` but I came to the conclusion that they don't make sense (only ` asEntries`  make sense). Or at least it is confusing in error reporting if you see something like:
[code]

[2018-11-20 16:29] ultraon opened #52 "Atrium v0.7.0 java 7 and java 9 compile issue with module-info.java for Android Instrumentation Tests"
*Affected Version*: 0.7.0
*Platform* (JVM or JS): JVM (Android/Art/Dalvik)

## How to reproduce the problem
try to run `./gradlew :app:assembleDebugAndroidTest`
There is compile issue.
[code]

## Describe the bug
When I updated Atrium version to 0.7.0 it doesn't work anymore for Android specific (Instrumentation) Tests which runs on the device or emulator. I think the issue with D8 (https://develo

[2018-11-20 16:36] robstoll commented on #52
Thanks for your report. Do you have a public project by chance so that I can easier reproduce the error?

[2018-11-20 17:01] robstoll commented on #52
You say it works on the JVM. What version are you using there, JDK 7?

[2018-11-20 17:52] ultraon commented on #52
@robstoll Unfortunately I work in private repository, and can't share the project (NDA).
I use JDK8.

[2018-11-20 18:18] robstoll commented on #52
That's a pity. I'll create a 0.7.0 jar without module-info.class and will let you know when it is published. Let's see if this is really the problem.

[2018-11-20 19:01] ultraon commented on #52
I dive a little bit, and I think the issue is in your root build.gradle, lines:
[code]
So compiled class files are incompatible with Java8.

[2018-11-20 19:14] ultraon commented on #52
Also I can provide additional debug information of this issue.
Android Gradle properties:
minSdkVersion 21
targetSdkVersion 28
Proguard was disabled

Detailed stacktrace of compile error:
[code]

[2018-11-20 20:46] robstoll commented on #52
Thanks for the additional information.

That's only for compiling the module-info.java. As far as I know module-info.java was not back-ported to jdk8 that's why I have to do it this why. Or is it back-ported by now? The kotlin code compiles to jdk6, so there we should be fine. CI runs against JDK 8, 9 and 10 (time to add 11 now :wink:) I think we are on the save side for jdk 8 and onward. However,

[2018-11-21 15:39] ultraon commented on #52
I've dived deeper, and got some additional results:
1. When I disabled Android D8 compiler (class -> dex files) it is compiled successfully, but for this case I needed to use one of the latter Android OS (I tried with Android 8) versions which support Java8 natively. Any way, I couldn't run instrumentation unit tests on the device (the Android JUnit Runner couldn't see Suit Cases), but app run suc

[2018-11-21 17:55] ultraon commented on #52
@robstoll Thank you very much for your time! Could you please tell me, what is it good for to use java method name `contains?` (you apply in Kotlin `@JvmName("contains?")`)?

[2018-11-21 19:59] robstoll commented on #52
I have pushed a fix to the branch `v0.7.0-android`. Can you please build it locally as follows and try out if the error still exists:
1. `git clone --single-branch -b v0.7.0-android https://github.com/robstoll/atrium.git atrium-android`
2. `cd atrium-android`
3. `./gr publishToMavenLocal`

Change the dependency in your gradle to `testCompile "ch.tutteli.atrium:atrium-cc-en_GB-robstoll:0.7.0-androi

[2018-11-21 21:37] ultraon commented on #52
Thanks, I'll try to assemble project tomorrow with v0.7.0-android.

Not sure if I'm in a context, I found this https://stackoverflow.com/questions/39157422/how-to-enable-tls-1-2-in-java-7 , does it make sense to apply?

Regarding to `Kotlin requires jdk8`, I build project with jdk8 (OpenJdk8) it is not an issue, because compiled classes are DEXed with D8 and desugared (I mentioned it above). And a

[2018-11-22 06:17] robstoll commented on #52
Sorry, I see that my last comment was more confusing than helpful.
Tl;dr => you should be fine building Atrium with jdk 8. No extra set up needed. Btw. if you build Atrium with JDK 8, then no module-info will be included. If you build it with 9 or newer, then it will be include. I hope module-info is not the problem, otherwise I need to patch a dependency as well. We will see...

I'll try to expla

[2018-11-23 16:41] ultraon commented on #52
Hey @robstoll ! Thanks for you help at first!
So I experimented a lot and have the results/report as follows:
1. The provided solution with `0.7.0-android` version doesn't work as well.
[code]
I collected resolved gradle dependencies:
Resolved dependencies in gralde:
[code]

Is it the issue "ch.tutteli.kbox:kbox:0.9.0 (*)"?
        I also tried with version 0.8.1, 0.10.0, 0.11.1, and only with 0.1

[2018-11-23 17:52] ultraon commented on #52
Thank you very much! Will try it.

[2018-11-24 23:31] robstoll commented on #52
@ultraon I am not sure yet how I am going to publish the fix (what name etc.). In the meantime you can update the `v0.7.0-android` branch, I have patched kbox and updated the dependency accordingly.

[2018-11-25 18:14] robstoll commented on #52
I have published the version `0.7.0-android-alpha` of Atrium. You can retrieve it from bintray and jcenter as usual. Please try it out and let me know if you still have problems, if not, then I will publish `0.7.0-android`.

[2018-11-29 14:09] ultraon commented on #52
@robstoll I checked `0.7.0-android-alpha` and it works as charm!
Thank you very much! I'm looking forward for `0.7.0-android` release.

[2018-11-29 18:20] robstoll commented on #52
`0.7.0-android` is published. Thank you for reporting the issue. And let me know in case you have further issues regarding android or if you miss android specific assertion functions.

[2018-11-29 18:20] #52 closed

[2018-12-11 16:17] robstoll opened #53 "notToThrow"
I think it makes sense to provide such a functionality in order that one can make it explicit. Moreover we can report more than usual. For instance:
- we can report suppressed exceptions. (they are actually already included in the stacktrace which gets printed)
- JS does not include the cause in a stacktrace (at least not the one mocha produces)

Last but not least it would be interesting to use i

[2018-12-28 12:27] robstoll opened #54 "rename api and bundles, exchange cc and remove -robstoll"
*Platform* (JVM and/or JS): all

I think we should use simpler names for the bundles:
1. I guess we can remove `-robstoll` from the name. It suffices to mention that the standard implementation uses core-robstoll and domain-robstoll.
2. Maybe we should get rid of `cc` which is rather cryptic and exchange it with `fluent` in case of `cc-en_GB` and remove it entirely for `infix`. This way we get `at

[2018-12-28 13:10] robstoll commented on #4
implemented, will be available with the release of 0.8.0

[2018-12-28 13:10] #4 closed

[2018-12-28 13:11] robstoll commented on #27
@msmoljan Do you need any help with this one? I plan to release 0.8.0 in January

[2018-12-28 13:13] robstoll commented on #50
Atrium throws now an AtriumError (a subclass of AssertionError) and provides a AtriumErrorAdjuster which filters the stack as desired (currently with option, no-filtering, filter test runners and/or filter Atrium stack frames).

[2018-12-28 13:13] #50 closed

[2018-12-28 13:25] robstoll opened #55 "infix: deprecate toBe if one passes keywords"
*Platform* (JVM and/or JS): all

## Code related feature
[code]
One might not be aware of that the call of `returnsNotACollectoin()` does not return a collection.
The code compiles because `toBe` currently allows that one can compare any objects with each other.
It would be nicer if the user gets already a hint during compile time and not only at runtime.

same for `notToBe Empty`

[2018-12-28 15:25] #55 closed, assigned to robstoll

[2018-12-28 16:25] robstoll opened #56 "Expect<T>.toBe, contains etc. should only accept T and not Any"
*Platform* (JVM and/or JS): all

## Code related feature
[code]
IMO this should result in three compile errors. Yet, it does not because the compiler falls back to type the left hand side of `contains` as `Assert<Iterable<Any>>`. Maybe we could improve the situation by using @OnlyInputTypes. This would require some trickery because it is not officially supported and might cause problems in the fut

[2018-12-28 19:20] robstoll commented on #51
fixed with eb6a5fa

[2018-12-28 19:20] #51 closed

[2018-12-28 19:21] robstoll commented on #41
fixed with cef74ef

[2018-12-28 19:21] #41 closed

[2018-12-29 13:11] msmoljan commented on #27
Hi @robstoll,

I added the updated methods but didn't get around to update the tests. I'm on a trip until Monday and should be able to wrap it up in the first week of January (if that's not too late).

Meanwhile, I created a WIP PR so you can already review the existing changes. It would be of great help if you could throw a quick look and tell me if this is implemented according to your expectati

[2018-12-29 22:04] robstoll commented on #27
That's perfect. I have left you a few comments

[2018-12-31 15:15] robstoll commented on #29
implemented with bb855af

[2018-12-31 15:15] #29 closed

[2018-12-31 16:37] robstoll commented on #36
replaced with #51

[2018-12-31 16:37] robstoll commented on #35
replaced with #51

[2019-01-01 21:17] robstoll commented on #30
implemented with 0d29e15

[2019-01-01 21:17] #30 closed

[2019-01-04 13:50] robstoll commented on #42
I'll keep the level as it is as ERROR makes testing more complicated with only a little gain

[2019-01-04 13:50] #42 closed

[2019-01-04 14:08] robstoll commented on #25
The implementation should differ from Iterable.contains because a Map (similar to Set, see #34) does not have duplicated keys and it does not make sense to count the number of occurrences. It could be implemented based on `getExisting`. Error Reporting would not reflect the `contains` though.

[2019-01-04 16:04] robstoll opened #59 "containsNotKey for Map"
@uaArsen is working on this one
---
*Platform* (JVM and/or JS): all

## Code related feature
Similar to #28 (see #58) but this time we want the opposite, check if a key is not contained in the Map:

It is enough if you add it to (don't add to UK):
- api-cc-en_GB-common
- api-infix-cc-en_GB-common
- api-cc-de_CH-common -- name it enthaeltNichtKey
  => de_CH DescriptionMapAssertions.CONTAINS_NOT_KEY

[2019-01-04 17:01] robstoll commented on #28
implemented with 3bce266 thanks @uaArsen

[2019-01-04 17:01] #28 closed

[2019-01-04 22:11] robstoll opened #60 "deprecate ...Nullable overloads"
The original idea was to: deprecate ...Nullable overloads if subject is non-nullable
I changed the idea to deprecate it always.
<hr/>
*Platform* (JVM and/or JS): all

## Code related feature
For instance:
[code]

[2019-01-06 15:24] robstoll opened #61 "Map.contains with value assertions"
*Platform* (JVM and/or JS): all

## Code related feature
[code]
Ideally we could use Pair but that won't be possible as intended above due to this bug:
https://youtrack.jetbrains.com/issue/KT-29129

Hence, use a helper object something like `KeyValue` (as current workaround, we could go back to Pair later on). This would look like the following:
[code]

[2019-01-06 15:30] robstoll opened #62 "Map.contains by passing Pairs"
*Platform* (JVM and/or JS): all

## Code related feature
[code]
Motivation see #25. I have created a different issue because I decided that keyVale should only be for `Assert<Map.Entry<...>>` and not directly available on `Assert<Map<...>>`

[2019-01-06 15:31] robstoll commented on #62
The implementation should differ from Iterable.contains because a Map (similar to Set, see #34) does not have duplicated keys and it does not make sense to count the number of occurrences. It could be implemented based on `getExisting`. Error Reporting would not reflect the `contains` though. IMO we can reuse the logic from `getExisting` but should reflect `contains` in reporting

[2019-01-06 15:32] robstoll commented on #25
Also provide `key` and `value` as shortcut for:
[code]

[2019-01-06 16:41] #62 closed

[2019-01-06 16:56] robstoll commented on #60
I am not entirely sure if this is a good idea as it pollutes the API. Maybe we should rethink the API instead so that we don't have to distinguish between nullable and non-nullable?

[2019-01-06 17:20] robstoll commented on #56
Another possibility would be to remove `out` from `Assert<out T>`. Has a similar result but does not rely on Kotlin's internals:
[code]
I think this would also solve #60 as assertion functions with  `<T: Any?> Assert<T>` would no longer show up if we have an `<T: Any> Assert<T>`

However, introducing this is a BC break, so we have to wait for 1.0.0

[2019-01-06 19:07] robstoll commented on #60
Rethinking the API has a lot to do with #56 and the following questions:
- should we show to the user via API that he deals with nullable types?
- do we want to prevent that a user can compare a non-nullable type against null?

Let's discuss this based on `assert(mapOf("a" to 1)).containsNullable(null)`. Currently that's possible. If we are going to take `out` away from Assert, then we could remov

[2019-01-06 21:11] #27 closed

[2019-01-08 08:23] #61 closed, assigned to robstoll

[2019-01-08 19:53] robstoll opened #63 "infix `to contain in any order` should be `contains inAnyOrder`"
*Platform* (JVM and/or JS): all

## Code related feature
[code]
I think I have chosen to go with `to contain` since otherwise `contains` is overloaded with `T` and with `inAnyOrder/inOrder` etc. However, thinking about it now I don't think that's too bad (maybe there were other reasons to). Anyway, it does not seem very intuitive to me and I think it would be better if we would start with `contain

[2019-01-08 19:57] robstoll commented on #63
I see the other reason and that was probably the main point why I used `to contain`; it returns `IterableContains.Builder<E, T, NoOpSearchBehaviour>` as do the other APIs (e.g. cc-en_GB when using the `assert(x).contains.`). Nevertheless, from an extension point of view we can skip this step and add the extensions to `Assert<Iterable<T>>` directly. We don't lose anything here but we need to create

[2019-01-09 11:04] #59 closed

[2019-01-12 18:18] robstoll opened #65 "shortcut fun `first` and `second` for Pair"
*Platform* (JVM and/or JS): all

## Code related feature
As for other shortcuts we should provide a `val` which gives access to the property (refines the Assert to the type of the property) and one a `fun` which takes an assertionCreator lambda so that we can use it in a fluent style as in the following example:
[code]
vs:
[code]

[2019-01-12 19:50] #25 closed

[2019-01-12 20:09] robstoll opened #66 "allow to pass single Char to starts(Not)With/ends(Not)With"
*Platform* (JVM, JS, android): all

## Code related feature
check if a CharSequence startsWith/endsWith a certain Char should also be supported next to CharSequence.
[code]

Add overloads to startsWith, startsNotWith, endsWith and endsNotWith in:
- api-fluent-en_GB-common

which expects a `Char` and delegates to the existing function by converting it to a `String`.
(the functions are located in fi

[2019-01-12 20:37] #65 closed

[2019-01-12 20:41] robstoll opened #67 "provide a helper to map arguments of variable length"
*Platform* (JVM and/or JS): all
Intended for assertion function writers. For instance, say we have a class Person as follows:
[code]
Say we have an algorithm which returns a list of firstName and lastName as a `Pair`. Since we deal a lot with `Person` we want to be able to compare the pairs against a variable length of persons, so we write:
[code]
in order that we can use it then as follows:
[code

[2019-01-12 20:45] robstoll commented on #67
We have parameter objects in the infix API to provide `T, vararg T` in one go. I thinks we should add a method in order that those objects can be mapped as well.

[2019-01-12 21:44] robstoll commented on #67
The idea with AssertImpl is a bit overkill as I would need to duplicate all functions especially because we should not only support `Array<out T>` but also the special arrays for primitive types such as `ArrayInt`

[2019-01-15 19:45] #67 closed

[2019-01-15 21:19] #39 closed

[2019-01-19 16:58] #53 closed

[2019-01-19 21:01] #48 closed

[2019-01-20 10:24] robstoll opened #68 "Map containsOnly with pairs"
*Platform* (JVM, JS and/or Android): all

## Code related feature
[code]
Where InAnyOrder is implicit for Maps as they are usually unordered

Currently we can do the following to achieve the same
[code]
Clearly the shortcut is easier to write and read.
Moreover, the reporting could be improved. With `asEntries()... ` it looks as follows (contains `c to 2` and `b to 1`):
[code]
comparing it to `Map

[2019-01-20 12:48] robstoll opened #69 "nullable subject: toBe with nullable variable"
*Platform* (JVM, JS and/or Android): all

## Code related feature
Say you have a data driven test, something like (using Spek's syntax as example)
[code]
Currently that's not possible because `toBe` only accepts `null` in case of a nullable subject.
And I think that's good because it gives a hint to the user that the subject can be null and most probably one should write a test for this special ca

[2019-01-20 13:17] robstoll opened #70 "nullable subject: nullable assertion creator"
*Platform* (JVM, JS and/or Android): all

## Code related feature
Similar to #69 but this time not a variable which can be null but an assertion creator lambda which can be null.
[code]
It would be a shortcut for
[code]

[2019-01-20 14:53] #69 closed

[2019-01-20 19:03] robstoll opened #71 "shortcut property and fun size for Collection"
*Platform* (JVM, JS and/or Android): all

## Code related feature
[code]

[2019-01-20 19:32] robstoll commented on #32
I think it is not worth it to add this. I very rarely saw the usage of suppressed. We can open this issue again if someone requires it.

[2019-01-20 19:32] #32 closed

[2019-01-20 19:50] #71 closed

[2019-01-22 06:58] #9 closed

[2019-01-22 17:27] robstoll opened #72 "changeSubject to a nullable type"
*Platform* (JVM, JS and/or Android): all

## Code related feature
Currently we can use AssertImpl.changeSubject to silently switch the subject, where silently means it is not shown in reporting. However this can only be done if the result type is a subtype of `Any`
Would be nice if it also works for cases involving nullable types, or in other words, subtypes of `Any?`

[2019-01-22 17:52] robstoll opened #73 "data driven testing for non hierarchical test runners"
*Platform* (JVM, JS and/or Android): all

## Code related feature
In case one does not have a test runner which supports hierarchical runs, it becomes cumbersome to test data driven. Atrium is not intended for data driven testing in the narrowed sense in terms that it cannot produce multiple tests, but it already provides the necessities to assert more than one case within one test.

This feature

[2019-01-23 09:36] robstoll commented on #73
Maybe its better if we don't use an assertion verb for this, not `Assert` respectively, so that we do not pollute the API? On the other hand, it would be a shortcut to create a feature assertion out of the blue, could be handy in other places as well..

[2019-01-25 16:25] #72 closed

[2019-01-26 17:14] robstoll commented on #40
To workaround the kotlin bug concerning multiple overloads with function type we could introduce `featureNullable` for nullable features. Then `feature` could be define as
[code]
where FeatureProvider in turn provides helper functions to construct features out of properties and functions. The only problem here, Kotlin has also bugs concerning function reference of overloaded functions and expectin

[2019-01-26 17:41] robstoll commented on #73
This is closely related to #40

[2019-01-26 18:32] robstoll commented on #73
That said, one can already use `property` and `returnValueOf` and get the same behaviour. I think we don't need something for now, the `myFun` might be a bit redundant in reporting but so what...

[2019-01-26 18:32] #73 closed

[2019-01-26 18:33] robstoll commented on #73
We could document data driven testing in README though

[2019-01-27 11:57] robstoll opened #75 "Map getExisting overload which returns feature assertion plant"
*Platform* (JVM, JS and/or Android): all

## Code related feature
[code]
Some people prefer to have the possibility to write assertions like above instead of  `getExisting("a") { ... }`

Also this is more valuable in the infix api where one would like to write:
[code]

[2019-01-27 14:23] robstoll opened #76 "List get overload which returns feature assertion plant"
*Platform* (JVM, JS and/or Android): all

## Code related feature
Similar to #75
[code]
Some people prefer to have the possibility to write assertions like above instead of  `get("a") { ... }`

Also this is more valuable in the infix api where one would like to write:
[code]

[2019-01-27 15:23] #76 closed, assigned to robstoll

[2019-01-27 20:45] robstoll commented on #60
Another thing to consider , I got the feedback from several people that reading the following:
[code]
is confusing because 1 is not nullable. Others are even confused to read (at least at first):
[code]

[2019-02-16 22:19] robstoll commented on #60
I have made up my mind after getting several feedback. I'll reduce complexity in the future by no longer distinguishing between `AssertionPlant` and `AssertionPlantNullable`. In the same go I will deprecated functions which contain `nullable` in its identifier. Moreover, shortcut functions for nullable properties will not get an overload with an assertion creator (otherwise we will ran into overlo

[2019-02-16 22:21] robstoll opened #77 "open up toBe for nullable subject, allow to pass T?"
*Platform* (JVM, JS and/or Android): all

## Code related feature
See #69. However, since I decided to drop the distinction between AssertionPlant and AssertionPlantNullable in the future, we can drop `toBeNullable` again, refactor `toBe` for nullable subjects respectively.

[2019-02-17 15:29] robstoll opened #78 "containsExactly with single assertion creator"
*Platform* (JVM, JS and/or Android):

## Code related feature
[code]

Currently we need to wrap the block into parentheses which is not so nice

[2019-03-07 21:38] robstoll opened #79 "open up contains to Any? and remove existing functions with nullable in name"
*Platform* (JVM, JS and/or Android): all

## Code related feature
Closely related to #77 and #60 and this will undo what we introduced in 0.7.0 with #20.
However, we decided to drop the distinction for nullable in the long run and thus we should the same for `contains(...)`, `containsNot(...)` and `containsExactly(..)` assertion functions for Iterable (as well as their corresponding builders to wh

[2019-03-18 21:00] robstoll commented on #77
implemented with 42ca7bb3

[2019-03-18 21:00] #77 closed

[2019-03-18 21:00] robstoll commented on #79
implemented with 4242811c

[2019-03-18 21:00] #79 closed

[2019-03-22 12:40] robstoll commented on #78
Already fixed

[2019-03-22 12:40] #78 closed

[2019-03-22 19:31] #60 closed

[2019-04-10 18:53] robstoll opened #80 "Create a sample project for Atrium + junit5"
*Platform* (JVM, JS and/or Android): Jvm

## Code-Documentation related feature
It would be nice if we have a working example similar to the one we created for Atrium + mocha (see misc/examples/js/mocha) but this time for Atrium + junit5 (so JVM and not JS)
The example project shall show how to setup junit5 + atrium and include a simple test

This task is a good first issue especially if you inten

[2019-04-10 18:57] robstoll opened #81 "Create sample project for Atrium + MPP kotlin.test"
*Platform* (JVM, JS and/or Android): Jvm

## Code-Documentation related feature
It would be nice if we have a working example similar to the one we created for Atrium + mocha (see samples/js/mocha) or Atrium + spek (see samples/jvm/spek) but this time in the context of an multiplatform project (JVM, Android and JS).

The example project shall show how to setup a MPP project + Atrium and contain a

[2019-05-02 20:17] robstoll opened #82 "filter for collections"
*Platform* (JVM, JS and/or Android): all

## Code related feature
Sometimes there are use cases where we would like to assert a certain property for only a few entries of an Iterable in combination with another assertion on the same Iterable. For instance
[code]
I think it would make sense to use an identification lambda (usually named assertionCreator with type `Expect<T>.() -> Unit`) for `filter

[2019-05-06 12:46] robstoll opened #83 "add hasSize to Iterable"
*Platform* (JVM, JS and/or Android): all

## Code related feature
Initial motivation:
[code]
Yet, I don't want to add such functionality as we would have to add it to all kind of array types (IntArray, LongArray, etc.).
Instead we could add `hasSize` to Iterable
[code]
`asIterable` is already available for all array types.

I suggest we implement it as follows: `take(n + 1)` from the iterable and

[2019-05-14 19:52] robstoll commented on #26
We will already turn `Assert` into an interface in 0.9.0 - this is a breaking change but an easy one to solve: one only has to search for ` Assert<` and replace it with ` AssertionPlant<` in case they want to stick with the old behaviour (until they migrate to the new behaviour)

[2019-05-14 19:56] robstoll commented on #56
We will turn `Assert` into an interface with an invariant type parameter (see #26)

[2019-05-17 12:43] robstoll opened #84 "Filter stack trace in reporting for spek2"
*Platform* (JVM, JS and/or Android): jvm/android

## Code related feature
We currently filter stack trace elements produced by spek 1.x but not by spek2.
Thus:
- add `org.spekframework.spek2` to RemoveRunnerAtriumErrorAdjuster
- adjust the specs to cover spek2 as well

## Your first contribution?
- write a comment if you would like to take this task over.
  This way we get the chance to revise the

[2019-05-27 12:00] robstoll opened #85 "switch to `implement` instead of `compile` in build.gradle where possible"
*Platform* (JVM, JS and/or Android): all

## Non-Code related feature
IMO it makes sense to use `api` or  `implementation` instead of `compile` and `testImplementation` instead of `testCompile`.

Following a list of modules which should be depended on with `api` instead `implementation` (as we want to propagate them as transitive dependencies to consumers):

- domain-api-deprecated
- domain-builde

[2019-06-01 21:36] robstoll opened #86 "replace :wink: and the like with utf-8 smileys"
## Non-Code related feature
**Is your feature request related to a problem? Please describe.**
Some external websites take the README of github and render it as well.
Yet, they do not render it as Github does and things like `:wink:` (:wink:) or `:information_source:` (:information_source:) are not rendered.

**Describe the solution you'd like**
Use UTF-8 symbols instead so that the rendering is a

[2019-06-05 19:01] robstoll commented on #26
I decided against my last decision, I don't want to introduce a breaking change. Instead we will introduce `Expect` as replacement for `Assert`

[2019-06-05 19:17] robstoll opened #87 "easy way to create multi-level feature assertions"
*Platform* (JVM, JS and/or Android):

## Code related feature
Often when I come across code bases I see something along the lines of
[code]
This works but is not ideal because:
- the reporting will neither include information about `person` nor `universities`
- the assertion group block does not evaluate both "feature-assertions" as they are effectively not nested assertions where all of them thro

[2019-06-05 19:24] robstoll opened #88 "remove subject from Expect"
*Platform* (JVM, JS and/or Android):

## Code related feature
I often see that subject is accessed too early and honestly, it is my fault that it is done this way. This is certainly something I started to realise too late and currently there is no clean way to write something like
[code]
I think I still have something along the lines above in the README. The above is actually fine, the problems co

[2019-06-20 19:43] robstoll opened #89 "generalise subject changes and type transformations"
*Platform* (JVM, JS and/or Android): all

## Code related feature
We currently distinguish between changing the subject and doing a type transformation. However, the later is a change of the subject as well and thus I think we should:
- get rid of AnyTypeTransformationAssertions
- generalise subject change
  - define isA and isNotNull with the new primitives
  - maybe add a helper functions for do

[2019-06-21 07:14] Centaur opened #90 "nullable Long! cannot be expected not to be null"
*Affected Version*: 0.8.0
*API* (cc or cc-infix): expect().notToBe()
*Platform* (JVM, JS, Android): JVM

## How to reproduce the problem
I am calling some java code with this definition
[code]
from kotlin code
[code]

## Describe the bug
`A::v` has type `Long!` and is definitely nullable, but the compiler matches this code with

[code]
and complains `Null can not be a value of non-nullable TypeVar

[2019-06-21 07:33] robstoll commented on #90
Thanks for the bug report, unfortunately I cannot modify the behaviour of Kotlin how it treats platform types (e.g. `Long!`). The problem is that kotlin decides that it treats `Long!` as `Long` and that is why it uses the overload with `T: Any`. See the section [Java Interoperability](https://github.com/robstoll/atrium#java-interoperability) in the readme.

Atrium provides a workaround, you can wr

[2019-06-21 07:33] #90 closed

[2019-06-21 07:37] robstoll commented on #90
@Centaur Atrium has currently not a `notToBe(null)` function as I assume that you always want to assert more than just `it is not null` e.g. `expect(nullable(a.v)).notToBeNull{ isLessThan(2L) }`
Would you appreciate if Atrium had `notToBe(null)` in addition?

[2019-07-06 09:55] robstoll commented on #88
implemented with bfe49936

[2019-07-06 09:55] #88 closed

[2019-07-06 13:55] robstoll commented on #54
I am going to introduce new modules with 0.9.0 which will contain only `Expect` and not `Assert` and are in this sense clean again.

[2019-07-09 17:11] robstoll opened #91 "add isA also to nullable types"
*Platform* (JVM, JS and/or Android): all

## Code related feature
[code]

[2019-07-10 05:03] robstoll commented on #87
Now that subject is hidden, one cannot longer use `expect(subject...)` within a sub assertion.
We need to guide the user to use feature assertions instead

[2019-07-10 18:53] robstoll opened #92 "Consistent return type for feature assertions"
*Platform* (JVM, JS and/or Android): all

## Code related feature
[code]
This should be consistent. IMO it makes sense not to narrow the subject if one provides sub assertions (an assertionCreator lambda) as we can continue using the fluent API.
One can use the overload without lambda if he wants to narrow the subject.

There is a side effect involved in using sub assertions as they form an assert

[2019-07-10 18:58] robstoll opened #93 "notToBe (null)"
*Platform* (JVM, JS and/or Android): all

## Code related feature
[code]

[2019-07-11 09:03] robstoll opened #94 "fluent API also for notToBeNull call"
*Platform* (JVM, JS and/or Android): all

## Code related feature
The feature as such has probably very little use for the user. The only use case which comes to mind is asserting side effects (and we all don't write code with side effects right :stuck_out_tongue_closed_eyes:).
But it makes the implementation simpler and more intuitive to use (as we don't have to treat nullable cases specially). F

[2019-07-11 09:30] robstoll opened #95 "add overload for nullable features which accepts assertionCreator"
*Platform* (JVM, JS and/or Android):

## Code related feature
[code]

[2019-07-11 20:20] robstoll opened #96 "assertionCreator lambda which do not create assertions should fail"
*Platform* (JVM, JS and/or Android): all

## Code related feature
[code]
The above should result in a failure. Currently we throw already IllegalStateException in certain cases where one forgets to define assertions.

I think we should enforce this in all cases with `Expect` (keep the current behaviour for `Assert`)
However, I would no longer throw an IllegalStateException but create an assertion

[2019-07-12 19:51] robstoll opened #97 "implement `expect { }.toThrow` as assertion function"
*Platform* (JVM, JS and/or Android): all

## Code related feature
Expecting that an assertion is thrown is currently implemented aside from other assertion functions. The reason for it is that it is using a different assertion verb and a dynamic representation of the subject (depending on whether an exception was thrown or not).
We could already define it for `Expect<out () -> Any?>` but then the

[2019-07-12 20:19] robstoll commented on #93
implemented by 81bd14ff

[2019-07-12 20:19] #93 closed

[2019-07-12 20:22] robstoll commented on #91
implemented by 82f99bf

[2019-07-12 20:22] #91 closed

[2019-07-12 20:22] robstoll commented on #94
implemented by 82f99bf

[2019-07-12 20:28] robstoll commented on #89
implemented by e6502dbe9256

[2019-07-12 20:28] #89 closed

[2019-07-12 20:30] robstoll commented on #56
PoC implemented db7709b9, rest will follow

[2019-07-14 12:34] robstoll opened #98 "add overload expecting String where Translatable is currently expected"
*Platform* (JVM, JS and/or Android): all

## Code related feature
[code]
Currently one has to pass a Translatable as first argument. We have `DescriptionBasic.IS` which is not too bad for the above case but there are other places where one has to wrap the string into an `Untranslatable`. I guess most people don't use i18n and would like to just pass the string. Thus, provide an overload which does

[2019-07-14 19:31] robstoll opened #99 "enable containsKey and containsNotKey also for Map<out K, V>"
*Affected Version*: 0.8.0
*API* (cc or cc-infix): both
*Platform* (JVM, JS, Android): all

## How to reproduce the problem
Consider the following code snippet
[code]
## Describe the bug
The method `containsKey` and `containsNotKey` cannot be applied to Map<out K, V>

## Expected behaviour
It should work for Map<out K, V> as well

[2019-07-15 05:51] kssc0112 commented on #85
Hi Robert. This is my first time opening a pull request in this project. Please let me know if you have any comments or concerns! :) Here is the link to my PR: https://github.com/robstoll/atrium/pull/100

[2019-07-15 07:10] robstoll opened #101 "asEntries should also work for Map<out K, V>"
*Affected Version*: 0.8.0
*API* (cc or cc-infix): cc-en_GB only
*Platform* (JVM, JS, Android): all

## How to reproduce the problem
Consider the following code snippet
[code]

## Describe the bug
`asEntries` does not work if the key type has an `out` variance modifier (is covariant)

## Expected behaviour
Works as well

[2019-07-16 05:54] robstoll commented on #101
fixed with dae69c

[2019-07-16 13:58] robstoll commented on #97
I currently don't see a use case where I would use such a check within a sub-assertion. Therefore I labelled it with `need votes`. Please vote for it if you need it, I won't implement it otherwise

[2019-07-16 14:46] #101 closed

[2019-07-16 14:47] robstoll commented on #26
feature based assertion function require #40 to be implemented first

[2019-07-17 12:00] robstoll commented on #85
implemented by aa7bd067, thanks @kssc0112

[2019-07-17 12:00] #85 closed

[2019-07-18 06:06] kssc0112 commented on #66
If overload startsWith like
``` fun startsWith(subjectProvider: SubjectProvider<CharSequence>, expected: Char): Assertion```
I get the following error in the spec. Is there a workaround for this? If not, I'll continue with creating startsWithChar, startsNotWithChar and so on.

<img width="1239" alt="Screen Shot 2019-07-17 at 11 03 02 PM" src="https://user-images.githubusercontent.com/15913002/6143

[2019-07-18 06:19] robstoll commented on #66
there is a workaround, see for instance ListFeatureAssertionsSpec

[2019-07-18 06:22] robstoll commented on #66
roughly:
[code]

[2019-07-19 07:32] kssc0112 commented on #66
@robstoll Thanks. Almost done for a PR. What is the purpose of calling forSubjectLess and forChecking APIs in CharSequenceAssertionsSpec? Do we want it for the Char versions as well?

Ex. `startsWithPair.forChecking("a", "abc", "xyz")`
`startsWithPair.forSubjectLess("")`

[2019-07-19 08:40] robstoll commented on #66
those are two basic specs which every assertion function should hold -- so yes, please add it also for Char.

SubjectLessSpec tests that the assertion function does not throw an exception even if the subject is not defined. This happens when one transforms the assertion where the transformation as such can fail. For instance:
[code]

CheckingAssertionSpec checks that the assertion does not throw a

[2019-07-20 20:08] kssc0112 commented on #66
Hi Robert,

My PR is ready for your initial review: https://github.com/robstoll/atrium/pull/105

For some reason, I read the last part of your comment only after completing the code.

(the functions are located in files named charSequenceAssertions.kt)

Please let me know if my changes misalign with your requirement. If so, I'll work on a revision.

[2019-07-22 05:48] robstoll commented on #66
implemented with 850bd77

[2019-07-22 05:48] #66 closed

[2019-07-22 20:14] #40 closed

[2019-07-23 07:33] robstoll opened #107 "assertion functions for jdk8 types"
*Platform* (JVM, JS and/or Android): jvm

## Code related feature
Prepare a module so that assertion functions for jdk8 types can be added (e.g. Optional, Path and probably more).

I was thinking about defining a multiplatform module for it, actually compiling all common assertion functions + jvm functions but with the current setup (old multiplatform plugin) I think this is a bit of an overkill a

[2019-07-23 07:34] robstoll commented on #47
depends on #107

[2019-07-23 08:13] robstoll opened #108 "shorcut for Path.exists and Path.existsNot"
*Platform* (JVM, JS and/or Android): jdk8

## Code related feature
[code]

*domain*
- extend PathAssertions with `existsNot` (`exists` is already provided)
- modify PathAssertionsBuilder, delegate to pathAssertions (as for `exists`)
- delegate implementation to robstoll-lib in PathAssertionsImpl (as for `exists`)

*lib*
- implement _exists and _existsNot (I have already setup a dependency to niok

[2019-07-23 08:47] robstoll commented on #107
implemented by as 051fe3dc

[2019-07-23 08:47] #107 closed

[2019-07-23 11:19] robstoll opened #109 "shortcut for Path.fileName.toString"
*Platform* (JVM, JS and/or Android): jdk8

## Code related feature
[code]

Following the things you need to do:

*domain*
- extend PathAssertions with a function `fileName` (see CollectionAssertions.size as a guideline):
- modify PathAssertionsBuilder, delegate to pathAssertions (see CollectionAssertionsBuilder as a guideline)
- delegate implementation to robstoll-lib in PathAssertionsImpl (see Co

[2019-07-23 11:47] robstoll opened #110 "shortcut for Path.getParent"
*Platform* (JVM, JS and/or Android): jdk8

## Code related feature
[code]

Following the things you need to do:

*domain*
- extend PathAssertions with a function `parent` (see CollectionAssertions.size as a guideline):
- modify PathAssertionsBuilder, delegate to pathAssertions (see ListAssertionsBuilder as a guideline)
- delegate implementation to robstoll-lib in PathAssertionsImpl (see ListAssert

[2019-07-23 12:07] robstoll opened #111 "shortcut for Path.isDirectory and Path.isRegularFile"
*Platform* (JVM, JS and/or Android): jdk8

## Code related feature
[code]
Following the things you need to do:

*domain*
- extend PathAssertions with `isDirectory` and `isRegularFile` (as for `exists`)
- modify PathAssertionsBuilder, delegate to pathAssertions (as for `exists`)
- delegate implementation to robstoll-lib in PathAssertionsImpl (as for `exists`)

*lib*
- implement _isDirectory and _is

[2019-07-23 12:11] robstoll opened #112 "shortcut for Path. isReadable and isWritable"
*Platform* (JVM, JS and/or Android): jdk8

## Code related feature
[code]
Following the things you need to do:

*domain*
- extend PathAssertions with `isReadable` and `isWritable` (as for `exists`)
- modify PathAssertionsBuilder, delegate to pathAssertions (as for `exists`)
- delegate implementation to robstoll-lib in PathAssertionsImpl (as for `exists`)

*lib*
- implement _isReadable and _isWrita

[2019-07-23 13:47] robstoll opened #113 "shortcut for Optional.get named isPresent"
*Platform* (JVM and/or JS): JVM (only jdk8)

## Code related feature
[code]
In reporting we want to see for
[code]
the following report:
[code]
and for
[code]
the following
[code]
and for
[code]
the following:
[code]

Following the things you need to do:

*lib*
- implement _isPresent in optionalAssertions by using the `ExpectImpl.feature.extractor... (see resultAssertions.kt _isSuccess as guidelin

[2019-07-23 15:55] robstoll commented on #92
fixed by 5e229e0

[2019-07-23 15:59] robstoll commented on #54
implemented with 646c69d

[2019-07-23 15:59] #54 closed

[2019-07-26 19:53] robstoll commented on #92
Not fully implemented yet, asIterable is returning Iterable in both cases

[2019-07-27 08:51] robstoll commented on #24
I'll close it for now. So far everyone I saw used containsInAnyOrder intuitively correct regarding first wins

[2019-07-27 08:51] #24 closed

[2019-07-29 12:02] robstoll commented on #92
rest implemented with 44b2c3a9

[2019-07-29 12:02] #92 closed

[2019-07-31 05:29] robstoll commented on #96
Moved to 0.10.0 in 0.9.0 we will make sure it always throws

[2019-07-31 22:12] robstoll opened #114 "add isKeyValue also for nullable key and value"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]
So far isKeyValue is only supported if K: Any, V: Any

[2019-07-31 22:13] robstoll commented on #114
implemented by 9fd3fa1

[2019-07-31 22:13] #114 closed

[2019-08-02 09:44] robstoll commented on #56
This issue is overlapping with #26 implemented everything needed for this issue

[2019-08-02 09:44] #56 closed

[2019-08-06 08:41] robstoll opened #115 "remove CheckingAssertionContainer"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
Currently we have three peculiarities of Expect, the base interface of all assertion containers:
- ReportingAssertionContainer => depending on the AssertionChecker but in the end throwing in case of a failing assertion
- CollectingAssertionContainer => collecting assertions without throwing
- CheckingAssertionContainer => kind of al

[2019-08-06 10:47] robstoll commented on #115
implemented by 49cbc79

[2019-08-06 10:47] #115 closed

[2019-08-10 20:05] robstoll commented on #96
implemented by 675b3b35

[2019-08-10 20:05] #96 closed

[2019-08-10 23:48] robstoll commented on #98
implemented by b0607dc7

[2019-08-10 23:48] #98 closed

[2019-08-11 20:55] robstoll commented on #95
implemented by 9c26077

[2019-08-11 20:55] #95 closed

[2019-08-12 21:11] robstoll opened #116 "Migrate Spek1 specs to Spek2"
*Platform* (jvm, jdk8, js, android): jvm

## Test-Code related issue
We have not yet migrated all specs to spek2.
Following a list modules in which there are still spek1 specs
- atrium-core-robstoll-lib-jvm
- atrium-domain-robstoll-lib-jvm

Search for `import org.jetbrains.spek.api.Spek`and for `TODO #116` to find those specs

*TODO*:
- copy the spec from misc/atrium-spec to misc/specs/atrium-spec

[2019-08-13 19:57] robstoll opened #117 "deprecate overload for Expect<BigDecimal?>.toBe"
*Platform* (jvm, jdk8, js, android): jvm

## Code related feature
[code]
This overload should be deprecated for BigDecimal as well (not only the one for `T: Any`)

[2019-08-17 11:50] robstoll opened #118 "add overload for Expect<Sequence>.asIterable with assertionCreator"
*Platform* (jvm, jdk8, js, android):

## Code related feature
[code]
Currently there is only `asIterable()`

[2019-08-17 11:51] robstoll commented on #118
Implemented by 633414fee51a1a1a659f6c4a77359cafe90c22e3

[2019-08-17 11:51] #118 closed

[2019-08-19 10:48] robstoll commented on #117
however, `toBe(null)` makes still sense, makes sure this is not deprecated

[2019-08-19 15:00] robstoll commented on #117
implemented with e3a1dfc

[2019-08-19 15:00] #117 closed

[2019-08-20 15:25] robstoll commented on #87
part 2 implemented by db14c7a1

[2019-08-20 15:25] #87 closed

[2019-08-20 22:40] jGleitz opened #119 "Pass Iterable to contains-like functions"
Any Platform.

## Code related feature
[code]

the above is not possible, because `containsExactly` has only the overload that takes one element parameter and an additional varargs parameter. This is _very_ awkward to call with a given list (or am I missing something?):

[code]

Note that something like the above is quite common to happen when writing data-driven or parameterized tests.

I am awar

[2019-08-20 22:55] jGleitz opened #120 "Option to describe the subject"
Any Platform.

## Code related feature
[code]

this is something that is possible in AssertJ and I haven’t found a way to do this with Atrium. Sometimes, we have relevant information about the subject that is not present in its #toString. Like in the case above, where we can describe the exact offending line.

Admittedly, I do not need this very often. But when I do, it is because the data Atrium

[2019-08-21 06:17] robstoll commented on #119
Thanks for the report. What would you expect if one passes an empty List, should the subject (`tested` in your example) then also be empty?

[2019-08-21 06:29] robstoll commented on #120
There are numerous ways to achieve what you want but they are not yet exposed to the API level as I am not yet sure how I want to expose them.
If your code really looks like the above and you don't want fail fast behaviour, then I recommend to have a look at the [Data-Driven Testing](https://github.com/robstoll/atrium#data-driven-testing) section in the readme.

Some questions to better understand

[2019-08-21 07:39] jGleitz commented on #119
Yes, I think it should, because we are using `containsExactly`.

that seems like a much better name than my proposal!

[2019-08-21 07:52] jGleitz commented on #120
The way I have written this specific example, I will only see output for failing lines. For my purpose, this is fine (there are many lines, so I would not want to have output about the other lines in case of a failure).

However, in general, I think the feature I am asking for would apply to whenever the subject is described in the output, whether for a failure or not.

If it is possible, I would

[2019-08-21 09:02] robstoll commented on #120
Sorry I was not clear enough. Say you have multiple lines which contain a forbidden package. Do you want to stop at the first line (your implementation is perfect) or would you want to see all failures?
I'll write up an example how you can add additional information when having a keyboard in front of me and not my phone.

One follow up question. I could also augment charsequence.containsNot with a

[2019-08-21 10:14] jGleitz commented on #120
Ah, now I get it. You are right, having _all_ errors reported instead of just the first one would be even better (I am not used to this even being a possibility because I come from JUnit + Hamcrest).

It would definitely be helpful.

Yes and no. I still would need to know which file contains the offending line. In my case, I could get away with using parameterized tests for that. But a) would the

[2019-08-21 10:23] robstoll commented on #120
I try to keep the API as small as possible because more is not always better. I'll think about it though. I am finishing up 0.9.0 so it will most likely make it into 0.10.0 where I will add easier ways to add failure hints and additional information to assertions.

In the meantime you can use functionality from the domain level => `AssertImpl` is kind of the entry point to the domain. Notice thoug

[2019-08-21 10:43] jGleitz commented on #120
Thanks a lot for pointing out how to achieve this currently!

Bonus karma points for showing me how I can improve my test logic :+1:!

When I look at the code you provided, it seems to me like it would make a lot of sense to add the feature I am asking for as an optional parameter to the expect and property calls. Together with named parameters, I think this could look nice:

[code]

or, here:
[co

[2019-08-21 10:52] robstoll commented on #120
a method `feature` will be added in 0.9.0, usually meant for features of the subject (replacement for `property` and `returnValueOf`) but can also be used for cases as the above one by providing a custom feature description:
[code]

[2019-08-21 12:21] jGleitz commented on #119
Note: I would be glad to implement this as soon as we reach a consensus of whether and how you want to see this.

[2019-08-21 12:26] robstoll commented on #119
Cool :sunglasses:, you might want to have already a look at https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution and I will look how we could add it to Atrium

[2019-08-21 12:46] robstoll commented on #119
@jGleitz one thing I don't particularly like about it is that it clutters the API quite a bit for very little value and once introduced, we should probably add it to every function expecting `T, Array<out T>`
Would it be enough if you could have written:
[code]
It's semantically not the same as `containsExactlyElementsOf` but its one single function which can be used in many places vs. many additi

[2019-08-21 13:30] jGleitz commented on #119
Of course, the solution you suggest would work _technically_.

But I would argue that it is not a very good solution, because it makes the test significantly less easy to read.
I think that it is important that test logic is easily readable for all programmers, even those that are not very familiar with the libraries used.

In this case, if I did not know about this specific problem, it would not

[2019-08-21 13:44] robstoll commented on #119
Good point but I still have a bad feeling adding it. There is another issue, it seems hard to get a consistent behaviour.
[code]
Also, this feature is most likely only used in case of data-driven testing and thus should not be too present in the API. How about we adding it to `contains.inOrder.only.elementsOf` and to `contains.inAnyOrder.only.elementsOf` but check that the given list is not empty?

[2019-08-21 17:12] jGleitz commented on #119
I have the impression that we have different styles of writing tests. For me, it is fairly common to write a unit test and then feed it with a set of different test data. JUnit 5’s [`@ParameterizedTest`](https://www.baeldung.com/parameterized-tests-junit-5) is great for it, but you can do it in almost all frameworks. It helps to not repeat oneself and still make sure that different cases are cover

[2019-08-21 17:17] jGleitz commented on #120
This is great!
To be honest, I think this fulfils my use case in most cases. It would still be nice to be able to do the same thing on `expect`, but having it on `feature` is already very helpful.

So I think this ticket boils down to: should `expect` get the same functionality that `feature` already has, namely adding a description to the subject?

[2019-08-21 17:19] jGleitz commented on #113
Suggestion: if `get` would be called `toBePresent` (without any other change), it would be more obvious that it actually contains an assertion.

[2019-08-21 17:20] jGleitz commented on #47
Similar to #113 : if this method would be called `toBeEmpty`, I would find the semantics easier to understand.

[2019-08-21 18:25] robstoll commented on #113
I try to use the same names one is already familiar with for feature extraction, IMO this way we have a more intuitive API than inventing new names. We already have `List.get`, `Throwable.message` let's stick with that pattern. We could introduce `isPresent` in addition though.

[2019-08-21 18:26] robstoll commented on #47
`Optional.isEmpty` already exists in JVM  world (> = jdk11) and I would like to stick to the names of the underlying subjects whenever possible.

[2019-08-21 18:50] robstoll commented on #119
No worries, I write data-driven tests myself. I see your point about readability but there is more than that. New functionality also has to pay off. Adding it to `contains.inOrder.only.elementsOf` seems fine with me, as it does not pollute the Expect API. But only the very specific `contains` API.

Not if we check that the passed list is not empty => if kotlin had a NonEmptyList then I would use i

[2019-08-21 19:04] jGleitz commented on #108
I'll work on this

[2019-08-22 10:34] jGleitz commented on #119
I think when `contains.*.elements` will be added (please not only for iterables but for other search-like behaviours, like on strings, too!), the main request of this ticket is served.

Regarding how the API looks like, I understand your point of view and accept it, even though I disagree. It seems to boil down to how we weight the different, valid goals there are.

[2019-08-23 19:48] jGleitz opened #124 "include jdk11 and jdk12 in CI"
*Platform* jvm, jdk8

This project is tested on Java 8 and 9 in CI. But [Java 9 is not supported anymore](https://www.oracle.com/technetwork/java/java-se-support-roadmap.html). So it might make sense to always test on Java 8 and the most recent version of Java instead.

## Non-Code related feature
**Is your feature request related to a problem? Please describe.**
Related to [niok not being compila

[2019-08-24 13:35] robstoll commented on #124
Its actually tested on 8, 9 (travis - linux) and 9, 10 (appveyor - windows). I agree that we should include 11 and 12. Let's do the following:
travis: 8, 11 => both LTS versions of Java
appveyor: 9, 10, 12 => STS versions of Java

I am not only after LTS versions as long as the STS don't give us headaches. So far they didn't so let's continue this way.

[2019-08-24 17:02] #124 closed

[2019-08-27 00:52] jGleitz opened #126 "Stop using Gradle’s junit-platform-plugin, migrate to builtin plugin instead"
## Non-Code related feature
The project executes tests using the deprecated `junit-platform` gradle plugin. By using gradle’s builtin JUnit support, we would get:

 * a lot less warnings in CI
 * a better CLI output
 * IntelliJ integration

![atrium-gradle-test-intellij](https://user-images.githubusercontent.com/4305652/63732676-a666e200-c875-11e9-8d98-70d8cb06bf3d.png)

**Describe the solution yo

[2019-08-27 08:18] robstoll opened #127 "elementsOf(Iterable) for contains.inAnyOrder.only"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]

Following the things you need to do (see also a0b539c0 for a guideline)::

*api*
- add fun `elementsOf` to apis/fluent-en_GB/atrium-fluent_en_GB-common/.../iterableContainsInAnyOrderOnlyCreators.kt (see other functions there for guideance)
  - it is enough if you delegate to `values`
  - `require` that the `Iterable.hasNext`

[2019-08-27 08:19] robstoll opened #128 "elementsOf(List) for contains.inOrder.only"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]

Following the things you need to do (see also a0b539c0 for a guideline):

*api*
- add fun `elementsOf` in apis/fluent-en_GB/atrium-fluent_en_GB-common/.../iterableContainsInOrderOnlyCreators.kt (see other functions there)
  - it is enough if you delegate to `values`
  - `require` that `List.isNotEmpty`
  - add `@since 0.9.0`

[2019-08-27 08:22] robstoll opened #129 "elementsOf(Iterable) for contains.inAnyOrder.atXy"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]

Following the things you need to do:

*api*
- add fun `elementsOf` in apis/fluent-en_GB/atrium-fluent_en_GB-common/../iterableContainsInAnyOrderCreators.kt (see other functions there)
  - it is enough if you delegate to `values`
  - `require` that the `Iterable.hasNext`
  - add `@since 0.9.0` to the KDOC
- extend IterableCon

[2019-08-27 08:40] robstoll opened #130 "elementsOf(Iterable) for CharSequence.contains"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]

Following the things you need to do  (see also a0b539c0 for a guideline):

*api*
- add fun `elementsOf` in apis/fluent-en_GB/atrium-fluent_en_GB-common/../charSequenceContainsCreators.kt (see other functions there)
  - it is enough if you delegate to `values`
  - `require` that the `Iterable.hasNext`
  - and `@since 0.9.0` (

[2019-08-27 08:50] robstoll opened #131 "shortcut Iterable.containsExactlyElementsOf"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]

Please react with :+1:  in case you would like to see this shortcut implemented. The more upvotes the more likely I will implement it myself. You are of course welcome to implement it yourself and create a PR. Write `I'll work on it` as comment so that we can assign the task to you.

[2019-08-27 10:57] robstoll commented on #119
I am closing this issue, I have created separate issues for each feature and also #131 which needs votes in order that I implement it. Feel free to vote as well and maybe you can convince other peers to vote as well.

[2019-08-27 10:57] #119 closed

[2019-08-27 10:58] #108 closed

[2019-08-28 09:46] robstoll commented on #126
@jGleitz released v0.28.0 tutteli-gradle-plugins

[2019-08-28 12:38] jGleitz commented on #126
@robstoll We have another Java compatibility issue, see https://ci.appveyor.com/project/robstoll/atrium/builds/27018228/job/f9d885v3982t1mu3

Can you re-release the plugins, but compiled with Java 8 (or 9?)

[2019-08-28 12:53] robstoll commented on #126
Hm... I see, I need to include a check into the release-process. I will release a fix lster this afternoon.

[2019-08-28 16:39] #126 closed

[2019-08-29 10:53] #84 closed

[2019-08-29 14:31] jGleitz opened #135 "Discussion: Rethink Domain Builders"
Atrium contains the builder projects, which to my understanding serve as a bridge between the domain-api and the domain implementation (i.e. domain-robstoll). The builder projects consist mainly of delegating classes (see below).

I think that this architecture can be improved, an see several possibilities to do so. The goal of this issue is to start a discussion about that. I have only recently s

[2019-08-30 15:41] jGleitz commented on #112
It feels odd to have `isWritable`, `isRedable`, but not `isExecutable`, since those are the tree POSIX file permissions.

[2019-08-30 15:42] jGleitz commented on #112
Note: I am planning to have the assertions do more than just being mere shortcuts. I would also like to have them report whether a file existed at all.

[2019-08-30 15:43] jGleitz commented on #111
It feels odd to have `isRegularFile` and `isDirectory`, but not `isSymbolicLink`, since those are the most common file types from my point of view. Would you agree to add `isSymbolicLink`, too?

Note: I am planning to have the assertions do more than being mere shortcuts. They should also report what the actual file type was.

[2019-08-30 17:07] robstoll commented on #112
I included it myself first but as I never had a test where this was required, I excluded it again. Thus I would suggest you ask yourself the same question, do you have a test where you need it? If not, I wouldn't add it yet and wait until someone requires it. However, I will not reject a PR if you want to include it in any case.

Concerning additional checks, thats perfectly fine with me. But plea

[2019-08-30 17:09] robstoll commented on #111
I included it myself first but as I never had a test where this was required, I excluded it again. Thus I would suggest you ask yourself the same question, do you have a test where you need it? If not, I wouldn't add it yet and wait until someone requires it. However, I will not reject a PR if you want to include it in any case.

Concerning additional checks, that's perfectly fine with me. But ple

[2019-08-30 18:29] jGleitz commented on #111
I see your point. I do not have a concrete use case in mind, it just seemed reasonable to say “c” when we are saying “a” and “b”

[2019-08-30 18:29] jGleitz commented on #111
We have a use case in https://github.com/robstoll/tutteli-spek-extensions/pull/10, though ;)

[2019-08-30 18:30] jGleitz commented on #112
I see your point. I do not have a concrete use case in mind, it just seemed reasonable to say “c” when we are saying “a” and “b”

[2019-08-30 18:43] robstoll commented on #111
Let me guess, you required  robstoll/tutteli-spek-extensions#10 so that you can write a spec for `isSymbolicLInk` here, right? :grin:

[2019-08-30 18:48] jGleitz commented on #111
Now that would be some next level trickery! :laughing:

But actually, no, I wrote it mainly so I can add specs for the symbolic link handling behaviour of the file assertions.

[2019-08-31 12:36] robstoll opened #136 "Use spek2 for DeprecationTestEngine"
## Code related feature
Currently we are using Spek1 internally of DeprecationTestEngine and in the long run we should switch to spek2 also here.

see ReadmeTestEngine for an example, few things have changed.
Note also that:
- catching Throwables during discovery is no longer required if we pass `--fail-if-no-test` to the ConsoleLauncher. See readme-examples/build.gradle for guidance.
- forgiving

[2019-09-02 18:46] robstoll opened #137 "continue to maintain de_CH"
*Platform* (jvm, jdk8, js, android): all

The API `de_CH` will no longer be maintained and stand still at `Assert` (0.9.0 will switch to `Expect`), in case you should be a user of this API then vote for this issue so that we know that there are people out there actually using it.

[2019-09-02 19:02] robstoll opened #138 "deprecate and drop maintenance for API cc-de_CH"
*Platform* (jvm, jdk8, js, android): all

## Non-Code related feature

drop API cc-de_CH, it was merely a PoC to show that multiple APIs are possible. An API in another language is not much different than a API in different style. Thus it is enough if we keep infix to prove that. Therefore:
- deprecate everything and mention that one can switch to fluent-en_GB
- adjust de_CH bundle include fluent-

[2019-09-03 20:12] mehdikazemi8 commented on #128
Hi Robert,
I'll work on this.

[2019-09-04 20:32] jGleitz commented on #111
I think an update is due: I am still actively working on this, but it proved to be a lot more involved than I expected.

I am trying to give the user helpful messages for all common file system cases. Unfortunately, there are quite a few of these cases. I want to make sure that the user can see the root problem, not just the failure (there a multiple reasons why something is not a file: it may not

[2019-09-04 20:35] jGleitz commented on #112
See #111 for an update on my progress.

[2019-09-05 05:02] robstoll commented on #111
Take your time, no stress. In case you want that I already review something then you can always create a PR with the prefix `WIP` in the title (btw. WIP = Work In Progress).
And of course, there is always room for improvement. Once you are happy with your implementation we can already merge a first working version and you can still improve hints from there.

[2019-09-08 10:20] jGleitz opened #141 "Commit Size & Frequency"
The [contributing guidelines](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md) state:

I am not sure how to interpret this. If we look at #140, for example, I have pushed small patch commits. I think they have advantages:
 - reviewers can better see what has changed since their last review
 - I can see which commits have which effects on CI
 - I do not have to force push, wh

[2019-09-08 10:21] jGleitz commented on #141
Note that I started #140 with one big commit, but that is also not what I normally do. Normally, I would have pushed my progress commit by commit.

[2019-09-08 10:53] robstoll commented on #141
Fine with me, can you please write up a PR with the corresponding changes?

[2019-09-08 11:20] jGleitz commented on #141
I see your intention. I see three different cases and would handle them as follows:

 1. The pull request consists of a small number of meaningful commits -> merge normally
 1. The pull request consists of small commits and is not very large -> squash merge
 1. The pull request is large and/or there are commits that we would like to keep separate -> ask the author to do an interactive rebase and s

[2019-09-08 11:35] #141 closed

[2019-09-08 11:37] robstoll commented on #141
I expect the same. Thanks for the PR resolving this issue.

[2019-09-08 17:02] robstoll opened #143 "domain-api-js is not included into dependencies of bundle"
*Affected Version*: 0.9.0-alpha
*API* (fluent-en_GB, cc or cc-infix): fluent-en_GB
*Platform* (jvm, jdk8, js, android): js

## How to reproduce the problem
Consider the following code snippet
[code]

## Describe the bug
It states that ThrowableThrown.Builder is not accessible

## Expected behaviour
Depending on the bundle should be enough

# Potential Fix
- Check the dependencies for JS again,
 =>

[2019-09-11 15:05] robstoll commented on #138
Sure, thanks :)
However, it is a bit too early as I have to fix a few replacements in cc-en_GB first. You can then basically copy `@Deprecated` from it. What you can already do:
- adjust de_CH bundle include fluent-en_GB so that one can switch easier
- use the AsciiBulletPointReporterFactory in the infix API
use the de_CH translations in the infix specs

[2019-09-11 15:11] RenatoViana01 commented on #138
On it

[2019-09-12 06:25] robstoll commented on #138
@RenatoViana01 as it is your first contribution to this project, maybe have a look at [Your first code contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution) for guidelines.

Also, feel free to create multiple PRs, on need to put all points into one PR

[2019-09-13 10:47] robstoll commented on #128
@mehdikazemi8 as you have not yet forked the repo I was wondering if you need help. Let me know if this is the case and have a look at  [Your first code contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution)

[2019-09-13 14:02] robstoll commented on #143
fixed with 8c45990

[2019-09-13 14:02] #143 closed

[2019-09-13 17:57] jGleitz opened #150 "Explanatory Assertion in Failure Hint Swallowed if not in Group"
*Affected Version*: 0.9.0-alpha
*Platform* (jvm, jdk8, js, android): all

## How to reproduce the problem
Consider the following test:
[code]

Output:
[code]

## Describe the bug
From my intuition _and_ the relevant documentation, I would expect the above test case to pass. Instead, the explanatory assertion in the failure hint is not printed.

The documentation of `ExplanatoryAssertion` states (o

[2019-09-13 18:07] robstoll commented on #150
good catch, I guess the second test would fail as well if you had not wrapped it into an explanatory group.

[2019-09-15 15:20] jGleitz commented on #150
This bug led to an architectural discussion which is done in https://github.com/robstoll/atrium-roadmap/issues/1.

[2019-09-16 09:30] robstoll opened #151 "hints for data classes if using toBe"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]
assuming Person is a data class. Currently one has to see the difference based on the representation of the two objects. It would be sweet if we compare the fields one by one and list those which do not match in the failure hint. Yet, only in the failure hint as one could override equals and we don't want to change this behav

[2019-09-16 18:06] jGleitz commented on #151
I like the proposal! But I think that this part:

is _essential_. Because with overridden `equals`, the fields reporting could be _very_ confusing to the user.

[2019-09-16 18:09] jGleitz opened #152 "Hint for Identity based equals"
*Platform* (jvm, jdk8, js, android): jvm

Inspired by #151:

## Code related feature
[code]

Assuming that both are plain classes and have not overridden `equals`, we could report that fact with a hint like

[code]

I think it could a helpful hint for a common situation (being that one forgot to implement `equals`).

[2019-09-17 15:11] robstoll opened #153 "allow to change the representation of the subject"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]
would result in reporting:
[code]
the feature is intended for single cases where the representation is too verbose.

See https://github.com/robstoll/atrium-roadmap/issues/18 for the initial (and ongoing) discussion.

A way to change the reporting for a certain type can already be achieved via custom ObjectFormatter. We will s

[2019-09-17 15:16] robstoll opened #154 "pass on nullRepresentation for feature assertions"
*Affected Version*: <= 0.8.0
*API* (fluent-en_GB, cc or cc-infix): all
*Platform* (jvm, jdk8, js, android): all

nullRepresentation is not passed on to the assertion containers created for features but most likely also in other cases where assertion containers are created (e.g. change the subject)

[2019-09-17 15:23] robstoll opened #155 "introduce Text as replacement for RawString"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
- introduce Text as replacement for RawString.create which expects String
- treat Translatable always as RawString (adjust DetailedObjectFormatter)
- deprecate RawString and provide ReplaceWith
- replace usages via provided ReplaceWith

[2019-09-17 17:36] jGleitz commented on #120
The remainder of this issue is covered in https://github.com/robstoll/atrium/issues/153

[2019-09-17 17:36] #120 closed

[2019-09-18 05:05] robstoll opened #156 "improve specs for iterable, use one time iterables"
*Platform* (jvm, jdk8, js, android):  all

## Code related feature
Currently the specs use listOf which can be consumed many times.
Might well be there is a hidden bug. Let us use one time consumable iterables instead to find out.

[2019-09-18 15:19] Oyedotuncaleb commented on #129
Great

[2019-09-19 02:16] kellybrewer1967 commented on #129
I don't have a computer. Just this phone

[2019-09-19 02:18] kellybrewer1967 commented on #129
I need a 64 bit codes to download on phone for fx player.

[2019-09-19 05:50] nlufafa commented on #156
i hope i can be of help here.

[2019-09-19 06:20] robstoll commented on #156
@nlufafa as this is your first contribution to Atrium, it is maybe a good idea to have a look at [Your first code contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution).

- The specs are under `/misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/integration/` e.g. IterableContainsInAnyOrderAtLeast1EntriesAssertionsSpec

[2019-09-19 15:36] RenatoViana01 commented on #130
I'll work on this

[2019-09-19 16:40] RenatoViana01 commented on #138
@robstoll I can't seem to make the files writable on Intellij

[2019-09-19 18:12] robstoll commented on #138
which files are you referring to? which point of the two are you working on? Do you want to continue working on this one or do you prefer to step back for now and do the other task you are assigned now first?

[2019-09-19 19:28] RenatoViana01 commented on #138
I can do bot, also disregard my last comment. What level of depreciation should I use? 1?

[2019-09-19 21:06] robstoll commented on #138
please start with:
- adjust de_CH bundle include fluent-en_GB so that one can switch easier

this does not require to deprecate anything. You need to
- adjust the build.gradle files of bundles/cc-de_CH/... (all platforms)
- adjudt the module-info.java in the jvm bundle
- use `toBe` of fluent-en_GB in the SmokeTest of the common module to check if the dependency was set up correctly.

please let me

[2019-09-25 16:30] sanatik commented on #129
I'll work on this

[2019-09-25 19:57] PawelRaciborski commented on #127
I'll work on this

[2019-09-25 20:08] PawelRaciborski commented on #80
I'll work on this

[2019-09-28 22:04] robstoll commented on #156
@nlufafa  as you have not yet forked the repo I was wondering if you need help. Let me know if this is the case and have a look at  [Your first code contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution)

[2019-09-28 22:06] robstoll commented on #153
implemented by 5ab8f78

[2019-09-28 22:06] #153 closed

[2019-09-28 22:16] robstoll commented on #150
(4660067 has nothing to do with this issue. unfortunately I used the wrong number)

[2019-09-29 14:47] Frandall commented on #86
Hello, can I work on this?

[2019-09-29 20:09] robstoll commented on #129
implemented by a0b539c0

[2019-09-29 20:09] #129 closed

[2019-09-29 20:31] robstoll opened #158 "Iterable.hasNext"
*Platform* (jvm, jdk8, js, android):

## Code related feature
[code]
However, in reporting we want to see:
[code]
And not
[code]

Following the things you need to do:

*domain*
- extend IterableAssertions with a function `hasNext` (see CollectionAssertions.isEmpty as a guideline)
- modify IterableAssertionsBuilder, delegate to iterableAssertions (see CollectionAssertionsBuilder as a guideline)
- d

[2019-09-30 07:22] sanatik commented on #158
I'll work on this

[2019-10-01 10:22] robstoll commented on #113
I mulled your input over and I came to the conclusion that `get` might indeed not be the best choice for the naming. I think `isPresent` is better as it is an obvious counterpart to `isEmpty` and many people argue that it is discouraged to use `Optional.get` (because it throws if empty). Thus I guess those people would look for an `isPresent` or `getOrElse` but `getOrElse` does not make sense in t

[2019-10-01 11:25] robstoll opened #160 "add overload for CharSequence.containsRegex which expects Regex"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]

Following the things you need to do:

*domain*
- modify CharSequenceContainsAssertions, expect a `List<Regex>` instead of a `List<String>` for `regex`
- adopt CharSequenceAssertionsBuilder, add the new method but keep the one which expects List<String> and delegate to the new one
- adopt the signature of CharSequenceAssertio

[2019-10-01 11:53] robstoll commented on #86
implemented with 1312f169

[2019-10-01 11:53] #86 closed

[2019-10-01 14:19] neelkamath commented on #160
I'll work on this

[2019-10-01 14:30] Scibs commented on #110
I'll work on this

[2019-10-01 15:39] robstoll commented on #154
My mistake, that behaviour is actually correct. We could allow that one changes the null representation for a particular feature as well.

[2019-10-01 15:39] #154 closed

[2019-10-02 05:41] robstoll commented on #158
@sanatik in case you already work on this, I have improved the reporting and adopted the description accordingly

[2019-10-02 06:29] robstoll opened #162 "shortcut for Iterable<E: Comparable<E>>.max()"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]
However, in reporting we want to see the following in case there aren't any elements in the iterable:
[code]

Following the things you need to do:

*domain*
- extend IterableAssertions with a function `max` (see CollectionAssertions.size as a guideline)
- modify IterableAssertionsBuilder, delegate to iterableAssertions (see o

[2019-10-02 06:30] robstoll opened #163 "shortcut for Iterable<E: Comparable<E>>.min()"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]
However, in reporting we want to see the following in case there aren't any elements in the iterable:
[code]

Following the things you need to do:

*domain*
- extend IterableAssertions with a function `min` (see ListAssertions.get as a guideline)
- modify IterableAssertionsBuilder, delegate to iterableAssertions (see other fu

[2019-10-02 07:15] robstoll opened #164 "CharSequence.matches"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]
which should result in reporting
[code]

This assertion function matches the entire CharSequence in contrast to `expect("hello").containsRegex(...)`, ergo it fails if it contains a match only within the CharSequence.

Following the things you need to do:

*domain*
- extend CharSequenceAssertions with a function `matches` whic

[2019-10-02 12:03] mikemolenda commented on #164
I'll work on this

[2019-10-02 12:28] robstoll opened #165 "CharSequence.mismatches"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
Opposite to #164
[code]
which should result in reporting
[code]

This assertion function checks that the given regex does not match CharSequence or at least not entirely, ergo it fails if it matches entirely.

Following the things you need to do:

*domain*
- extend CharSequenceAssertions with a function `mismatches` which expects a

[2019-10-02 14:27] shardulsonar commented on #165
I'll work on this

[2019-10-02 14:31] ntedgi commented on #163
I'll work on this

[2019-10-02 17:47] robstoll opened #166 "File.asPath"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]

Following the things you need to do:

*api*
- create a new file `fileAssertions.kt` in the same folder as `pathAssertions` (in the jdk8 extension)
- provide a val which returns Expect<Path> (use `File.toPath` and see asIterable in sequenceAssertions as a guideline)
- provide a fun which expects an `assertionCreator`-lambda

[2019-10-02 19:17] robstoll commented on #164
@mikemolenda in case you already started with the implementation. I have removed the overload which expects only a String. I am not yet 100% sure if it is a good idea to add it. Let's start with Regex only

[2019-10-02 19:18] robstoll commented on #165
@shardulsonar in case you already started with the implementation. I have removed the overload which expects only a String. I am not yet 100% sure if it is a good idea to add it. Let's start with Regex only

[2019-10-02 19:41] robstoll opened #167 "compile android class files into dex bytecode"
*Platform* (jvm, jdk8, js, android): android

## Code related feature
Currently we don't have a proof that the class files are actually compatible with d8.
It would be nice if we could compile the resulting class files of a build of an `-android` module with the d8 dexer.

TODO:
- [ ] create a gradle task `checkDexer` (based on JavaExec) for all android projects => do that in the build.gradle in t

[2019-10-02 21:26] robstoll opened #168 "Iterable<E: Comparable<E>>.isInOrder"
*Platform* (jvm, jdk8, js, android):

## Code related feature
[code]
<hr/>

Please react with :+1: if you would like to see this feature implemented in Atrium, the more upvotes the more likely I will implement it myself -- feel free to [sponsor me](https://github.com/sponsors/robstoll), that would be a motivation too.
You are of course welcome to work on this issue. Write `I'll work on it` as comm

[2019-10-02 21:28] robstoll opened #169 "Path.extension"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]

Following the things you need to do:

*domain*
- extend PathAssertions with a function `extension` (see other functions as a guideline)
- modify PathAssertionsBuilder, delegate to pathAssertions (see other functions as a guideline)
- delegate implementation to robstoll-lib in PathAssertionsImpl (see other functions as a gui

[2019-10-02 21:29] robstoll opened #170 "Path.fileNameWithoutExtension"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]

Following the things you need to do:

*domain*
- extend PathAssertions with a function `fileNameWithoutExtension` (see other functions as a guideline)
- modify PathAssertionsBuilder, delegate to pathAssertions (see other functions as a guideline)
- delegate implementation to robstoll-lib in PathAssertionsImpl (see other fun

[2019-10-03 08:44] robstoll opened #172 "Iterable.containsNoDuplicates"
*Platform* (jvm, jdk8, js, android):

## Code related feature
[code]

<hr/>

Please react with :+1: if you would like to see this feature implemented in Atrium, the more upvotes the more likely I will implement it myself -- feel free to [sponsor me](https://github.com/sponsors/robstoll), that would be a motivation too.
You are of course welcome to work on this issue. Write `I'll work on it` as com

[2019-10-03 08:54] robstoll opened #173 "Map.contains(Only)EntriesOf"
*Platform* (jvm, jdk8, js, android):

## Code related feature
[code]
I suggest that we also introduce a builder if we add this:
[code]
Which then should be extended with
[code]
And we could extend it further with (please in a second PR, relates to #68, see requirements for reporting there):
[code]

Please react with :+1: if you want to see `containsEntriesOf` implemented in Atrium, the more upvote

[2019-10-03 11:55] lelloman commented on #166
I'll work on this

[2019-10-03 12:22] robstoll opened #174 "shortcut for LocalDate(Time) and ZonedDateTime.year"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for LocaleDateTime and ZonedDateTime):

*domain*
- extend LocalDateAssertions with a function `year` (see CollectionAssertions.size as a guideline)
- modify LocalDateAssertionsBuilder, delegate to LocalDateAssertions (see CollectionAssertionsBuilder as a guideline

[2019-10-03 12:23] robstoll opened #175 "shortcut for LocalDate(Time) and ZonedDateTime.month"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for LocaleDateTime and ZonedDateTime):

*domain*
- extend LocalDateAssertions with a function `month` (see CollectionAssertions.size as a guideline)
- modify LocalDateAssertionsBuilder, delegate to LocalDateAssertions (see CollectionAssertionsBuilder as a guidelin

[2019-10-03 12:24] robstoll opened #176 "shortcut for LocalDate(Time) and ZonedDateTime.day"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for LocaleDateTime and ZonedDateTime):

*domain*
- extend LocalDateAssertions with a function `day` (see CollectionAssertions.size as a guideline)
- modify LocalDateAssertionsBuilder, delegate to LocalDateAssertions (see CollectionAssertionsBuilder as a guideline)

[2019-10-03 12:32] ahmadrosid commented on #176
Hi @robstoll I'll work on this.

[2019-10-03 13:02] robstoll commented on #176
@ahmadrosid I forgot to merge the preparation for this task. Could you please rebase onto master (or delete the fork and fork again)

[2019-10-03 13:06] ahmadrosid commented on #176
Yes @robstoll no problem. I will fork again.

[2019-10-03 16:26] robstoll commented on #131
@audkar do you mind sharing your use case for this functionality?

[2019-10-03 17:33] audkar commented on #131
For me this is probably one of the most often used checks on collections. I have tests which assert that all UI states changed in right order after some events were emitted. e.g.
[code]

[2019-10-04 03:53] aljacinto commented on #170
Hi @robstoll  I'll work on this

[2019-10-04 05:28] robstoll commented on #131
Are you aware of that you can write the above as:
[code]
I guess the list is somewhat dynamic right?

[2019-10-04 06:27] robstoll commented on #150
I will not change the behaviour of ExplanatoryAssertion but improve the KDoc, due to the architectural decisions taken in https://github.com/robstoll/atrium-roadmap/issues/1

The AssertionBuilder has already stated the necessary context:
[code]

[2019-10-04 06:34] #150 closed

[2019-10-04 08:07] robstoll opened #180 "Any.isNoneOf/isNotIn"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
[code]
However, reporting should not state multiple `not to be` (in case of a Reporter which shows all assertions) but reflect the intended grouping.
For instance:
[code]
should result in
[code]
As we can see from the example, we don't have to check for unique values, that's the responsibility of the developer. Moreover, we want fai

[2019-10-04 08:09] audkar commented on #131
Actually no. Was using Google's `Truth` before and was not expecting that `containsExactly` is checking order :)
So for my usecase `ElementsOf` part is not necessary then :)))

[2019-10-04 08:59] robstoll commented on #131
I see, Atrium follows AssertJ's behaviour here (see [api diff - iterable contains](https://github.com/robstoll/atrium/blob/master/apis/differences.md#iterable-contains) for a compact view of Iterable contains features).

 Good to have a Truth user here, let me know if you miss a feature in Atrium by opening an issue

[2019-10-04 09:10] #158 closed

[2019-10-04 09:24] sanatik commented on #82
Meanwhile you can assign this to me.
I'll pick it up after `Iterable.hasNotNext`

[2019-10-04 11:20] sebastienD commented on #162
I'll work on this

[2019-10-04 15:30] shardulsonar commented on #165
@robstoll : I am having a problem in the last step.

'extend CharSequenceAssertionsSpec in specs-common (see for instance YzFeatureAssertionsSpec) and extend it in atrium-api-fluent-en_GB-common/src/test
include a test case where there is a match within the CharSequence'

I am getting a type mismatch compilation error while trying this :
![image](https://user-images.githubusercontent.com/17701180/

[2019-10-04 15:33] robstoll commented on #165
@shardulsonar coud you please create a WIP pull request so that I have a bit more context

[2019-10-04 16:48] aljacinto commented on #170
@robstoll for this one:  provide a val which returns Expect (see collectionAssertions.kt -> size as a guideline) .  Is the below the right place?

[code]

[2019-10-04 16:53] robstoll commented on #170
and the existing function `size` can be found here: apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotlin/ch/tutteli/atrium/api/fluent/en_GB/collectionAssertions.kt

[2019-10-04 17:20] aljacinto commented on #170
got it, was basing it on this one:  apis/cc-de_CH/atrium-api-cc-de_CH-common/src/main/kotlin/ch/tutteli/atrium/api/cc/de_CH/collectionAssertions.kt which looks different

[2019-10-04 17:47] shardulsonar commented on #165
I have added the cod, please have a look.

[2019-10-04 17:52] robstoll commented on #165
You need to adopt `ch.tutteli.atrium.specs.integration.CharSequenceAssertionsSpec` add your new function after `endsNotWithChar: Fun1<CharSequence, Char>`

[2019-10-04 18:02] monst12 commented on #116
Hey @robstoll, I would love working on this.

[2019-10-04 18:04] robstoll commented on #116
@monst12 nice :+1: I suggest you start off by migrating one spek and create a PR for it before you move on to the next one.

[2019-10-04 20:12] lelloman commented on #169
I'll work on this

[2019-10-04 22:16] shardulsonar commented on #165
Hello Thanks for the suggestions. That Helped.
After making the changes that you suggested, I ran the build and I got a compilation error :
_atrium\apis\fluent-en_GB\atrium-api-fluent-en_GB-common\src\test\kotlin\ch\tutteli\atrium\api\fluent\en_GB\CharSequenceAssertionsSpec.kt: (19, 1): No value passed for parameter 'mismatches'_

So I added `fun1<CharSequence, Regex>(Expect<CharSequence>::mismatc

[2019-10-05 06:08] DeMack commented on #180
I'll work on this.

[2019-10-05 06:48] robstoll commented on #165
I made a comment in your code. Could you please create a pull request (see https://help.github.com/en/articles/creating-a-pull-request-from-a-fork if you haven't done this before). You can prefix the title of the pull request with `[WIP]` (WIP = work in progress). It is much easier to review on a pull request.

[2019-10-05 11:43] javatarz commented on #31
I'll pick this one up :)

[2019-10-05 14:16] lpicanco commented on #174
Hi @robstoll,

I'll work on this

[2019-10-05 17:53] ShradhaSangtani commented on #175
Hi @robstoll I would like to work on this as my first issue

[2019-10-06 00:33] Tregz commented on #109
I'll work on this

[2019-10-06 09:43] #174 closed

[2019-10-06 09:53] robstoll commented on #175
@ShradhaSangtani please rebase on master, the shortcut for `year` was added by now (you might want to have a look at the pull request #182 in case you are stuck).

[2019-10-06 09:54] robstoll commented on #176
@ahmadrosid please rebase on master (in case you haven't done this before: https://github.com/edx/edx-platform/wiki/How-to-Rebase-a-Pull-Request). The shortcut for `year` was added by now (you might want to have a look at the pull request #182 in case you are stuck).

[2019-10-06 10:21] robstoll opened #183 "Array.asList instead of asIterable"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
Currently we provide an `asIterable` for the different Array types. Yet, it would make more sense if we provide an `asList` so that one gets functionality such as `get(index)` as well.

Following the things you need to do:

*api* fluent-en_GB:
- change the functions in /apis/fluent-en_GB/atrium-api-fluent-en_GB-common/src/main/kotli

[2019-10-06 12:01] piraces commented on #183
I'll work on this

[2019-10-06 13:26] lpicanco commented on #110
Hi @robstoll
I'll work on this

[2019-10-06 13:45] robstoll commented on #166
Implemented by bb9cc51a610e6851d2da6370d55efb8fe256d56e

[2019-10-06 13:45] #166 closed

[2019-10-06 18:03] #165 closed

[2019-10-06 19:25] robstoll opened #187 "Path.startsWith"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]
However, in reporting we only want to see (in contrast to the `feature` version):
[code]

Following the things you need to do:

*domain*
- extend PathAssertions with a function `startsWith` (see other functions as a guideline)
- modify PathAssertionsBuilder, delegate to pathAssertions (see other functions as a guideline)
- d

[2019-10-06 19:27] robstoll opened #188 "Path.endsWith"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]
However, in reporting we only want to see (in contrast to the `feature` version):
[code]

Following the things you need to do:

*domain*
- extend PathAssertions with a function `endsWith` (see other functions as a guideline)
- modify PathAssertionsBuilder, delegate to pathAssertions (see other functions as a guideline)
- del

[2019-10-06 19:29] robstoll opened #189 "Path.startsNotWith"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]
However, in reporting we only want to see (in contrast to the `feature` version):
[code]

Following the things you need to do:

*domain*
- extend PathAssertions with a function `startsNotWith` (see other functions as a guideline)
- modify PathAssertionsBuilder, delegate to pathAssertions (see other functions as a guideline)

[2019-10-06 19:31] robstoll opened #190 "Path.endsNotWith"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature
[code]
However, in reporting we only want to see (in contrast to the `feature` version):
[code]

Following the things you need to do:

*domain*
- extend PathAssertions with a function `endsNotWith` (see other functions as a guideline)
- modify PathAssertionsBuilder, delegate to pathAssertions (see other functions as a guideline)
-

[2019-10-06 19:38] robstoll commented on #83
no longer required after #183 is implemented

[2019-10-06 19:38] #83 closed

[2019-10-06 19:56] #183 closed

[2019-10-06 20:16] sanatik commented on #82
@robstoll
Still not clear for me what exactly the problem is.
Can you add a bit more details, please?

[2019-10-06 20:22] robstoll commented on #82
In short, provide a `filter` fun which expects an `assertionCreator` and changes the subject of the assertion (see ExpectImpl.changeSubject.reported...) by filtering entries of an iterable based on whether the assertions the assertionCreator defines hold or not. More will follow tomorrow...

[2019-10-07 00:42] aljacinto commented on #170
should the PathFeatureAssertionsSpec be in atrium-api-fluent-en_GB-jvm instead of atrium-api-fluent-en_GB-common? because it's only for Path objects?

[2019-10-07 05:40] #110 closed

[2019-10-07 05:44] robstoll commented on #170
As it is part of the jdk8 extension it should be next to ch.tutteli.atrium.api.fluent.en_GB.jdk8.PathAssertionsSpec
The spec as such in specs-common on the other hand needs to into the jvm module, next to ch.tutteli.atrium.specs.integration.PathAssertionsSpec

[2019-10-07 11:01] Anubhav007 commented on #175
@robstoll Sure thanks.

[2019-10-07 13:05] ShradhaSangtani commented on #175
@robstoll Sure thanks I have rebased the project. I have few doubts though. I have setup the project on intellij. I am able to run the atrium mocha task which runs all the tests in the project. But i am unable to run the individual tests. Also tried using kotlinTest plugin to run a particular test. Can you help me with this?

[2019-10-07 16:26] robstoll commented on #82
You can use a `CollectingAssertionContainer` (built via `coreFactory.newCollecting...`) and add the assertions to it via `addAssertionsCreatedBy`. This container provides a `getAssertions` method which you can use to retrieve the assertions and check whether they all hold by using `Assertion.holds()`, this way you can use it as predicate of `Iterable.filter`, or in other words filter the current I

[2019-10-07 16:45] robstoll commented on #175
Mocha is only used to run the JS tests, you won't need those for your task. Have a look at [Your first code contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution) tests are written with Spek. And as written there, you need the `Spek Framework by Spek Team` plugin for intellij to run the specs.

[2019-10-07 17:24] ShradhaSangtani commented on #175
@robstoll Yeah I am able to run spek tests now. Thanks :)

[2019-10-07 21:23] arjank commented on #187
I'll work on this

[2019-10-07 21:47] arjank commented on #189
Since I'll work on #187 I'll also work on this.

[2019-10-08 08:12] segunfamisa commented on #190
I'll work on this

[2019-10-08 10:36] gaconkzk commented on #188
I'll work on this

[2019-10-08 12:19] robstoll opened #193 "upgrade spek to 2.0.8 and use spek's `include`"
*Platform* (jvm, jdk8, js, android): all

## Code related feature
Since Atrium's `include` was pushed back to spek and is included since 2.0.7 we can now use it instead. Thus:
- upgrade spek to 2.0.8
- remove `include` from /misc/specs/atrium-specs-common/src/main/kotlin/ch/tutteli/atrium/specs/SpekExtensions.kt
- add imports for spek's include if required

[2019-10-08 12:38] ShradhaSangtani commented on #175
@robstoll Raised PR . Please have a look.

[2019-10-08 13:40] robstoll commented on #175
implemented via d80bb63

[2019-10-08 13:40] #175 closed

[2019-10-08 16:32] Anubhav007 commented on #193
I'll work on it.

[2019-10-08 18:43] robstoll commented on #193
I am unsure what your problem is with the last point.It might well be that you don't need to add any import (that's why I wrote `if required`). Try if the project still builds by running `./gr build` (`gr build` in case of windows) in the root of the project. If it does, then you can simply skip step 3.

[2019-10-08 19:07] byarr commented on #113
I'll work on this

[2019-10-09 00:06] aljacinto commented on #156
I'll work on this.  I was going to pick up #169 but someone beat me to it

[2019-10-09 04:34] javatarz commented on #31
Heads up, I'll have this done this weekend. Tad hard to do this midweek with work. Sorry for the delay @robstoll :(

[2019-10-09 05:48] #170 closed

[2019-10-09 06:10] Anubhav007 commented on #193
So i tried running the build and there were compilation errors (eg - IterableAnyAssertionsSpec) where **include** is used. For step 1, I updated the **spek2_version = '2.0.8'** in build.gradle line 22.

[2019-10-09 06:31] robstoll commented on #193
Could you please push your changes to github and create a PR (prefix the title with [WIP] where WIP stands for work in progress)? This makes review much easier for me

[2019-10-09 07:08] robstoll commented on #193
Ah I think I see your problem. Notice that we are currently using Spek 1 in certain modules. You don't have to change these modules. We use spek2 currently in api/fluent-en_GB and extensions as well as in specs-common (specs-jvm etc.). Maybe even some more modules, in short:
- ignore files which have an `import org.jetbrains.spek.api.Spek`
- only adapt files which have an `import org.spekframework

[2019-10-09 08:50] Anubhav007 commented on #193
@robstoll I have raised a WIP PR - https://github.com/robstoll/atrium/pull/195 Please let me know what is need to change there.

[2019-10-09 19:10] jGleitz commented on #113
I think `isPresent` is better than `get`. And I think you give good reasons!

[2019-10-10 01:39] Tregz commented on #109
@robstoll This is my first contribution. I am familiar with Kotlin. I started dev of mobile app last year. I cloned the project with IDEA. I do not yet understand well all of what is done in this project, so I followed the steps for this contribution. I edited the jvm files. I added the PathFeatureAssertionsSpec. Could you give me hint about what PathFeatureAssertionsSpec must achieve?

[2019-10-10 07:13] #187 closed

[2019-10-10 07:13] #189 closed

[2019-10-10 07:29] robstoll commented on #109
@Tregz I reviewed your PR, see comments there. The PathFeatureAssertionsSpec shall prove that your implementation is correct. I assume you already guessed that and hence I am unsure what your question really is :slightly_smiling_face:

[2019-10-10 09:26] robstoll opened #200 "simplify PathAssertionsSpec fuse describe of similar functions"
*Platform* (jvm, jdk8, js, android): jdk8

## Code related feature

functions like exists and existsNot form a counterpart of each other. Thus should be reflected in tests IMO and we can also simplify the tests due to this.

Have a look at ch.tutteli.atrium.specs.integration.CharSequenceAssertionsSpec for instance isEmtpy, isNotEmpty => I would like to have the same for exists/existsNot, startsWit

[2019-10-10 09:38] segunfamisa commented on #200
I'll work on this

[2019-10-10 12:46] robstoll opened #202 "Use spek-js instead of dummy implementation"
*Platform* (jvm, jdk8, js, android):

## Code related feature
We are using Spek to perform multiplatform test. As spek does not JS yet, we used a dummy implementation (just the signatures) so that we still can use Spek for the other platforms.
This idea was adopted by spek with 2.0.6

Hence we should theoretically be able to use it instead of our dummy implementation. However, it did not work as e

[2019-10-10 13:21] Tregz commented on #109
@robstoll The implementation test fail when I push. Can I run the test myself? I do not know how to config this project to run debug. I cloned the project with IDEA.

[2019-10-10 13:23] robstoll commented on #109
Have you installed the spek framework plugin? If not, please have a look at [Your first code contribution](https://github.com/robstoll/atrium/blob/master/.github/CONTRIBUTING.md#your-first-code-contribution)) With this in place you can run single tests in intellij. Otherwise you can use gradle to run tests: `./gr build` builds the whole project (on windows its `gr build`)

[2019-10-10 13:28] robstoll commented on #188
implemented with 3762c71

[2019-10-10 13:28] #188 closed

[2019-10-10 13:33] Tregz commented on #109
Ah, thanks! I'm installing Spek Framework.

[2019-10-10 13:55] robstoll commented on #47
@arjank I have update the description regarding reporting

[2019-10-10 14:04] robstoll commented on #113
@byarr I have updated the description regarding reporting.

[2019-10-10 14:20] robstoll opened #203 "Result.isSuccess"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): kotlin 1.3

## Code related feature
Similar as #113

[code]
However in reporting we want to see for
[code]
the following
[code]

And for
[code]
the following
[code]

And for
[code]
the following:
[code]

Following the things you need to do:

*domain*
- extend ResultAssertions with a function `isSuccess` which returns `Extract

[2019-10-10 15:10] robstoll opened #204 "Result.isFailure"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): kotlin 1.3

## Code related feature
[code]
However in reporting we want to see for
[code]
the following
[code]

And for
[code]
the following
[code]

And for
[code]
the following
[code]

And for
[code]
the following
[code]

Following the things you need to do:

*lib*
- implement _isFailure in resultAssertions returning `Change

[2019-10-10 17:52] joaolrpaulo commented on #204
I'll work on this

[2019-10-10 17:54] joaolrpaulo commented on #203
I'll work on this

[2019-10-11 02:54] aljacinto commented on #156
@robstoll to turn it into one time consumable, should I just turn it to this:

`        val oneToFour = { listOf(1.0, 2.0, 3.0, 4.0, 4.0).asIterable() }`

then turn the expect to `expect(oneToFour())` ?

[2019-10-11 05:58] robstoll commented on #156
The goal is that the `Iterable` can only be consumed once. List can be consumed as many times as you want. You can use the following: `listOf(1.0, 2.0, 3.0, 4.0, 4.0).asSequence().constrainOnce().asIterable()`

[2019-10-11 06:07] robstoll commented on #130
@RenatoViana01 do you need any help?

[2019-10-11 06:07] robstoll commented on #128
@mehdikazemi8 do you need any help?

[2019-10-11 06:08] robstoll commented on #127
@PawelRaciborski do you need any help?

[2019-10-11 11:39] #47 closed

[2019-10-11 12:13] shardulsonar commented on #204
I will work on this

[2019-10-11 12:13] shardulsonar commented on #203
I will work on this

[2019-10-11 12:19] robstoll commented on #204
Please only one at a time so that other people taking part in hacktoberfest have a chance to deliver as well. Be fast with #203 and you can pick up this one as well

[2019-10-11 17:47] Anubhav007 commented on #204
i will work on it.

[2019-10-11 17:48] #193 closed

[2019-10-11 17:56] robstoll opened #207 "Create sample project Atrium + jasmine"
*Platform* (jvm, js, android): js
*Extension* (none, kotlin 1.3, jdk8): none

## Code-Documentation related feature
It would be nice if we have a working example similar to the one we created for Atrium + mocha (see samples/js/mocha) but this time with Atrium + jasmine.

The example project shall show how to setup a JS project using jasmine as test runner framework + Atrium and contain a simple te

[2019-10-11 19:17] #200 closed

[2019-10-12 09:44] segunfamisa commented on #167
I'll work on this

[2019-10-12 17:15] bsemexan commented on #207
submitted PR #208 for this

[2019-10-12 19:42] wudmer commented on #202
@robstoll Hi. I tried to build project but got an error
`* What went wrong:
Execution failed for task ':atrium-cc-de_CH-robstoll-js:installMocha'.

`
Is there any known issues with build under linux? I'm use Ubuntu 19.04

[2019-10-13 13:35] piyushmor commented on #163
is someone still working on this? else I will start

[2019-10-13 13:49] piyushmor commented on #180
Hi, is someone working on this, else I will take over

[2019-10-13 14:05] piyushmor commented on #180
DeMack, are you working on this? Else, I will start

[2019-10-13 19:24] robstoll commented on #202
Nope, I am using Ubuntu 19.04 myself and it works. Have you tried `./gr clean build` ? Do you use jdk12 by chance, I have only tested it with 11, 9 and 8 on Ubuntu so far.

[2019-10-13 19:26] robstoll commented on #163
@ntedgi please answer if you are. @piyushmor feel free to start, in the worst case you both do the same work

[2019-10-13 20:33] jGleitz commented on #202
I am using Java 12 and have no issues when running `gradle build`.

[code]

[2019-10-13 22:13] aljacinto commented on #156
@robstoll I made the changed above but now getting "the sequence can be consumed only once." as expected because some of the suites have multiple tests that use the same val.  Can I initialize it beforeEachTest?  or is that why you suggested inlining it?  Does that mean inlining the creation of sequence itself?  i.e.

`expect(sequenceOf(1.0, 2.0, 3.0, 4.0,4.0).constrainOnce().asIterable()).allFun

[2019-10-13 23:45] npswedberg commented on #128
Hi new to atrium but would love to give this a shot

[2019-10-14 07:55] robstoll commented on #156
I actually think we could combine our ideas to get the best results. Change oneToFour to
[code]
And in the suites you inline `fluent` (I think most of the time it is called like that) so that in the `it("..."){..}` part it looks like the following:
[code]

[2019-10-14 07:56] robstoll commented on #128
@npswedberg go for it :+1:

[2019-10-14 12:18] #207 closed

[2019-10-14 12:19] robstoll commented on #80
@PawelRaciborski unassigned you as I did not get a feedback on the other issue you are working on. This way others can take over.

[2019-10-14 12:20] robstoll commented on #130
@RenatoViana01 un-assign you so that others can take over.

[2019-10-14 12:21] robstoll commented on #127
@PawelRaciborski un-assign you so that others can take over.

[2019-10-14 12:22] robstoll commented on #162
@sebastienD do you need help?

[2019-10-14 12:26] robstoll commented on #176
@ahmadrosid do you need any help?

[2019-10-14 12:30] #109 closed

[2019-10-14 12:37] robstoll opened #211 "ReadmeSpec should always use en_GB for number formatting"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Documentation-Code related feature

The examples in ReadmeSpec are used to populate the examples in the README.
Since the reporter in the ReadmeSpec is using the default Locale of a developer it can happen that some uses a different number formatting (happened this way in pull request #199, see changes in README.md).

[2019-10-14 13:55] robstoll commented on #202
@wudmer you can still do the changes and just push them to github and let travis and Github verify if it works. The kotlin issue was updated, as it seems we do no longer have the problem with (probably due to the update of spek to 2.0.7). Hence you can just do the first to points and you are all good.

[2019-10-14 15:08] bsemexan commented on #80
from the Kotlin example page, this would be for android?

[2019-10-14 15:36] robstoll commented on #80
I am not sure what you want to say. That it is not worth to do as it is too identical with an example you found on kotlinlang.org? (please share link)

[2019-10-14 21:26] bsemexan commented on #80
https://github.com/Kotlin/kotlin-examples/blob/master/gradle/android-junit-test/app/src/test/kotlin/org/jetbrains/kotlin/testJunit/test/KotlinJunitTest.kt

[2019-10-14 22:05] shardulsonar commented on #203
A couple of things here
1) There is no class : ExtractedFeatureOption so using ExtractedFeaturePostStep.
2) After referring to the implementation of get in listAssertions,
           For the method _isSuccess in file resultsAssertions.kt, after line 15, i have to write .withRepresentationForFailure(). And can you suggest me a parameter in that option, as there is no DescriptionListAssertion equiva

[2019-10-14 22:56] mattyway commented on #211
I'll work on this

[2019-10-15 05:05] robstoll commented on #80
Let's still do it, it will mainly be copy but I got some complaints that the setup of Atrium is too complicated. A sample project should help.
Also, please link from the installation section in the Readme.md to the sample. Thanks

[2019-10-15 05:53] robstoll commented on #203
1. :heavy_check_mark: sorry, copied from another task where it was probably named this way
2. Introduce DescriptionResultAssertion (for en_GB and de_CH) and make a suggestion.

ps: I have updated the description for domain, note that you have to register ResultAssertionsImpl as service

[2019-10-15 05:55] #211 closed

[2019-10-15 05:58] robstoll opened #213 "number formatting should use Locale of translator"
*Affected Version*: 0.8.0
*API* (fluent-en_GB, cc or cc-infix): core level
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## How to reproduce the problem
Consider the following code snippet
[code]
Will result in an error stating:
[code]

## Describe the bug
The formatting of the numbers should be dependent on the Locale specified via reporter. Maybe I am wrong but I

[2019-10-15 06:07] mattyway commented on #130
I'll work on this

[2019-10-15 08:13] wudmer commented on #202
ok, I'll try it

[2019-10-15 08:44] ntedgi commented on #163
sorry didn't manged to finish that yet

[2019-10-15 08:49] robstoll commented on #163
@ntedgi did you already start? If so, you could still push your changes as WIP PR and @piyushmor could take over from there. Up to you two

[2019-10-15 11:14] #202 closed

[2019-10-15 13:25] piyushmor commented on #163
Would totally like to take over

[2019-10-15 15:39] robstoll commented on #169
implemented with https://github.com/robstoll/atrium/commit/9505e97425b7e1ad7ba2dd7e6faed2c090deb260

[2019-10-15 15:39] #169 closed

[2019-10-15 16:10] lelloman commented on #127
I'll work on this

[2019-10-15 16:56] leelanakka commented on #176
I'll work on this?

[2019-10-15 18:38] robstoll commented on #176
@leelanakka I am not entirely sure if @ahmadrosid has given up or is still working on it. You can start as well though. In the worst case you are doing the same.

[2019-10-15 23:05] aljacinto commented on #156
@robstoll I made the changes but it's failing on the two specs below.  What are these specs for?

[code]

error message:

[code]

[2019-10-16 05:18] robstoll commented on #156
Those make sure that an assertion function using an `assertionCreator`-lambda fail if the assertionCreator is empty. For instance:
[code]
Fails because one has not defined any sub-assertions for the entry at index 0.
You can fix the problem by overloading the constructor of `AssertionCreatorSpec`:
- turn `subject: T` into a `subjectProvider: () -> T`
- delegate `subject: T` to subjectProvider

[2019-10-16 05:33] robstoll opened #216 "shortcut for Path.resolve"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do:

*lib*
- implement _resolve in PathAssertions by using `ExpectImpl.feature.f1`

*domain*
- extend PathAssertions with a function `resolve` (see existing functions as a guideline)
- modify PathAssertionsBuilder, delegate to PathAssertions (see existing

[2019-10-16 09:01] robstoll opened #217 "update gradle-wrapper to latest version"
## Code related feature

- update the gradle wrapper
- rename the resulting `gradlew` back to `gr`/`gr.bat`

## Your first contribution?
- Write a comment `I'll work on this` if you would like to take this issue over.
  This way we get the chance to revise the description in case things have changed in the meantime,
  we might give you additional hints and we can assign the task to you, so that ot

[2019-10-16 09:03] robstoll opened #218 "update tutteli-spek-extensions to 1.0.1"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature

- update spekExtensions_versions to 1.0.1 in build.gradle in the root
- fix PathAssertionsSpec and PathFeatureAssertionsSpec
- compile the project with `./gr build` to verify that all problems have been addressed

## Your first contribution?
- Write a comment `I'll work on this` if you would lik

[2019-10-16 09:13] robstoll opened #219 "Create a sample project for Atrium + spek"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code-Documentation related feature
It would be nice if we have a working example similar to the one we created for Atrium + mocha (see samples/js/mocha) but this time for Atrium + spek (so JVM and not JS)
The example project shall show how to setup spek + atrium and include a simple test

This task is a good first is

[2019-10-16 10:14] pr0t3us commented on #217
I'll work on this

[2019-10-16 15:11] bsemexan commented on #80
can you point me toward a good example of what the buildgradle file should look like for the jvm tests?

[2019-10-16 18:56] robstoll commented on #80
You can use Intellij -> Menu File -> new Project -> gradle -> Kotlin/JVM for a start. Just remove the jdk8 specific things (e.g. use kotlin-stdlib and not kotlin-stdlib-jdk8)

[2019-10-16 19:52] iamshubh commented on #219
I will work on this!
I want to get started on open source contribution

[2019-10-17 02:52] ShradhaSangtani commented on #218
I'll work on it

[2019-10-17 04:49] aljacinto commented on #156
I thought the failure is because of the change to one time iterable (below).  But it only happens in ```AssertionCreatorSpec```
[code]

[2019-10-17 06:49] robstoll commented on #156
Have a look into AssertionCreatorSpec. It expects `subject` and consumes it multiple times => the spec not the assertion functions. Hence it is a problem of the spec and not of the implementation. If you change `subject` to `subjectProvider: () -> T` as suggested and use it in line 26 `expect(subjectProvider())` then you have resolved this problem. It is basically the same problematic as for `expe

[2019-10-17 07:36] jGleitz commented on #150
@robstoll: Please be aware that this decision introduces some inflexibility, which I experience in #140: I create Assertions of which I do not know yet whether they will be shown alone or in a group. Having to work around this is possible, but also somewhat awkward.

Semantically speaking, it makes sense from my point of view to have an `ExplanatoryAssertion` that is not in a `ExplanatoryGroup`: I

[2019-10-17 07:49] robstoll commented on #150
For this we have RepresentationOnlyAssertion now

[2019-10-17 08:27] shardulsonar commented on #203
@robstoll :
1. I have added the `DescriptionResultAssertion.kt` in en_GB for now. Please let me know if it is ok.
2. I have added the implementation for `_isSuccess()`, but I am getting an error as
Required : `ExtractedFeaturePostStep<T, E>`
Found     : `ExtractedFeaturePostStep<T, E?>`
Attached an image for the same.

I have a small idea about the null saftey in kotlin, but I couldn't think of a

[2019-10-17 12:01] robstoll commented on #203
See review in the PR and please open up a new one where your PR is based on the latest version of the master branch (also see link in the PR)

[2019-10-17 18:08] jGleitz commented on #150
Yes, but this is the inflexibility I am talking about: When creating the assertion, I have to already know whether the Assertion will end up in an `ExplanatoryGroup` or not. I would like to write code where this is only decided at a later point.

What is your intended semantic difference between an `ExplanatoryAssertion` and a `RepresentationOnlyAssertion`? Why can we not just use a `Representatio

[2019-10-17 18:57] robstoll commented on #150
ExplanatoryAssertion will be made obsolete once we have Reportable. RepresentationOnlyAssertion can of course also be used within an ExplanatoryAssertion (as all other assertions).

[2019-10-17 22:08] shardulsonar commented on #203
I have created a new PR with the mentioned changes.

[code]
However I think that even Using unboxed here is not 100% clear for some one who is using this feature for the 1st time.
I am not sure what could be the correct word there, I think  it could be.
[code]

[2019-10-17 22:09] shardulsonar commented on #203
Also when I run a build I get an error :

e: D:\SRH\shardulsonar-atrium\domain\robstoll\atrium-domain-robstoll-js\src\main\kotlin\ch\tutteli\atrium\domain\robstoll\registerServices.kt: (40, 46): Unresolved reference: kotlin_1_3
e: D:\SRH\shardulsonar-atrium\domain\robstoll\atrium-domain-robstoll-js\src\main\kotlin\ch\tutteli\atrium\domain\robstoll\registerServices.kt: (40, 120): Unresolved referen

[2019-10-17 22:40] Keerthi4308 commented on #216
Hi, I like to work on this task

[2019-10-17 23:03] JithendraD commented on #155
@robstoll hey can I work on this?

[2019-10-17 23:08] JithendraD commented on #34
hey @robstoll, can I work on this

[2019-10-18 02:51] aljacinto commented on #156
That was not it, I changed as you suggested and still have the same issue.  It is failing because of this chained statement:

[code]

which is the same as doing below, which also failed because we are trying to access the same sequence on the second `all` call.  Sorry, I don't know enough if that syntax makes sense but it is allowed.

[code]

I can simply change the AssertionCreatorSpec to below t

[2019-10-18 05:39] robstoll commented on #155
@JithendraD This is planned for the next version and not the one we are currently working on. I can ping you once we are working on 0.10.0 if you like

[2019-10-18 05:55] robstoll commented on #34
@JithendraD This is certainly not an easy task to start with and I recommend you start with a [good first issue](https://github.com/robstoll/atrium/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee) first. But you can give it a go if you like

[2019-10-18 06:50] robstoll commented on #156
Good. The syntax makes sense and I see that you understand the problem :+1:
In this case we have to workaround the problem differently as the test wants to assert that the report contains only the problem about the empty assertionCreator-lambda and not the `createAssertionOk`.
Hence:
- change the implementation back to `subject` (and not `subjectProvider`)
- rewrite
[code]
to `oneToSeven().toList(

[2019-10-18 07:01] robstoll commented on #203
I think you are right as `unboxed` does not include the assumption of the developer that it is a `Success`. The same goes for your suggestion `The result is` IMO. What do you think about the following two? Which one do you like more:
[code]
Or
[code]

[2019-10-18 07:17] jGleitz commented on #150
Ah, now I get what you are planning. Makes total sense. Thanks!

[2019-10-18 07:41] robstoll commented on #180
@DeMack do you need help? un-assining you so that others can take over until I get a response

[2019-10-18 08:03] robstoll opened #223 "anyAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 08:32] robstoll opened #224 "comparableAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 08:33] robstoll opened #225 "floatingPointAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 11:30] robstoll opened #226 "arrayAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 11:32] robstoll opened #227 "collectionAssertion for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 11:38] robstoll opened #228 "listAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related list

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following the

[2019-10-18 11:48] robstoll opened #229 "mapAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 11:51] robstoll opened #230 "mapEntryAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 11:56] robstoll opened #231 "pairAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 11:56] robstoll opened #232 "sequenceAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 12:54] robstoll opened #233 "bigDecimalAssertions for the new infix API"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature

We want to migrate the `api-cc-infix-en_GB...` modules which are based on `Assert` to `Expect`. We have already created the corresponding
modules `api-infix-en_GB...`. Also there are already `fluent-en_GB...` modules where we have already done the transition from `Assert` to `Expect`

Following

[2019-10-18 15:58] thorwessel commented on #223
I'll work on this

[2019-10-18 16:21] sneha122 commented on #233
I'll work on this

[2019-10-18 16:54] Caps-Looking commented on #232
I'd like to work on this.

[2019-10-19 06:30] shardulsonar commented on #203
I would suggest we use this :
[code]

[2019-10-19 11:23] robstoll opened #234 "remove limit of stacktrace - filtering them should be enough"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
We sometimes show the stracktrace of an exception as Hint for the user, e.g. if a wrong exception is thrown:
[code]

Or if a file cannot be accessed:
[code]

Currently we have hard-coded the max-length of the stacktrace included in the hint (per exception - so a cause with an own stacktrace is sh

[2019-10-19 11:45] robstoll commented on #203
Good, let me know when I shall re-review your WIP and keep on having fun coding 🙂

[2019-10-19 12:13] shardulsonar commented on #203
I have pushed the code and resolved the comments that were suggested earlier.
But I still have an issue with the building of the application. I have mentioned it in the WIP Pull Request.

[2019-10-19 12:55] thecoldstone commented on #228
I'll work on this

[2019-10-19 14:00] jGleitz commented on #234
I agree that this should be configurable. The main use case I see is that I had multiple occasions where the exception would have been helpful if I had seen more of the stack trace. However, atrium only showed me the parts that were in foreign code.

How do you plan to make this changeable? I am not sure that it is worth the effort to add a parameter to all assertions that could possibly display a

[2019-10-19 15:01] dexpota commented on #231
I will work on this

[2019-10-19 16:26] #111 closed

[2019-10-19 16:26] #112 closed

[2019-10-19 16:56] robstoll commented on #234
Could you show a reporting of such an error please, that would be helpful for the discussion.

We already filter the stacktrace of a resulting AtriumError (if an exception fails) -- following an example how an error report could look like for the example above with toThrow:
[code]

However, we do not filter the stack of the unexpected Throwable (IllegalArgumentException above). Because the  first

[2019-10-19 21:25] robstoll opened #235 "setup code coverage for windows"
## Dev-Ops related feature

We have some Windows specific code due to Path assertions => It would be nice to see them covered in the code coverage report as well. Thus:

- adjust .github/workflows/java-windows.yml
  => see https://github.com/codecov/codecov-action for the setup of codecov (the secrret CODECOV_TOKEN is already setup)
  - please use `flags: current-windows`
  - coverage files are cr

[2019-10-19 21:43] robstoll commented on #217
@pr0t3us unfortunately,I had to revert your commit as it caused problems in intellij. Projects could no longer be imported properly. Do you fancy to give it another shot and try to fix the problem with importing? Following the failure reported by IDEA
[code]

[2019-10-19 21:57] robstoll opened #236 "create bundles for the new infix API"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none and all

## Code related feature
The new infix API (infix-en_GB) needs bundles as well so that one can depend on a single dependency. We want three bundles (not mentioning the platform variations, they should be set up automatically):
- atrium-infix-en_GB
- atrium-infix-en_GB-jdk8 (includes JDK 8 specific assertion funct

[2019-10-20 10:54] robstoll commented on #223
@thorwessel do you need help?

[2019-10-20 10:57] thorwessel commented on #223
Sorry I will have to pass this one on.

[2019-10-20 10:59] robstoll commented on #223
Do you want to take another one?

[2019-10-20 11:02] thorwessel commented on #223
Thanks, I'll keep an eye open for issues.

[2019-10-20 14:03] yiss commented on #236
Hey I'm interested to work on this issue. Can you please provide more details that would be very helpful thank you

[2019-10-20 14:14] robstoll commented on #236
@yiss what do you not understand from the description?

[2019-10-20 14:21] yiss commented on #236
@robstoll Thanks for your prompt response. I just want to make sure that what is in my mind is what is actually requested.
So basiclly the issue is to
 - Rename all the modules from : ```atrium-fluent-en_GB-*``` to ```atrium-infix-en_GB-*```
 - Change the test api from the old fluent api to the new infix api.
 - Change the name of ```fluent-en_GB``` to ```infix-en_GB```in the ```settings.gradle```

[2019-10-20 14:23] robstoll commented on #236
Not quite, the request is to duplicate bundles/atrium-fluent-en_GB-* and rename the duplicate to atrium-infix-en_GB-*

[2019-10-20 14:30] yiss commented on #236
@robstoll Thank you. I'll start working on it

[2019-10-20 14:32] robstoll opened #239 "extend IterableContainsInAnyOrderAtLeast1ElementsOfAssertionsSpec with check for empty iterables"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Test related feature
[code]
The current specs do not cover the case of passing an empty `Iterable` to elementsOf. We want to make sure that this behaviour is implemented by elementsOf

Thus:
- add this test case to IterableContainsInAnyOrderAtLeast1ElementsOfAssertionsSpec
  => add
[code]
  after the `include`

## Yo

[2019-10-20 16:03] yiss commented on #236
@robstoll I have a question. To use the infix api which import should I use :
  - ```assertThat(1).toBe(1)``` to ```assertThat(1) toBe 1``` does't work and I don't know which import to use. Can you help please, Thank you

[2019-10-20 16:50] dragid10 commented on #229
I can take this one on!

[2019-10-20 17:19] robstoll commented on #236
Ah... this does not work yet (requires #223). Please comment it out and add a `TODO #233 uncomment once toBe is implemented`

[2019-10-20 19:37] yiss commented on #236
@robstoll Hey I just pushed my modification to my branch https://github.com/yiss/atrium can you please check and tell me if it's correct. Also I have a problem when running the tests with gradle I get some errors, but when I run it with Intellij there are no errors

[2019-10-20 20:37] robstoll commented on #236
Could you please create a pull request, makes it easier for me to review

[2019-10-20 20:55] gemasr commented on #224
I'd like to work in this one

[2019-10-20 21:22] Megamiun commented on #239
I'll work on this

[2019-10-20 23:58] iamshubh commented on #230
I'll work on this

[2019-10-21 06:46] Kshitij09 commented on #226
I'll work on this.

[2019-10-21 08:07] yiss commented on #236
@robstoll I made a pull request #243

[2019-10-21 11:39] aljacinto commented on #156
@robstoll Any thoughts on why it is failing in `IterableAnyAssertionsSpec`???

[2019-10-21 14:42] robstoll commented on #156
`IterableNoneAssertionsSpec` and `IterableContainsNotValuesAssertionsSpec`are failing as well (and others). It could be that the implementation is wrong and you have now successfully revealed a bug I feared was in Atrium :tada:

You can either:
<hr/>
Dig into the stacktrace, debug the corresponding Spec and see why the iterable gets consumed twice. For instance:
[code]
Fails due do:
[code]
So set

[2019-10-21 18:13] ratkayandras commented on #227
I want to work on this.

[2019-10-21 19:49] shardulsonar commented on #203
@robstoll

I have added all the changes mentioned (except the test cases).
I am getting a compilation error on the _isSuccess() implementation

Required : ExtractedFeaturePostStep<T, E>
Found   : ExtractedFeaturePostStep<T, Any>
Also I am unable to build the project (./gr build) :

e: D:\SRH\shardulsonar-atrium\apis\fluent-en_GB\extensions\kotlin_1_3\atrium-api-fluent-en_GB-kotlin_1_3-common\src\m

[2019-10-21 20:09] robstoll commented on #203
I'll have a look tomorrow morning

[2019-10-21 20:27] #239 closed

[2019-10-22 00:32] bsemexan commented on #80
https://github.com/bsemexan/atrium/commit/2e29cf5e880107edbb08be54e87d31bad808bec8

`FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':android'.

`

[2019-10-22 02:59] npswedberg commented on #128
Hi I think I am a bit confused on the last point "extend IterableContainsInOrderOnlyValuesAssertionsSpec (add another include, similar to BuilderSpec)". I am assuming I am going to make a new spec file called IterableContainsInOrderAtLeast1ElementsOfAssertionSpec. By extend do you mean that my new spec should inherit from the ValuesAssertionSpec? Sorry I am very new to Kotlin and any hints would b

[2019-10-22 03:00] npswedberg commented on #128
`package ch.tutteli.atrium.api.fluent.en_GB

import ch.tutteli.atrium.creating.Expect
import org.spekframework.spek2.Spek
import kotlin.reflect.KFunction3

class IterableContainsInOrderAtLeast1ElementsOfAssertionSpec : Spek({
    include(BuilderSpec)
    include(ShortcutSpec)
    //include(IterableContainsInOrderOnlyValuesAssertionsSpec)

}) {
    object BuilderSpec : ch.tutteli.atrium.specs.integ

[2019-10-22 05:51] robstoll commented on #80
Where have you put your project. This error message appears when the project was selected to be published but projects in the samples folder shouldn't be picked

[2019-10-22 06:03] robstoll commented on #128
Your approach is fine as well and maybe even better thinking in longer terms. Yet, please delete `ShortcutSpec` as you don't implement a shortcut (only the builder). A few notes about the code above:

Please name your function just elementsOf (no need for the inOrder suffix).
I suggest you create a pull request, this way I can review your code you wrote so far and give you additional hints.

[2019-10-22 07:55] ratkayandras commented on #227
Hi, I don't really know why but I do not get an invitation for the slack channel so I have to ask my questions here.

I was able to create the infix functions in collectionAssertions.kt like:
 `infix fun <T : Collection<*>> Assert<T>.toBe(@Suppress("UNUSED_PARAMETER") Empty: Empty)
= addAssertion(ExpectImpl.collection.isEmpty(this))`

I was able to create the functions for each assertion function

[2019-10-22 08:17] robstoll commented on #227
I guess you have tried: https://surveys.jetbrains.com/s3/kotlin-slack-sign-up
I can send you an invitation if you give me your email address (send me an email to rstoll@tutteli.ch if you don't want to post it here).

Concerning your question. You can use `fun0`, `fun1` etc. this should work. However, you don't have the same signature as in fluent and your function name is different. Which means, i

[2019-10-22 14:08] robstoll opened #245 "Build samples as composite build"
## Dev-op related feature
We have currently two js projects in /samples. It would be nice if we could create the projects as independent projects, like we did for samples/jvm/spek and samples/jvm/junit5. Meaning with an own settings.gradle, build.gradle and gradlew so that one can really just copy the project and immediately start.

Those projects have to use a published version of Atrium and cann

[2019-10-22 15:32] robstoll commented on #227
Please do not add an `hasSize` function, this one is will be deprecated on the old infix API and should not be included in the new infix API. Why did you want to add it, is it somewhere in the fluent API? (I am asking because this would be a mistake)

The CollectionFeatureAssertionsSpec shall test the property `size` which is not infix, so for this you can use `property<Collection<String>, Int>(Ex

[2019-10-22 15:37] ratkayandras commented on #227
Okay thank you for your answer.
[code]
This is in `package ch.tutteli.atrium.api.fluent.en_GB` and this is why I assumed that you want this function in the infix api as well.

[2019-10-22 15:42] robstoll commented on #227
Ok, keep it for now, I can still remove it later on, maybe I changed my mind and I cannot remember :older_man:

[2019-10-22 23:36] Megamiun commented on #136
Hello, what should be put at the name of the SpekEngineDescriptor on the case of DiscoveryFailed?

[2019-10-23 00:29] bsemexan commented on #80
Looks like the bug you fixed introduced a bug elsewhere

178 tests completed, 39 failed, 8 skipped

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':atrium-api-fluent-en_GB-jdk8-jvm:test'.

[2019-10-23 01:21] Megamiun commented on #162
Which should be the behaviour in the case of an empty list, when there is no max?

[2019-10-23 03:21] npswedberg commented on #128
Hi Rob, Thank you so much for the help! Here is the PR https://github.com/robstoll/atrium/pull/247

[2019-10-23 03:22] npswedberg commented on #128
My current build is broken because the pattern I was following expected integration tests. Should I write integration tests for this feature?

[2019-10-23 05:54] robstoll commented on #80
Where do you get this error? master is green.

[2019-10-23 05:57] robstoll commented on #162
@Megamiun good point. I have not thought about that. In this case it should fail as well with an assertion explaining the reason; something like:
[code]

[2019-10-23 06:15] robstoll commented on #136
@Megamiun I guess you plan to change the `try-catch` in the `discover` fun. Right? Otherwise I don't know what your question is. We do no longer require the try-catch (see ReadmeTestEngine) and instead we can pass `--fail-if-no-tests` to the ConsoleLauncher (see build.gradle in atrium-bc-test

[2019-10-23 06:41] robstoll commented on #128
@npswedberg yes tests are required. See review for details why your build fails.

[2019-10-23 08:33] gawarz commented on #180
I'll work on this.

[2019-10-23 08:46] bsemexan commented on #80
I rebased the branch on master and ran ./gr build from /atrium

[2019-10-23 09:03] robstoll commented on #80
please fetch and rebase again just to be sure you are on the latest and run `./gr clean build` it should be green (see https://travis-ci.org/robstoll/atrium/branches)

[2019-10-23 19:55] DiscreetDmitriy commented on #223
Can I try this one?

[2019-10-23 20:19] robstoll commented on #223
Sure, go for it :+1:

[2019-10-24 02:31] bsemexan commented on #80
I did and I am still getting the same error.
https://github.com/bsemexan/atrium

 maybe try and clone my repo and see what you get?

[2019-10-24 03:41] robstoll commented on #80
Can you create a PR please, makes it easier for me to review your code

[2019-10-24 04:45] npswedberg commented on #128
Thanks for the feedback the PR has been updated

[2019-10-24 05:28] robstoll commented on #80
@bsemexan I reviewed your PR, I also ran your code locally and I didn't get an error

[2019-10-24 05:46] robstoll commented on #204
@Anubhav007 do you need help?

[2019-10-24 05:47] robstoll commented on #216
@Keerthi4308 do you need help?

[2019-10-24 07:41] robstoll opened #251 "Simplify PathAssertionsSpec, remove SymlinkTestBuilder"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
The setup with the SymlinkTestBuilder + MaybeLink is a bit over-engineered IMO and is hard to comprehend for newcomers. A spec should be written in a simpler manner without inheritance involved. I suggest we rewrite it to a function based solution.

[2019-10-24 16:05] bsemexan commented on #80
Could it be because I am using macOS Catalina?

[2019-10-24 16:08] robstoll commented on #80
I hope not but maybe (PathAssertionSpec is a bit OS-dependent), can you show me the failing tests, that would certainly help.

[2019-10-24 16:19] bsemexan commented on #80
the error I was getting was about jdk8, so I uninstalled all adopton/openjdk instances, then reinstalled openjdk12 and now this is the error i get
`
berr@mbp atrium % ./gr clean build

e: No class roots are found in the JDK path: /Library/Java/JavaVirtualMachines/openjdk-12.0.1.jdk/Contents/Home

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':atrium-core-a

[2019-10-24 16:24] robstoll commented on #80
This sounds like a problem with your JDK installation which I am not aware of. I recommend reinstallign openjdk again.

[2019-10-24 16:54] bsemexan commented on #80
I uninstalled all the adopton stuff and just went a java cask and the previous error is back
[code]

[2019-10-24 16:59] robstoll commented on #80
Have a look at the error message. The test fails because you have setup a symlink loop. Now either this is true and you could fix it or the symlink detection is wrong:
[code]

[2019-10-24 17:02] piyushmor commented on #163
@robstoll  Kindly check the PR again. If the changes are fine. I have issues in adding the Feature Test

[2019-10-24 17:05] robstoll commented on #163
What issues? I'll take a look now

[2019-10-24 17:10] piyushmor commented on #163
I took `size` as a reference, which returns an `Expect<Iterable<E>>` whereas get returns an `Expect<E>`. Not sure why the test expects a different behavior. will commit the test even if compilation breaks once you confirm what i have done so far is fine.

[2019-10-24 17:18] robstoll commented on #163
Please push the code as well, hard to tell what you mean without further context

[2019-10-24 21:49] piyushmor commented on #173
👍

[2019-10-25 06:17] robstoll commented on #173
@piyushmor thanks for your feedback, I deleted your comment as I don't want to encourage people writing a comment with a single 👍 (otherwise this issue gets cluttered). I prefer the reaction.
Btw. if you know other people wanting this feature then encourage them to react with 👍 as well.

[2019-10-25 07:08] #218 closed

[2019-10-25 17:23] robstoll commented on #31
@javatarz do you need help?

[2019-10-25 22:36] npswedberg commented on #230
Hi Rob, could you assign this to me?

[2019-10-25 23:12] aljacinto commented on #156
Is there a way to get rid of the coroutine timeout?

[code]

[2019-10-26 03:25] robstoll commented on #156
I don't know it by heart but look at spekframework.org. I think it is written somewhere. Where do you get it? This should not happen. PathAssertionSpec?

[2019-10-26 05:46] robstoll commented on #68
I am putting a `needs votes` label as no one requested this simplification so far and I don't require it myself.
Please react with :+1: in case you want it.

[2019-10-26 10:53] iamshubh commented on #219
@robstoll , kindly assign me again on this

[2019-10-26 14:05] robstoll commented on #113
@byarr do you need help?

[2019-10-26 14:12] robstoll commented on #224
@gemasr do you need help?

[2019-10-26 14:12] robstoll commented on #226
@Kshitij09 do you need help?

[2019-10-26 14:14] robstoll commented on #227
Implemented by 62ff3ff3833095c7981e42e98716959c267f0569

[2019-10-26 14:14] #227 closed

[2019-10-26 14:15] robstoll commented on #229
@dragid10 do you need help?

[2019-10-26 14:16] robstoll commented on #231
Implemented by aa6e17d1c04c9c47f88885f80dc03af7429a92e5

[2019-10-26 14:16] #231 closed

[2019-10-26 14:16] robstoll commented on #232
@Caps-Looking do you need help?

[2019-10-26 14:17] robstoll commented on #233
@sneha122 do you need help?

[2019-10-26 14:18] robstoll commented on #163
Implemented by da897cb2322872452deb0e22ef875c16043a3b9d

[2019-10-26 14:18] #163 closed

[2019-10-26 14:21] robstoll commented on #128
Implemented by 71f7be4baac3eefc13d5e6067c2950fc6606ad6b

[2019-10-26 14:21] #128 closed

[2019-10-26 14:36] robstoll commented on #162
Implemented by fabde3df968e74a6128e392aa64c1967e4d1565f

[2019-10-26 14:36] #162 closed

[2019-10-26 14:38] dragid10 commented on #229
Sorry I haven't had much time to work on it this past week, But I'll reach out tomorrow if I need help!

[2019-10-26 17:47] robstoll commented on #219
implemented by dccb5c8da6ed165cd3cc4c8f43eb4e5f2653574c

[2019-10-26 17:47] #219 closed

[2019-10-26 18:32] sanatik commented on #82
I spent some time this week trying to figure out how to make this work(feel dumb a bit :D), but it's still really unclear for me.
`and add the assertions to it via addAssertionsCreatedBy` what assertions? Sub-assertions? Filter assertion itself?
I did not get the idea of `Assertion.holds()`, what it does exactly?
I have more questions, but I hope those two will drive me into the right direction.
M

[2019-10-26 18:32] sanatik commented on #228
I'll work on this

[2019-10-26 18:40] iamshubh commented on #245
Hey, assign it to me

[2019-10-26 18:48] iamshubh commented on #81
Hey assign it to me..

[2019-10-26 19:53] sanatik commented on #228
Question:
What to do with
[code]
Do I need also to copy `ListGetOption` class and provide a `fluent builder to finish the assertion`? Seems like I can remove this during migration, but not sure.
The same about `Index` data class. It just holds integer index, does it make sense to keep it?

[2019-10-26 20:05] robstoll commented on #228
First of all, I am open for new ideas. Currently the infix API for List looks as follows:
https://github.com/robstoll/atrium/blob/master/apis/differences.md#list-get

Unless you have a different idea how we can provide an infix api without `Index` and ListGetOption (please name it `ListGetStep` though, we want to move away from using `Option` in naming) you have to migrate it (copy&paste basically

[2019-10-26 20:08] sanatik commented on #228
OMG, sorry.
I looked at different file :(
I looked in package `atrium-api-cc-infix-en_GB-common` instead of `atrium-api-fluent-en_GB-common` and did totally wrong thing for an hour now.
Reverting back my stuff and going to do it from the scratch.

[2019-10-26 20:10] robstoll commented on #228
You're not wrong at all. In the end it is a migration from atrium-api-cc-infix-en_GB-common to atrium-api-infix-en_GB-common and `ListGetOption` is something you will not find in atrium-api-fluent-en_GB-common

[2019-10-26 20:18] robstoll commented on #82
Let's start off by an example, makes maybe things easier to illustrate and discuss about:
[code]

`and add the assertions to it via addAssertionsCreatedBy` referred to all assertions defined within the assertionCreator-lambda of filter. So above `{ startsWith("r") }`

`Assertion.holds()` tells you if the assertion holds for the given subject or not. So above `startsWith("r")` holds for `"robert"`

[2019-10-26 20:30] robstoll opened #254 "shortcut for LocalDate(Time) and ZonedDateTime.dayOfWeek"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for LocaleDateTime and ZonedDateTime):

*domain*
- extend LocalDateAssertions with a function `dayOfWeek` (see LocalDateAssertions.year or month as a guideline)
- modify LocalDateAssertionsBuilder, delegate to LocalDateAssertion

[2019-10-26 20:48] robstoll commented on #82
@sanatik please don't spend more time on this one for know, I just realised that this feature is kind of incomplete without the possibility of `or` (see https://github.com/robstoll/atrium-roadmap/issues/47 for more details)

[2019-10-26 21:11] robstoll commented on #138
@RenatoViana01 I guess you are no longer working on it, right?

[2019-10-26 21:27] sanatik commented on #254
I'll work on this

[2019-10-27 12:29] sanatik commented on #235
Read about GitHub actions recently, sounds interesting for me.
I'll work on this.

[2019-10-27 14:08] #254 closed

[2019-10-27 14:50] #228 closed

[2019-10-27 15:39] Kshitij09 commented on #226
No. Was busy in exams.:sweat_smile: Will work on it now.

[2019-10-27 20:38] byarr commented on #113
@robstoll Sorry, I did take quick look at this. But I havnt really got the time right now. Unassigning myself.

[2019-10-27 20:43] robstoll commented on #113
@byarr no problem if you need longer, just wanted to make sure you are not stuck. Rich out here if you want to take it over again and I re-assign it to you.

[2019-10-27 21:01] robstoll opened #258 "symlink loop detection reporting wrong"
*Affected Version*: 0.9.0-alpha
*API* (fluent-en_GB, cc or cc-infix): fluent
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## How to reproduce the problem
on a linux system:
[code]
Run PathAssertionsSpec afterwards -> there will be failures similar to:
[code]

*Edit* most of them have more to do with test-setup and not with the detection as such. This was fixed in

[2019-10-27 21:54] robstoll commented on #80
@bsemexan it is a bug in Atrium (see #258) which turns up on macOs (other users encounter the same problem). The PathAssertionSpec was adopted so that the failing tests are skipped in case of this bug. Can you please confirm that you can now run the tests successfully (needs a rebase on master)?

[2019-10-27 21:57] jGleitz commented on #251
I wrote this piece of code and agree that it is more complex than your typical unit test should be.

Please be aware that by removing the `withAndWithoutSymlink` function, you either double the amount of written unit test code lines or reduce the tested cases.

When I wrote this logic, I was aware that it was pretty heavyweight for unit tests and that it added complexity. I felt like it was worth

[2019-10-28 00:04] dragid10 commented on #229
In trying to fix the Expect.contains function I am unable to use `this contains Pairs(keyValuePair)` while getting the message `Type checking has run into a recursive problem. Easiest workaround: specify types of your  declarations explicitly `

[2019-10-28 05:09] bsemexan commented on #80
My mac is out of commission so I won't be able to until I get it checked out.

[2019-10-28 06:47] jGleitz commented on #258
I have found the bug that causes the link loop to be reported wrong. Unfortunately, the code is wrong at a deeper level, as it will also produce false positives for more complicated link setups that do not actually form a loop.

I will redo and fix the logic, but might need some days time for that.

[2019-10-28 06:51] robstoll commented on #258
No problem as macOs users should not get red tests any more.

[2019-10-28 06:55] jGleitz commented on #234
Ah, that is a lot better than what I had in mind :+1:.

I was not really thinking about _filtering_ (i.e. not showing) the lines but rather not counting them towards the max stacktrace count.

I was thinking about something like this one:

[code]

When I got this one, it would have been crucial for me to find the line in _my_ code that was causing the exception. But I have realised that some sort

[2019-10-28 06:57] jGleitz commented on #234
We would make this feature easy to discover, if, when shortening stack traces, we do not simply print

[code]

but something like

[code]

wording improvement needed.

[2019-10-28 07:01] robstoll commented on #229
It's always easier for me to see all code to help out with a problem. Can you create a PR please? You can suffix the title of the PR with WIP which stands for work in progress

[2019-10-28 09:14] #130 closed

[2019-10-28 09:36] robstoll opened #259 "ChronoLocalDate(Time) and ChronoZonedDateTime.isAfter"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for `ChronoLocalDateTime<D>` and `ChronoZonedDateTime<D>` with `D: ChronoLocalDate`):

*domain-lib*
- create chronoLocalDateAssertions.kt (in the same folder as localDateAssertions.kt) and implement _isAfter in it by using the `

[2019-10-28 09:37] robstoll opened #260 "ChronoLocalDate(Time) and ChronoZonedDateTime.isBefore"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for `ChronoLocalDateTime<D>` and `ChronoZonedDateTime<D>` with `D: ChronoLocalDate`):

*domain-lib*
- create chronoLocalDateAssertions.kt (in the same folder as localDateAssertions.kt) and implement _isBefore in it by using the

[2019-10-28 09:38] robstoll opened #261 "ChronoLocalDate(Time) and ChronoZonedDateTime.isBeforeOrEquals"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for `ChronoLocalDateTime<D>` and `ChronoZonedDateTime<D>` with `D: ChronoLocalDate`):

*domain-lib*
- create chronoLocalDateAssertions.kt (in the same folder as localDateAssertions.kt) and implement _isBeforeOrEquals in it by us

[2019-10-28 09:39] robstoll opened #262 "ChronoLocalDate(Time) and ChronoZonedDateTime.isAfterOrEquals"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for `ChronoLocalDateTime<out ChronoLocalDate>` and `ChronoZonedDateTime<out ChronoLocalDate>`

*domain-lib*
- add _isAfterOrEquals to chronoLocalDateAssertions.kt by using `ExpectImpl.builder.createDescriptive(...` (see comparab

[2019-10-28 16:04] robstoll commented on #234
Hm... Maybe we shouldn't limit the stacktrace at all. We only show it in case of an unexpected Throwable. Or maybe stop once we hit test runners.

[2019-10-28 21:16] vivek0203 commented on #262
I am working on this

[2019-10-29 19:29] jGleitz commented on #234
Hm. Since we are talking about _unexpected_ exceptions, it maybe really makes sense to print the whole stack trace. Even though that can get very long.

[2019-10-29 19:38] robstoll commented on #234
Maybe my conclusion was too fast. Are all the exceptions you print in conjunction with Path assertions also unexpected?

[2019-10-29 19:41] jGleitz commented on #234
I am not sure that I understand, what you mean. Generating additional explanations should almost never yield a new exception. This should only happen in race conditions.

Additionally, the most typical IoExceptions that can occur while testing the assertion are not even shown to the user. They are replaced by an explanation.

[2019-10-29 19:57] robstoll commented on #234
Writing from my phone and did not take a look at the code, that's why my question seem strange 😄 good it's what I expected. Could you reproduce your use case and increase the current limit to 1000 so that you see everything. I wonder if it really makes sense to print all. Maybe filtering would make sense here as well.

[2019-10-29 21:24] robstoll commented on #234
They are already filtered :tada:

[2019-10-30 14:23] leelanakka commented on #176
I've pushed the code, can you reassign that to me?
let me know in case anything needs to be done

[2019-10-30 14:55] KMaragh commented on #261
I'll work on this!

[2019-10-30 20:14] robstoll commented on #80
Oho... good luck with that. Once you take up the work I suggest that you introduce an independent project alike the one in samples/jvm/spek (with own gradlew, build.gradle etc.). This way you definitely should not get a build error when you build the sample project on its own.

[2019-11-04 07:31] robstoll commented on #180
@gawarz let me know in case you need help

[2019-11-04 07:34] robstoll commented on #223
@DiscreetDmitriy do you need help?

[2019-11-04 09:36] robstoll commented on #160
Implemented with 1beabd3

[2019-11-04 09:36] #160 closed

[2019-11-04 09:45] DiscreetDmitriy commented on #223
@robstoll Yeah, I tried to do this issue but got a little bit confused, I'll write you in a few hours in slack and try again, okay?

[2019-11-04 11:30] #258 closed

[2019-11-06 13:28] name213 commented on #259
I'll work on this

[2019-11-06 16:05] robstoll commented on #156
@aljacinto do you need help?

[2019-11-07 14:09] aljacinto commented on #156
@robstoll got sidetrack with other projects, I'll come on it tonight and let you know.

[2019-11-09 04:03] aljacinto commented on #156
@robstoll the second call is coming from this method, specifically the `parameterObject.assertionFilter(assertion)` . Is it suppose to call that?  Put the call stack below as well for the second call to search

[code]

[code]

[2019-11-09 18:51] npswedberg commented on #230
Hi Rob, I haven't made as much progress on this one as I would have liked. I am having a lot of trouble with the MapEntryAssertionsSpec class. I have been reading about reflection inside of Kotlin. It is my understanding that the line "fun2(Expect<Map.Entry<String, Int>>::isKeyValue)" passes in a function reference of "isKeyValue" to the testing class. Within the companion object I am confused abo

[2019-11-09 18:59] npswedberg commented on #230
https://github.com/robstoll/atrium/pull/267/commits/09f7481a1673440fb9dc2442dc583aef5dbe8639

[2019-11-11 07:18] robstoll commented on #127
@lelloman are you still working on it, do you need help?

[2019-11-11 07:30] robstoll commented on #167
@segunfamisa do you need help?

[2019-11-11 07:32] robstoll commented on #229
@dragid10 could you solve your problem?

[2019-11-11 08:33] robstoll commented on #230
Your understanding is correct `Expect<Map.Entry<String, Int>>::isKeyValue` gets a function reference. Maybe the confusion comes from `fun2`? `fun2` is a helper function to do two things, get the name of a function (out of the given KFunction) and use the function as such (KFunction as lambda). Further tips are given in the review

[2019-11-11 09:27] lelloman commented on #127
Hi @robstoll sorry I got very busy lately. I tried to implement it once but got lost, I'd like to give it another try this week and eventually ask for specific help if that's OK

[2019-11-11 09:59] robstoll commented on #156
@aljacinto thanks for the further investigation. This call is correct and can most likely not be changed (without a lot of effort). I suggest we implement the fix I mentioned above. Shall I take over from here?

[2019-11-11 14:51] aljacinto commented on #156
Go for it, I just don't know where to make that change :)

[2019-11-13 22:38] robstoll commented on #156
Implemented with 022c9275

[2019-11-13 22:38] #156 closed

[2019-11-14 20:08] aljacinto commented on #216
Hi @robstoll I'll work on this

[2019-11-16 16:43] piyushmor commented on #217
Hi @robstoll , I can take this over. Also, Gradle 6.0 is out!

[2019-11-18 09:09] name213 commented on #259
Hey, just wanted to give you an update, I was kinda busy so I started working on this yesterday

[2019-11-18 18:13] robstoll commented on #245
@iamshubh do you need help?

[2019-11-18 18:42] robstoll commented on #226
@Kshitij09 do you need help now?

[2019-11-19 18:08] iamshubh commented on #245
Did not get time to loom into it, will check this out!

[2019-11-20 11:18] Kshitij09 commented on #226
Actually I'm getting busy in some other stuff. You may unassign me if it has to be implemented urgently. Otherwise, I'll work on it when get the time.

[2019-11-20 11:30] robstoll commented on #226
Un-assigning you, so that others can take over. You are welcome to come back and contribute any time (to this or another issue)

[2019-11-20 11:36] Kshitij09 commented on #226
Sure :+1:

[2019-11-26 05:38] npswedberg commented on #230
I am fairly stuck on this issue and won't have a lot of time in the next month to work on this so I believe it would be best if this was reassigned

[2019-11-26 15:36] robstoll commented on #230
No worries, I'll merge your PR into a different branch tomorrow and take over. Thanks for what is already done :)

[2019-11-26 21:14] robstoll opened #273 "remove `bundle` from module name of a bundle"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): all

## Code related feature
The artifact does not contain `bundle`, neither do the projects and so shouldn't the module name in module-info.java

Introduce this change only for the new atrium-fluent-en_GB-jvm bundle or in other words, no backward compatibility break elsewhere

[2019-11-27 04:30] npswedberg commented on #230
Really appreciate all of the guidance sorry I couldn't be more help

[2019-11-27 07:11] robstoll commented on #230
Come back once you have more time again, your contribution is always welcome and I am happy to help out.

[2019-11-27 07:19] #273 closed

[2019-11-28 05:57] ShradhaSangtani commented on #176
@robstoll I am working on it. Will raise PR soon.

[2019-11-28 15:14] robstoll commented on #138
implemented with 77763e87

[2019-11-28 15:14] #138 closed

[2019-12-02 14:16] robstoll commented on #230
In case someone want to take over the work from @npswedberg base your PR on the branch [#267-map-entry-new-infix-api](https://github.com/robstoll/atrium/tree/%23267-map-entry-new-infix-api)

[2019-12-03 10:10] robstoll commented on #262
@vivek0203 do you need any help? I am going to un-assign you again as I haven't heard anything from you. Happily assign you again if you are still working on it or in case you intend to start now.

[2019-12-03 10:10] robstoll commented on #259
@name213 do you need any help?

[2019-12-03 10:11] robstoll commented on #176
Implemented with #275

[2019-12-03 10:11] #176 closed

[2019-12-04 09:02] name213 commented on #259
@robstoll hey thanks for offering help, I will push my WIP today or tomorrow

[2019-12-04 23:37] lukebiddell commented on #262
I'll work on this

[2019-12-05 06:33] robstoll commented on #262
@lukebiddell `isBefore` is almost implemented, have a look at https://github.com/robstoll/atrium/pull/264/files in case you are stuck.

[2019-12-05 21:42] StragaSevera opened #276 "The example for installing a Infix API from Readme is wrong"
*Affected Version*:0.9.0-alpha
*API* (fluent-en_GB, cc or cc-infix): infix
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): none

## How to reproduce the problem
Follow the example of installing an Infix API from Readme:

[code]

[2019-12-06 06:05] robstoll commented on #276
Oh bummer, the new infix API does not yet exist in 0.9.0-alpha. But good to see that there is interest. You can use `atrium-cc-infix-en_GB-robstoll:0.8.0` in the meantime. For more detail: https://github.com/robstoll/atrium/blob/v0.8.0/README.md#jvm

In case you want to help bringing the new infix API forward:
https://github.com/robstoll/atrium/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22good+fir

[2019-12-06 16:45] afurtak commented on #233
I'll work on this

[2019-12-07 21:23] lukebiddell commented on #262
After forking, cloning then importing the build.gradle file and building it using ./gr build (following the instructions), all files are throwing me errors. Have you seen this before?

![image](https://user-images.githubusercontent.com/18555718/70380705-6533a300-1937-11ea-8ff7-fb9aea4e88f2.png)

It seems to build fine, though I did get this error on importing. Unsure whether it is related.

`8:37

[2019-12-07 22:02] robstoll commented on #262
Unfortunately a bug in intellij and there is no way to suppress it via intellij. A workaround is to use jdk8 in the project settings. Then intellij does not apply this wrong check

[2019-12-08 00:03] lukebiddell commented on #262
Ah I see, so mainly problems with Intellij. Thanks for your help.

I'll give it a go 👍

[2019-12-10 11:03] robstoll opened #279 "let the ObjectFormatter format null/RawString.NULL"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Currently we deal with representing `null` in two places. In the ObjectFormatter, but also in Expect where one can define a `nullRepresentation`. IMO we should get rid of `nullRepresentation` and only let the ObjectFormatter decide on how to do it. Also, RawString.NULL should be treated specially

[2019-12-10 11:18] robstoll opened #280 "deprecate AssertionChecker, use specialised Expect"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
AssertionCheckers responsibility is to check assertions and decide what should be done if they do not hold. This idea is not bad but has some drawbacks because:
- the creator of an Expect decides what AssertionChecker should be used, giving the Expect, which represents the context, not the chance

[2019-12-12 20:57] robstoll commented on #116
@monst12 do you still work on this issue?

[2019-12-12 20:58] robstoll commented on #127
@lelloman any updates on this one? Still here if you need help :slightly_smiling_face:

[2019-12-12 20:59] robstoll commented on #180
@gawarz unassigning you so that others can take over. Just leave a comment here in case you still work on it and I assign you again.

[2019-12-12 21:00] robstoll commented on #216
@aljacinto do you need any help?

[2019-12-12 21:01] robstoll commented on #223
@DiscreetDmitriy any progress on this one? Do you need help?

[2019-12-12 21:02] robstoll commented on #229
@dragid10 any progress on this one? do you need help?

[2019-12-12 21:03] robstoll commented on #235
@sanatik do you need any help?

[2019-12-13 06:25] robstoll commented on #80
@bsemexan I hope you have sorted out your problems with your mac. Are you still working on this one? Do you need help?

[2019-12-13 14:26] bsemexan commented on #80
I did sort it out and was taking a crack at it but then I just started a new job, my first dev job so I have been busy with that. I will try again once that settles.

[2019-12-13 18:54] robstoll commented on #97
implemented with 7e09509

[2019-12-13 18:54] #97 closed

[2019-12-13 20:08] robstoll commented on #279
implemented with a38c06e2

[2019-12-13 20:08] #279 closed

[2019-12-14 21:25] aljacinto commented on #216
Sorry @robstoll, got busy.  Can you reassign to someone else?

[2019-12-17 16:48] bsemexan commented on #80
I assume this issue should have resolved since the PR was merged

[2019-12-17 17:02] robstoll commented on #80
Thanks for the reminder

[2019-12-17 17:02] #80 closed

[2019-12-17 19:32] bsemexan commented on #81
is this basically dumping all the build configs from the diff ones already there into one?

[2019-12-17 19:40] robstoll commented on #81
Not only but yes there is surely a great overlap. It will especially show how one can use Atrium in a test of a common module.

[2019-12-18 13:16] bsemexan commented on #81
I went ahead and requested to join Slack as I have questions

[2019-12-25 11:49] robstoll commented on #259
implemented with f0f0e3e

[2019-12-25 11:49] #259 closed

[2019-12-25 19:51] robstoll opened #285 "do not report the value type of map with a non-nullable value type"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]
Results in the following report:
[code]

The extra hint about the type makes only sense if the Map has a nullable value type. IF it doesn't it does not make sense. A user with a Reporter which reports all assertions would see this hint also for non-nullable value types where it is superflu

[2019-12-25 20:27] robstoll commented on #285
Unfortunately, we cannot implement it due to this JS bug: https://youtrack.jetbrains.com/issue/KT-33294
There is a workaround we already apply to `toBe` but IMO we can wait with this enhancement until the bug is fixed.

[2019-12-25 21:02] name213 commented on #261
I'll work on this!

[2019-12-25 21:02] name213 commented on #260
I'll work on this!

[2019-12-29 11:46] robstoll commented on #261
Implemented with fed24ec

[2019-12-29 11:46] #261 closed

[2019-12-29 18:19] robstoll commented on #4
@casz I just came across this issue by coincidence and saw your wish that Atrium should support JS. In case you haven't seen it, Atrium supports JS since 0.8.0
Happy new year :champagne:

[2019-12-29 19:31] casz commented on #4
👏 Many thanks! 🙏
Happy new year 🍾

[2019-12-30 17:11] name213 commented on #232
I'd like to work on this.

[2020-01-03 15:11] johnGachihi commented on #204
I could work on this

[2020-01-03 17:22] johnGachihi commented on #204
@robstoll, in the instructions, you mention that `isFailure()` should return `ChangedSubjectPostStep` but then you also say that its implementation should use `ExpectImpl.feature.extractor...` which returns an `ExtractedFeaturePostStep`.
Does this mean that the method's implementation should, first, use `ExpectImpl.feature.extractor...` to extract the exception from the `Result`, and then, use `Ex

[2020-01-03 19:27] robstoll commented on #204
@johnGachihi I probably have updated the description to `use feature.extractor` without changing the return type. Updated it know. I'll merge part of https://github.com/robstoll/atrium/pull/270 later this evening in order that you don't have to repeat this work. Have a look at it, it's very similar.

[2020-01-03 21:10] robstoll commented on #232
Implemented with f42e2c4

[2020-01-03 21:10] #232 closed

[2020-01-03 21:15] robstoll commented on #203
Implemented with 6ef99c01

[2020-01-03 21:15] #203 closed

[2020-01-03 22:31] robstoll commented on #204
@johnGachihi please rebase on master, I have merged Result.isSuccess (see 6ef99c01 for details) and made some cleanup and added some TODOs for you.

I was actually wrong in my last comment, the domain will return ChangedSubjectPostStep as we need to narrow the subject down to the specific exception type (kind of what you expected).

I have updated the description again and I have also changed the

[2020-01-04 07:37] robstoll commented on #233
@afurtak do you need help?

[2020-01-04 18:34] johnGachihi commented on #204
Thanks. The description makes better sense now.

[2020-01-04 20:51] robstoll opened #289 "ChronoLocalDate(Time) funs should accept ChronoLocalDate"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
The following does currently not work but should (
[code]

We need to change the signatures from `expected: T` to `expected: ChronoLocalDate`

The same problem applies to ChronoLocalDateTime and ChronoZonedDateTime where the functions should accept `ChronoLocalDateTime<*>` and `ChronoZonedDateTim

[2020-01-04 21:16] robstoll commented on #262
@lukebiddell I have update the description, I realised that the functions should be a bit different (see #289 for details)

[2020-01-04 21:52] robstoll commented on #289
@name213 I assigned the tasks to you as you worked in this area lately, let me know in case you don't have time.

[2020-01-04 22:10] robstoll opened #290 "ChronoLocalDate(Time) and ChronoZonedDateTime.isEqual"
*Platform* (jvm, js, android): jvm
*Extension* (none, kotlin 1.3, jdk8): jdk8

## Code related feature
[code]

Following the things you need to do (same same but different for `ChronoLocalDateTime<out ChronoLocalDate>` and `ChronoZonedDateTime<out ChronoLocalDate>`

*domain-lib*
- add _isEqual to chronoLocalDateAssertions.kt by using `ExpectImpl.builder.createDescriptive(...` (see other functions)

[2020-01-05 02:19] name213 commented on #289
@robstoll  sure, would love to work on this

[2020-01-06 20:37] igorakkerman opened #292 "Add option to display only unexpected or missing elements in asserts on collections"
Hi, when an assert on elements of large collections fails, it would be very helpful to only see "bad" items, _not_ those that were expected. Currently, all elements in the collection are shown.

For instance, with `containsExactly` / `contains.inOrder.only.entries`, a section is dedicated to every single element, the encountered element is equal to the expected one or not. A correct element is ann

[2020-01-06 22:36] robstoll commented on #292
taking a look at an example for the discussion:
[code]
and the output:
[code]
Would you expect that the hint about the size shows up nonetheless or also only if it failed?
<hr/>

Would you personally also use it for Map contains functions? (I intend to add features only if people actually use it)

[2020-01-06 23:08] igorakkerman commented on #292
Thank you for being so open for feedback. Since you're asking about my personal preferences:
- Show the size only if it is wrong.
- Show the size above the content, not at the end. After all, it's the first thing that I'd like to notice, not only after scrolling down.
- Visually separate the size from the values, e.g. through a blank line or a different format. It happened to me a few times to onl

[2020-01-06 23:19] robstoll commented on #292
Well, thanks for sharing your valuable feedback :+1:
Regarding the size, please have also a look at the following example:
[code]
Its output (only showing failures, thus I have removed ✔/✘ marks)
[code]
would you still place the size including the `additional entries detected`-hint above the entries?

[2020-01-06 23:29] robstoll commented on #289
implemented with d64c565

[2020-01-06 23:29] #289 closed

[2020-01-06 23:44] igorakkerman commented on #292
I'd put the size above, as it feels like a kind of summary to me. In most tests from other people, I've even seen the size to be asserted before the content, as a fail fast test. I'd leave the additional entries below, though.

Using Atrium, I found "to be" as a bit weird in the list (despite understanding where it comes from).

For the size values, the hashes have no value, are rather confusing a

[2020-01-07 13:41] robstoll opened #295 "align values in reporting"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
[code]
The current output:
[code]

Maybe it would be more readable if we align the values? As follows:
[code]
Of course, this is a very simple example and it can get quickly more complicated where it might not be so obvious how we should align, consider the following:
[code]
the current output
[c

[2020-01-07 14:03] robstoll commented on #292
I see a point where Atrium could improve due to your feedback: align values in reporting. This would require a different way we produce the reporting as we don't have knowledge about previous or future assertions which will be added to the list in addition. I have created another issue (#295) where we can discuss it.

On the other hand, you could already:
- provide an own translation for TO_BE, e.

[2020-01-08 10:30] robstoll commented on #260
implemented with b78d6b4

[2020-01-08 10:30] #260 closed

[2020-01-08 10:31] robstoll commented on #217
@piyushmor un-assigning you as you don't seem to work on it any more. Let me know in case you take it up again.

[2020-01-08 12:44] robstoll commented on #204
implemented with 163071b

[2020-01-08 12:44] #204 closed

[2020-01-08 21:19] igorakkerman commented on #292
I agree that the size check is confusing if it comes first at the level of the entries. If they have to stay at the "triangle" level, it's better to have them elsewhere...

[2020-01-09 15:54] johnGachihi commented on #127
I'll work on this

[2020-01-09 18:10] jGleitz commented on #285
related: in https://github.com/robstoll/atrium-roadmap/issues/7, we are discussing to drop the instance check from `toBe` entirely. This would probably then also apply to this assertion as well.

[2020-01-09 21:53] robstoll opened #297 "isLess/isGreater/isBefore/isAfterOrEquals should be ...Equals"
*Affected Version*: 0.8.0, 0.9.0-alpha
*API* (fluent-en_GB, cc or cc-infix): all, but fix only in fluent-en_GB
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none and jdk8

## How to reproduce the problem
Consider the following code snippet
[code]
The wording is actually not entirely correct, is should be isLessOrEqual and not OrEquals

Moreover, it should also be `isLess

[2020-01-09 22:12] robstoll commented on #262
implemented with 569373b

[2020-01-09 22:12] #262 closed

[2020-01-09 22:13] robstoll commented on #235
@sanatik are you still working on this one? I am un-assigning you so that others can take over. let me know if you want to give it a go again and I re-assign you.

[2020-01-09 22:31] robstoll commented on #297
implemented with 65de6ffe

[2020-01-09 22:31] #297 closed

[2020-01-10 08:58] robstoll commented on #245
@iamshubh are you still working on it?

[2020-01-10 10:15] robstoll opened #298 "remove isA check in toBe for nullable types"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
See https://github.com/robstoll/atrium-roadmap/issues/7 for detailed discussion
[code]
the output:
[code]
the `is instance of type` does not add anything as we see the type of `2` as well `(kotlin.Int <503195940>)` thus I we decided to remove the `isA` check entirely and implement an own not null

[2020-01-10 10:38] robstoll commented on #285
We have to implement contains for value not in terms of toBeNullIfNullGivenElse to achieve this but with toBe. Once https://github.com/robstoll/atrium/issues/298 is implemented, then this should be correct as well.

[2020-01-10 11:22] robstoll opened #299 "move size check out of Iterable.contains assertions"
*Platform* (jvm, js, android): all
*Extension* (none, kotlin 1.3, jdk8): none

## Code related feature
Discussion see #292 and https://github.com/robstoll/atrium-roadmap/issues/53

In short move the `> size: 2 to be ...` check out of `contains..`